<div class="admin-loading">
  
</div>

<div class="admin-layout">
    <nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 bg-gradient">
      <ul class="navbar-nav px-3" style="margin-left: auto;">
        <li class="nav-item text-nowrap">
          <a *ngIf="user" (click)="showDropdown()" class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.name }}&nbsp;</a>
          <div class="dropdown-menu admin-menu-dropdown" style="right: 0; left: auto; position: absolute;" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="javascript:" (click)="onLogout()">Logout</a>
          </div>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="page-sidebar">
                <div class="sidebar-title"><i class="fa fa-fort-awesome"></i> <span class="title-1">mlm</span><b>house</b></div>
                <div class="sidebar-label">NAVIGATION</div>
                <nav>
                    <a class="clearfix" href="#" routerLinkActive="active" href="#" [routerLink]="['/admin/dashboard']">
                       <div class="nav-label">Dashboard</div>
                       <div class="nav-icon-container">
                           <div class="nav-icon"><i class="fa fa-home"></i></div>
                       </div> 
                    </a>
                    <a class="clearfix" href="#" routerLinkActive="active" href="#" [routerLink]="['/admin/member']">
                       <div class="nav-label">Member List</div>
                       <div class="nav-icon-container">
                           <div class="nav-icon"><i class="fa fa-address-book"></i></div>
                       </div> 
                    </a>
                    <a class="clearfix" href="#" routerLinkActive="active" href="#" [routerLink]="['/admin/product']">
                       <div class="nav-label">Product</div>
                       <div class="nav-icon-container">
                           <div class="nav-icon"><i class="fa fa-shopping-cart"></i></div>
                       </div> 
                    </a>
                     <a class="clearfix" href="#" routerLinkActive="active" href="#" [routerLink]="['/admin/cashin']">
                       <div class="nav-label">Cash In Processing</div>
                       <div class="nav-icon-container">
                           <div class="nav-icon"><i class="fa fa-bank"></i></div>
                       </div>
                    </a>
                    <a class="clearfix" href="#" routerLinkActive="active" href="#" [routerLink]="['/admin/payout']">
                       <div class="nav-label">Payout Processing</div>
                       <div class="nav-icon-container">
                           <div class="nav-icon"><i class="fa fa-money"></i></div>
                       </div> 
                    </a>
                    <a class="clearfix" href="#" routerLinkActive="active" href="#" [routerLink]="['/admin/cashier']">
                       <div class="nav-label">Stockist and Branches</div>
                       <div class="nav-icon-container">
                           <div class="nav-icon"><i class="fa fa-map-marker"></i></div>
                       </div> 
                    </a>
                    <a class="clearfix" href="#" routerLinkActive="active" href="#" [routerLink]="['/admin/marketing']">
                       <div class="nav-label">Marketing Plan</div>
                       <div class="nav-icon-container">
                           <div class="nav-icon"><i class="fa fa-file-o"></i></div>
                       </div> 
                    </a>
                    <a class="clearfix" href="#" routerLinkActive="active" href="#" [routerLink]="['/admin/report']">
                       <div class="nav-label">Reports</div>
                       <div class="nav-icon-container">
                           <div class="nav-icon"><i class="fa fa-area-chart"></i></div>
                       </div> 
                    </a>
                </nav>
            </div>
            <div class="page-content">
                <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
                    <router-outlet></router-outlet>
                </main>
            </div>
        </div>
    </div>
</div>