@import "scss/variables";
@import "scss/buttons";

.pre-loader
{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 9999;
	text-align: center;
	opacity: 0;
	transition: 0.5s all ease;
	pointer-events: none;
	.fa
	{
		margin: 0;
		position: fixed;
		top: 30%;
  		transform: translateY(-50%);
  		margin: auto;
  		z-index: 99999;
  		margin-bottom: 50px;
  		color: #fff;
  		opacity: 0.8;
	}
	&.show
	{
		opacity: 1;
		pointer-events:auto;
	}
}