td
{
	text-align:center;
	border-right-style: groove;
	border-top: none;
}

.header
{
	font-size: 25px;
}

.big
{
	font-size: 50px;
	font-weight:10px;
}

.italic
{
	font-style:italic;
}

.blue
{
	color:#1e88e5;
}

.no-border
{
	border: none;
}




