<div class="p-5">
	<p class="text-normal text-center">Set variety of membership for members</p>
	<div class="form-container my-5">
		<form class="wow fadeIn">
			<div class="d-flex flex-column">
				<div class="form-group">
					<div class="checkbox checbox-switch switch-info">
						<label>
							<input type="checkbox" name="">
							<span></span>
							Allow free registration without membership
						</label>
					</div>
				</div>
				<div class="form-group">
					<div class="checkbox checbox-switch switch-info">
						<label>
							<input type="checkbox" name="" checked="">
							<span></span>
							Multiple types of membership
						</label>
					</div>
				</div>
				<div class="form-group">
					<div class="checkbox checbox-switch switch-info">
						<label>
							<input type="checkbox" name="" checked="">
							<span></span>
							GC inclusive on membership
						</label>
					</div>
				</div>
				<div class="form-group">
					<div class="checkbox checbox-switch switch-info">
						<label>
							<input type="checkbox" name="" checked="">
							<span></span>
							Product inclusive on membership
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a href="" class="float-left fnt-1">Member</a>
				</div>
				<div class="col-md-6 ">
					<a href="" class="float-right">+Add Membership</a>
				</div>
			</div>
			<div class="d-flex">
				<table class="table table-sm table-striped border">
					<thead>
						<tr>
							<th>Membership Name</th>
							<th>Membership Price</th>
							<th>Inclusive GC</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Silver</td>
							<td>1,500.00</td>
							<td>150.00 GC</td>
							<td><a href="">Delete</a></td>
						</tr>
						<tr>
							<td>Gold</td>
							<td>2,500.00</td>
							<td>150.00 GC</td>
							<td><a href="">Delete</a></td>
						</tbody>
					</table>
				</div>
			</form>
		</div>
		<hr>
		<div class="button-holder text-right">
			<!-- <button type="" class="btn-c btn-fblue">Next »</button> -->
			<!-- <button type="" class="btn-c btn-fblue">Back »</button> -->
			<a class="btn-c btn-fblue" href="#" [routerLink]="['/wizard/3']" role="button">« Back</a>
			<a class="btn-c btn-fblue ml-1" href="#" [routerLink]="['/wizard/5']" role="button">Next »</a>
		</div>
	</div>