<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Test</h1>
</div>
<form (ngSubmit)="onSubmit()" #testForm="ngForm">
	<p class="text-center">{{diagnostic}}</p>
	<div class="form-group">
		<label>Parameter 1</label>
		<input [(ngModel)]="model.param_1" required name="param_1" type="text" class="form-control" placeholder="(string)">
	</div>
	<button type="submit" class="btn btn-primary {{ submitted == true ? 'disabled' : '' }}" [disabled]="!testForm.form.valid">Submit</button>
</form>

<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Parameter 1</div>
    <div class="col-xs-9  pull-left">{{ model.param_1 }}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>