<div class="form-container">
	<!-- TITLE GROUP -->
	<div class="title-group">
		<div class="clearfix">
			<div class="pull-left icon"><i class="fa fa-file-o"></i></div>
			<div class="pull-left">
				<h3 class="main-title">Marketing Plan</h3>
				<div class="sub-title">Manage marketing plan and computations</div>
			</div>
			<div class="pull-right">
				<!-- BUTTON GROUP -->
				<div class="button-group">
					<button class="btn btn-secondary" type="button"><i class="fa fa-cogs"></i> Plan Configuration</button>
					<button class="btn btn-secondary" type="button" (click)="manage_membership()"><i class="fa fa-drivers-license-o"></i> Manage Membership</button>
				</div>
			</div>
		</div>
	</div>
	<!-- FILTER AND SEARCH GROUP -->
	<div class="filter-search-group">
		<div class="row">
			<div class="col-md-6">
				<select class="form-control form-control-sm">
					<option>All Genealogy Type</option>
				</select>
				<select class="form-control form-control-sm">
					<option>All Trigger</option>
				</select>
			</div>
			<div class="col-md-2">
			</div>
			<div class="col-md-4">
				<input type="text" class="form-control form-control-sm pull-right" placeholder="Search computation plan" name="">
			</div>
		</div>
	</div>
	<!-- TABLE CONTENT -->
	<div class="table-responsive">
		<table class="table table-bordered table-hover table-sm">
			<thead>
				<tr>
					<th class="text-center">Complan Name</th>
					<th class="text-center">Earning Label</th>
					<th class="text-center">Genealogy Type</th>
					<th class="text-center">Trigger</th>
					<th class="text-center">Status</th>
				</tr>
			</thead>
			<tbody>
				<tr data-toggle="modal" data-target="#editProduct" (click)="active_tab('direct')">
					<td class="text-center">Direct</td>
					<td class="text-center">{{plan_label['DIRECT']}}</td>
					<td class="text-center">Unilevel Genealogy</td>
					<td class="text-center">Slot Creation</td>
					<td class="text-center" *ngIf="plan_status['DIRECT'] == 1"><span class="green">ACTIVE</span></td>
					<td class="text-center" *ngIf="plan_status['DIRECT'] == 0"><span class="red">INACTIVE</span></td>
				</tr>
				<tr data-toggle="modal" data-target="#editProduct" (click)="active_tab('indirect')">
					<td class="text-center">Indirect</td>
					<td class="text-center">{{plan_label['INDIRECT']}}</td>
					<td class="text-center">Unilevel Genealogy</td>
					<td class="text-center">Slot Creation</td>
					<td class="text-center" *ngIf="plan_status['INDIRECT'] == 1"><span class="green">ACTIVE</span></td>
					<td class="text-center" *ngIf="plan_status['INDIRECT'] == 0"><span class="red">INACTIVE</span></td>
				</tr>
				<tr data-toggle="modal" data-target="#editProduct" (click)="active_tab('unilevel')">
					<td class="text-center">Unilevel</td>
					<td class="text-center">{{plan_label['UNILEVEL']}}</td>
					<td class="text-center">Unilevel Genealogy</td>
					<td class="text-center">Product Repurchase</td>
					<td class="text-center" *ngIf="plan_status['UNILEVEL'] == 1"><span class="green">ACTIVE</span></td>
					<td class="text-center" *ngIf="plan_status['UNILEVEL'] == 0"><span class="red">INACTIVE</span></td>
				</tr>
				<tr data-toggle="modal" data-target="#editProduct" (click)="active_tab('stairstep')">
					<td class="text-center">Stair Step</td>
					<td class="text-center">{{plan_label['STAIRSTEP']}}</td>
					<td class="text-center">Unilevel Genealogy</td>
					<td class="text-center">Product Repurchase</td>
					<td class="text-center" *ngIf="plan_status['STAIRSTEP'] == 1"><span class="green">ACTIVE</span></td>
					<td class="text-center" *ngIf="plan_status['STAIRSTEP'] == 0"><span class="red">INACTIVE</span></td>
				</tr>
				<tr data-toggle="modal" data-target="#editProduct" (click)="active_tab('binary')">
					<td class="text-center">Binary</td>
					<td class="text-center">{{plan_label['BINARY']}}</td>
					<td class="text-center">Binary Genealogy</td>
					<td class="text-center">Slot Placement</td>
					<td class="text-center" *ngIf="plan_status['BINARY'] == 1"><span class="green">ACTIVE</span></td>
					<td class="text-center" *ngIf="plan_status['BINARY'] == 0"><span class="red">INACTIVE</span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- POPUP - PLACEMENT -->
<div class="modal fade" id="manageMembershipPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<form (ngSubmit)="membership_submit()" #membershipForm="ngForm">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-drivers-license-o"></i> Manage Membership</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-row">
						<div class="form-group col-md-12">
							<div class="table-group">
								<div class="table-responsive">
									<table class="table table-bordered table-hover table-sm" style="table-layout: fixed">
										<thead>
											<tr>
												<th class="text-center">Membership Name</th>
												<th class="text-center">Hierarchy (1-100) - 100 is the highest</th>
												<th width="50px"></th>
											</tr>
										</thead>
										<tbody *ngIf="manage_membership_data">
											<tr *ngFor="let data of manage_membership_data; let i = index; let first = first; let last = last" [class.hide]="data.archive == 1">
												<td><input [ngModelOptions]="{standalone: true}" value="{{ data.membership_name }}" [(ngModel)]="manage_membership_data[i].membership_name" type="text" class="form-control form-control-sm text-center"></td>
												<td><input [ngModelOptions]="{standalone: true}" value="{{ data.hierarchy }}" [(ngModel)]="manage_membership_data[i].hierarchy" type="number" max="100" class="form-control form-control-sm text-center"></td>
												<td (click)="last ? add_membership(i) : remove_membership(i)" class="text-center {{ last ? 'blue' : 'red' }} valign-middle"><i class="fa fa-{{ last ? 'plus' : 'close' }}"></i></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Update Membership</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- POPUP - SETTINGS COMPLAN -->
<div class="modal fade big-popup-with-tab" id="editProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-shopping-cart"></i> Complan Settings</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- TABS -->
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link plan-tab active" id="direct-tab" data-toggle="tab" href="#direct" role="tab" aria-controls="direct" aria-selected="true">Direct</a>
					</li>
					<li class="nav-item">
						<a class="nav-link plan-tab" id="indirect-tab" data-toggle="tab" href="#indirect" role="tab" aria-controls="indirect" aria-selected="true">Indirect</a>
					</li>
					<li class="nav-item">
						<a class="nav-link plan-tab" id="unilevel-tab" data-toggle="tab" href="#unilevel" role="tab" aria-controls="unilevel" aria-selected="true">Unilevel</a>
					</li>
					<li class="nav-item">
						<a class="nav-link plan-tab" id="stairstep-tab" data-toggle="tab" href="#stairstep" role="tab" aria-controls="stairstep" aria-selected="true">Stair Step</a>
					</li>
					<li class="nav-item">
						<a class="nav-link plan-tab" id="binary-tab" data-toggle="tab" href="#binary" role="tab" aria-controls="binary" aria-selected="true">Binary</a>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<!-- TAB.DIRECT -->
					<div class="tab-pane fade show active" id="direct" role="tabpanel" aria-labelledby="direct-tab">
						
							<!-- PRODUCT INFORMATION -->
							<div class="group-title">Settings for Direct</div>
							<div class="form-row">
								<div class="form-group col-md-12">
									<label><b>Earning Label</b></label>
									<input type="text" class="form-control form-control-sm" name="direct_label" [(ngModel)]="plan_label['DIRECT']">
								</div>
							</div>
							<div class="group-title">Direct Referral Combinations</div>
							<div class="form-row">
								<div class="form-group col-md-12">
									<div class="table-group">
										<div class="table-responsive">
											<table class="table table-bordered table-hover table-sm" style="table-layout: fixed">
												<thead>
													<tr>
														<th></th>
														<th class="text-center" colspan="2">Membership of Newly Registered User(s)</th>
													</tr>
													<tr>
														<th class="text-center">Membership of Recipient</th>
														<th class="text-center" *ngFor="let membership of membership_list;">{{membership.membership_name}}</th>
														<th class="text-center" *ngIf="membership_list?.length == 0"></th>
														<th class="text-center" *ngIf="membership_list?.length == 0"></th>
														<th class="text-center" *ngIf="membership_list?.length == 1"></th>
													</tr>
												</thead>
												<tbody *ngIf="plan_settings['DIRECT']">
													<tr *ngFor="let membership of membership_list;">
														<td class="text-center valign-middle">{{membership.membership_name}}</td>
														<td *ngFor="let membership2 of membership_list;">
															<input type="text" class="form-control no-negative form-control-sm text-center" name="binary_pts[{{membership.membership_id}}][{{membership2.membership_id}}]" [(ngModel)]="plan_settings['DIRECT']['direct_settings'][membership.membership_id][membership2.membership_id]">
														</td>
														<td *ngIf="membership_list?.length == 0"></td>
														<td *ngIf="membership_list?.length == 0"></td>
														<td *ngIf="membership_list?.length == 1"></td>
													</tr> 
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="button-container clearfix text-right">
								<button type="button" class="btn btn-secondary" *ngIf="plan_status['DIRECT'] == 0" (click)="update_status_plan('DIRECT',1)"><i class="fa fa-check"></i> Enable Direct</button>
								<button type="button" class="btn btn-secondary" *ngIf="plan_status['DIRECT'] == 1" (click)="update_status_plan('DIRECT',0)"><i class="fa fa-hand-stop-o"></i> Disable Direct</button>
								<button type="button" class="btn btn-primary" (click)="update_plan('DIRECT')"><i class="fa fa-check"></i> Update & Enable Direct</button>
							</div>
						
					</div>
					<!-- TAB.INDIRECT -->
					<div class="tab-pane fade" id="indirect" role="tabpanel" aria-labelledby="indirect-tab">
						<form class="form-tab">
							<!-- PRODUCT INFORMATION -->
							<div class="group-title">Settings for Indirect</div>
							<div class="form-row">
								<div class="form-group col-md-12">
									<label><b>Earning Label</b></label>
									<input type="text" class="form-control form-control-sm" name="indirect_label" value="Indirect Referral Bonus" [(ngModel)]="plan_label['INDIRECT']">
								</div>
							</div>
							<div class="group-title">Indirect Referral Levels</div>
							<div class="form-row">
								<div class="form-group col-md-12">
									<div class="table-group">
										<div class="table-responsive">
											<table class="table table-bordered table-hover table-sm" style="table-layout: fixed">
												<thead>
													<tr>
														<th class="text-center">Membership of Recipient</th>
														<th class="text-center">Number of Levels</th>
													</tr>
												</thead>
												<tbody>
													<tr *ngFor="let membership of membership_list;">
														<td class="text-center valign-middle">{{membership.membership_name}}</td>
														<td class="text-center">
															<input type="text" name="membership_indirect_level[{{membership.membership_id}}]" [(ngModel)]="membership.membership_indirect_level" (keyup)="change_level('INDIRECT',membership.membership_id,$event.target.value)" class="form-control form-control-sm text-center no-negative">
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<ng-container *ngIf="membership_list">
								<div *ngFor="let membership of membership_list">
									<div class="group-title">Combination Earnings of "{{membership.membership_name}}" as Recipient</div>
									<div class="form-row">
										<div class="form-group col-md-12">
											<div class="table-group">
												<div class="table-responsive">
													<table class="table table-bordered table-hover table-sm" style="table-layout: fixed">
														<thead>
															<tr>
																<th></th>
																<th class="text-center" colspan="3">Membership of Newly Registered User(s)</th>
															</tr>
															<tr>
																<th class="text-center">Level</th>
																<th class="text-center" *ngFor="let membership2 of membership_list">{{membership2.membership_name}}</th>
																<th *ngIf="membership_list?.length == 0"></th>
																<th *ngIf="membership_list?.length == 0"></th>
																<th *ngIf="membership_list?.length == 0"></th>	
																<th *ngIf="membership_list?.length == 1"></th>	
																<th *ngIf="membership_list?.length == 1"></th>
																<td *ngIf="membership_list?.length == 2"></td>	
															</tr>
														</thead>
														<tbody>
															<ng-container *ngIf="plan_settings['INDIRECT']">
																<tr *ngFor="let membership_level of plan_settings['INDIRECT']['membership_level'][membership.membership_id]; let i = index; ">
																	<td class="text-center valign-middle">{{i + 2}}</td>
																	<td class="text-center" *ngFor="let membership3 of membership_list">
																			<input type="text" class="form-control form-control-sm text-center no-negative" name="indirect_levels[{{membership.membership_id}}][{{i + 2}}][{{membership3.membership_id}}]" [(ngModel)]="plan_settings['INDIRECT']['indirect_settings'][membership.membership_id][i + 2][membership3.membership_id]" >
																	</td>	
																	<td *ngIf="membership_list?.length == 0"></td>	
																	<td *ngIf="membership_list?.length == 0"></td>	
																	<td *ngIf="membership_list?.length == 0"></td>	
																	<td *ngIf="membership_list?.length == 1"></td>
																	<td *ngIf="membership_list?.length == 1"></td>
																	<td *ngIf="membership_list?.length == 2"></td>															
																</tr>
															</ng-container>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</ng-container>
							<div class="button-container clearfix text-right">
								<button type="button" class="btn btn-secondary" *ngIf="plan_status['INDIRECT'] == 0" (click)="update_status_plan('INDIRECT',1)"><i class="fa fa-check"></i> Enable Indirect</button>
								<button type="button" class="btn btn-secondary" *ngIf="plan_status['INDIRECT'] == 1" (click)="update_status_plan('INDIRECT',0)"><i class="fa fa-hand-stop-o"></i> Disable Indirect</button>
								<button type="button" class="btn btn-primary" (click)="update_plan('INDIRECT')"><i class="fa fa-check"></i> Update & Enable Indirect</button>
							</div>
						</form>
					</div>
					<!-- TAB.UNILEVEL -->
					<div class="tab-pane fade" id="unilevel" role="tabpanel" aria-labelledby="unilevel-tab">
						<form class="form-tab">
							<!-- PRODUCT INFORMATION -->
							<div class="group-title">Settings for Unilevel</div>
							<div class="form-row" *ngIf="plan_settings['UNILEVEL']">
								<div class="form-group col-md-4">
									<label><b>Earning Label (Wallet)</b></label>
									<input type="text" class="form-control form-control-sm" name="unilevel_label"  [(ngModel)]="plan_label['UNILEVEL']">
								</div>
								<div class="form-group col-md-4">
									<label><b>Personal PV Label (Points)</b></label>
									<input type="text" class="form-control form-control-sm" name="personal_pv" [(ngModel)]="plan_settings['UNILEVEL']['setup'].personal_pv">
								</div>
								<div class="form-group col-md-4">
									<label><b>Group PV Label (Points)</b></label>
									<input type="text" class="form-control form-control-sm" name="group_pv" [(ngModel)]="plan_settings['UNILEVEL']['setup'].group_pv">
								</div>
								<div class="form-group col-md-6">
									<label><b>Consider Personal as Group</b></label>
									<select class="form-control form-control-sm" name="personal_as_group" [(ngModel)]="plan_settings['UNILEVEL']['setup'].personal_as_group">
										<option value="1">Enable</option>
										<option value="0">Disable</option>
									</select>
								</div>
								<div class="form-group col-md-6">
									<label><b>Conversion Rate of Group PV to Unilevel Bonus</b></label>
									<input type="text" class="form-control form-control-sm" name="gpv_to_wallet_conversion" value="1" [(ngModel)]="plan_settings['UNILEVEL']['setup'].gpv_to_wallet_conversion" >
								</div>
							</div>
							<div class="group-title">Unilevel Membership Settings</div>
							<div class="form-row">
								<div class="form-group col-md-12">
									<div class="table-group">
										<div class="table-responsive">
											<table class="table table-bordered table-hover table-sm" style="table-layout: fixed">
												<thead>
													<tr>
														<th class="text-center">Membership of Recipient</th>
														<th class="text-center">Maintenance PV</th>
														<th class="text-center">Number of Levels</th>
													</tr>
												</thead>
												<tbody>
													<tr *ngFor="let membership of membership_list">
														<td class="text-center valign-middle">{{membership.membership_name}}</td>
														<td class="text-center"><input type="text" class="no-negative form-control form-control-sm text-center" name="membership_required_pv" [(ngModel)]="membership.membership_required_pv"></td>
														<td class="text-center"><input type="text" class="no-negative form-control form-control-sm text-center" name="membership_unilevel_level" [(ngModel)]="membership.membership_unilevel_level" (keyup)="change_level('UNILEVEL',membership.membership_id,$event.target.value)" ></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<ng-container *ngIf="membership_list">
								<div *ngFor="let membership of membership_list">
									<div class="group-title"> Percentage Earnings of "{{membership.membership_name}}" as Recipient </div>
									<div class="form-row">
										<div class="form-group col-md-12">
											<div class="table-group">
												<div class="table-responsive">
													<table class="table table-bordered table-hover table-sm" style="table-layout: fixed">
														<thead>
															<tr>
																<th></th>
																<th class="text-center" [attr.colspan]="membership_list?.length">Membership of Member who Purchase Product</th>
															</tr>
															<tr>
																<th class="text-center">Level</th>
																<th class="text-center" *ngFor="let membership2 of membership_list;">{{membership.membership_name}}</th>
															</tr>
														</thead>
														<tbody *ngIf="plan_settings['UNILEVEL']">
															<tr *ngFor="let membership_level of plan_settings['UNILEVEL']['membership_level'][membership.membership_id]; let i = index; ">
																<td class="text-center valign-middle">{{i + 1}}</td>
																<td class="text-center" *ngFor="let membership3 of membership_list">
																		<input type="text" class="no-negative form-control form-control-sm text-center" name="unilevel_levels[{{membership.membership_id}}][{{i + 1}}][{{membership3.membership_id}}]" [(ngModel)]="plan_settings['UNILEVEL']['unilevel_settings'][membership.membership_id][i + 1][membership3.membership_id]" >
																</td>			
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</ng-container>
							<div class="button-container clearfix text-right">
								<button type="button" class="btn btn-secondary" *ngIf="plan_status['UNILEVEL'] == 0" (click)="update_status_plan('UNILEVEL',1)"><i class="fa fa-check"></i> Enable Unilevel</button>
								<button type="button" class="btn btn-secondary" *ngIf="plan_status['UNILEVEL'] == 1" (click)="update_status_plan('UNILEVEL',0)"><i class="fa fa-hand-stop-o"></i> Disable Unilevel</button>
								<button type="button" class="btn btn-primary" (click)="update_plan('UNILEVEL')"><i class="fa fa-check"></i> Update & Enable Unilevel</button>
							</div>
						</form>
					</div>
					<!-- TAB.STAIRSTEP -->
					<div class="tab-pane fade" id="stairstep" role="tabpanel" aria-labelledby="stairstep-tab">
						<form class="form-tab">
							<!-- PRODUCT INFORMATION -->
							<div class="group-title">Settings for Stairstep</div>
							<div class="form-row" *ngIf="plan_settings['STAIRSTEP']">
								<div class="form-group col-md-12">
									<label><b>Earning Label (Wallet)</b></label>
									<input type="text" class="form-control form-control-sm" value="Override Bonus" name="stairstep_label"  [(ngModel)]="plan_label['STAIRSTEP']">
								</div>
								<div class="form-group col-md-4">
									<label><b>Earning Label (Points)</b></label>
									<input type="text" class="form-control form-control-sm" value="Override Points" name="earning_label_points" [(ngModel)]="plan_settings['STAIRSTEP']['setup'].earning_label_points">
								</div>
								<div class="form-group col-md-4">
									<label><b>Personal PV Requirements Label (Points)</b></label>
									<input type="text" class="form-control form-control-sm" value="Accumulated Personal PV" name="personal_stairstep_pv_label" [(ngModel)]="plan_settings['STAIRSTEP']['setup'].personal_stairstep_pv_label">
								</div>
								<div class="form-group col-md-4">
									<label><b>Group PV Requirements Label (Points)</b></label>
									<input type="text" class="form-control form-control-sm" value="Accumulated Group PV" name="group_stairstep_pv_label" [(ngModel)]="plan_settings['STAIRSTEP']['setup'].group_stairstep_pv_label">
								</div>
								<div class="form-group col-md-6">
									<label><b>Consider Personal as Group</b></label>
									<select class="form-control form-control-sm" name="personal_as_group" [(ngModel)]="plan_settings['STAIRSTEP']['setup'].personal_as_group">
										<option value="1">Enable</option>
										<option value="0">Disable</option>
									</select>
								</div>
								<div class="form-group col-md-6">
									<label><b>Conversion Rate of Override Points to Override Bonus</b></label>
									<input type="text" class="form-control form-control-sm" name="sgpv_to_wallet_conversion" [(ngModel)]="plan_settings['STAIRSTEP']['setup'].sgpv_to_wallet_conversion">
								</div>
								<div class="form-group col-md-12">
									<label><b>Cutoff Computation Logic</b></label>
									<select class="form-control form-control-sm" name="live_update" [(ngModel)]="plan_settings['STAIRSTEP']['setup'].live_update">
										<option value="0">Live Update of Rank Upon Requirement Completion</option>
										<option value="1">Update Rank After Computation</option>
										<option value="2">Update Rank Before Computation</option>
									</select>
								</div>
							</div>
							<div class="group-title">Stair Step Ranking</div>
							<div class="form-row">
								<div class="form-group col-md-12">
									<div class="table-group">
										<div class="table-responsive">
											<table class="table table-bordered table-hover table-sm" style="table-layout: fixed">
												<thead>
													<tr>
														<th class="text-center">Rank Level</th>
														<th class="text-center">Rank Name</th>
														<th class="text-center">Override<br>Percentage</th>
														<th class="text-center">Maintenance<br>Personal PV</th>
														<th class="text-center">Required<br>Personal PV</th>
														<th class="text-center">Required<br>Group PV</th>
														<th width="100px"></th>
													</tr>
												</thead>
												<tbody *ngIf="plan_settings['STAIRSTEP']">
													<tr *ngFor="let step_settings of plan_settings['STAIRSTEP']['stairstep_settings']; let i = index; ">
														<td class="text-center">{{plan_settings['STAIRSTEP']['stairstep_settings'][i].stairstep_rank_level}}</td>
														<td class="text-center"><input type="text" class="form-control form-control-sm text-center" name="stairstep_rank_name[{{i}}]" [(ngModel)]="plan_settings['STAIRSTEP']['stairstep_settings'][i].stairstep_rank_name" ></td>
														<td class="text-center"><input type="text" class="no-negative form-control form-control-sm text-center" name="stairstep_rank_override[{{i}}]" [(ngModel)]="plan_settings['STAIRSTEP']['stairstep_settings'][i].stairstep_rank_override" ></td>
														<td class="text-center"><input type="text" class="no-negative form-control form-control-sm text-center" name="stairstep_rank_personal[{{i}}]" [(ngModel)]="plan_settings['STAIRSTEP']['stairstep_settings'][i].stairstep_rank_personal" ></td>
														<td class="text-center"><input type="text" class="no-negative form-control form-control-sm text-center" name="stairstep_rank_personal_all[{{i}}]" [(ngModel)]="plan_settings['STAIRSTEP']['stairstep_settings'][i].stairstep_rank_personal_all" ></td>
														<td class="text-center"><input type="text" class="no-negative form-control form-control-sm text-center" name="stairstep_rank_group_all[{{i}}]" [(ngModel)]="plan_settings['STAIRSTEP']['stairstep_settings'][i].stairstep_rank_group_all" ></td>
														<td class="text-center red  valign-middle" (click)="on_close_data('STAIRSTEP',i)" ><i class="fa fa-close"></i></td>
													</tr>
												</tbody>
												<tfoot *ngIf="plan_settings['STAIRSTEP']">
													<tr>
														<td class="text-center">{{plan_settings['STAIRSTEP']['count_stairstep_settings'] + 1}}</td>
														<td class="text-center"><input type="text" class="form-control form-control-sm text-center" name="stairstep_rank_name_end" [(ngModel)]="plan_settings['STAIRSTEP']['stairstep_settings_end'].stairstep_rank_name" ></td>
														<td class="text-center"><input type="text" class="no-negative form-control form-control-sm text-center" name="stairstep_rank_override_end" [(ngModel)]="plan_settings['STAIRSTEP']['stairstep_settings_end'].stairstep_rank_override" ></td>
														<td class="text-center"><input type="text" class="no-negative form-control form-control-sm text-center" name="stairstep_rank_personal_end" [(ngModel)]="plan_settings['STAIRSTEP']['stairstep_settings_end'].stairstep_rank_personal" ></td>
														<td class="text-center"><input type="text" class="no-negative form-control form-control-sm text-center" name="stairstep_rank_personal_all_end" [(ngModel)]="plan_settings['STAIRSTEP']['stairstep_settings_end'].stairstep_rank_personal_all" ></td>
														<td class="text-center"><input type="text" class="no-negative form-control form-control-sm text-center" name="stairstep_rank_group_all_end" [(ngModel)]="plan_settings['STAIRSTEP']['stairstep_settings_end'].stairstep_rank_group_all" ></td>
														<td class="text-center blue valign-middle" (click)="on_new_data('STAIRSTEP')" ><i class="fa fa-plus"></i></td>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="button-container clearfix text-right" *ngIf="plan_status['STAIRSTEP']" >
								<button type="button" class="btn btn-secondary" *ngIf="plan_status['STAIRSTEP'] == 0" (click)="update_status_plan('STAIRSTEP',1)"><i class="fa fa-check"></i> Enable Stairstep</button>
								<button type="button" class="btn btn-secondary" *ngIf="plan_status['STAIRSTEP'] == 1" (click)="update_status_plan('STAIRSTEP',0)"><i class="fa fa-hand-stop-o"></i> Disable Stairstep</button>
								<button type="button" class="btn btn-primary" (click)="update_plan('STAIRSTEP')"><i class="fa fa-check"></i> Update & Enable Unilevel</button>
							</div>
						</form>
					</div>
					<!-- TAB.BINARY -->
					<div class="tab-pane fade" id="binary" role="tabpanel" aria-labelledby="binary-tab">
						<form class="form-tab">
							<!-- PRODUCT INFORMATION -->
							<div class="group-title">Settings for Binary</div>
							<div class="form-row" *ngIf="plan_status['BINARY']">
								<div class="form-group col-md-4">
									<label><b>Earning Label (Wallet)</b></label>
									<input type="text" class="form-control form-control-sm" name="binary_label"  [(ngModel)]="plan_label['BINARY']" >
								</div>
								<div class="form-group col-md-4">
									<label><b>Left Points (Points)</b></label>
									<input type="text" class="form-control form-control-sm" name="binary_points_left" [(ngModel)]="plan_settings['BINARY']['setup'].binary_points_left" >
								</div>
								<div class="form-group col-md-4">
									<label><b>Right Points (Points)</b></label>
									<input type="text" class="form-control form-control-sm" name="binary_points_right" [(ngModel)]="plan_settings['BINARY']['setup'].binary_points_right">
								</div>
								<div class="form-group col-md-4">
									<label><b>Flushout Settings</b></label>
									<select class="form-control form-control-sm" name="strong_leg_retention" [(ngModel)]="plan_settings['BINARY']['setup'].strong_leg_retention" >
										<option value="1">Enable Strong Leg Rentention</option>
										<option value="0">Disable String Leg Retention</option>
									</select>
								</div>
								<div class="form-group col-md-4">
									<label><b>5th Pair Settings</b></label>
									<select class="form-control form-control-sm" name="gc_pairing_count" [(ngModel)]="plan_settings['BINARY']['setup'].gc_pairing_count" >
										<option value="5">Give GC for every 5th Pair</option>
										<option value="0">Don't do anything on 5th Pair</option>
									</select>
								</div>
								<div class="form-group col-md-4">
									<label><b>Cycle Per Day</b></label>
									<select class="form-control form-control-sm" name="cycle_per_day" [(ngModel)]="plan_settings['BINARY']['setup'].cycle_per_day" >
										<option value="1">Every 12:00 AM (1 Cycle)</option>
										<option value="2">Every 12:00 AM and 12:00 PM (2 Cycle)</option>
									</select>
								</div>
							</div>
							<div class="group-title">Points Per Entry</div>
							<div class="form-row">
								<div class="form-group col-md-12">
									<div class="table-group">
										<div class="table-responsive">
											<table class="table table-bordered table-hover table-sm" style="table-layout: fixed">
												<thead>
													<tr>
														<th></th>
														<th class="text-center" colspan="4">Membership of Newly Placed Slot(s)</th>
													</tr>
													<tr>
														<th class="text-center">Membership of Recipient</th>
														<th class="text-center">Max Pair(s) Per Cycle</th>
														<th class="text-center" *ngFor="let membership of membership_list;">{{membership.membership_name}}</th>
														<td *ngIf="membership_list?.length == 0"></td>	
														<td *ngIf="membership_list?.length == 0"></td>	
														<td *ngIf="membership_list?.length == 0"></td>	
														<td *ngIf="membership_list?.length == 1"></td>
														<td *ngIf="membership_list?.length == 1"></td>	
														<td *ngIf="membership_list?.length == 2"></td>	
													</tr>
												</thead>
												<tbody *ngIf="plan_settings['BINARY']">
													<tr *ngFor="let membership of membership_list;">
														<td class="text-center valign-middle">{{membership.membership_name}}</td>
														<td><input type="text" class="no-negative form-control form-control-sm text-center" name="membership_pairings_per_day" [(ngModel)]="membership.membership_pairings_per_day" ></td>		
														<td *ngFor="let membership2 of membership_list;">
															<input type="text" class="no-negative form-control form-control-sm text-center" name="binary_pts[{{membership.membership_id}}][{{membership2.membership_id}}]" [(ngModel)]="plan_settings['BINARY']['binary_settings'][membership.membership_id][membership2.membership_id]">
														</td>
														<td *ngIf="membership_list?.length == 0"></td>	
														<td *ngIf="membership_list?.length == 0"></td>	
														<td *ngIf="membership_list?.length == 0"></td>	
														<td *ngIf="membership_list?.length == 1"></td>
														<td *ngIf="membership_list?.length == 1"></td>	
														<td *ngIf="membership_list?.length == 2"></td>	
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="group-title">Pairing Combinations</div>
							<div class="form-row">
								<div class="form-group col-md-12">
									<div class="table-group">
										<div class="table-responsive">
											<table class="table table-bordered table-hover table-sm" style="table-layout: fixed">
												<thead>
													<tr>
														<th class="text-center">Point(s) on Left</th>
														<th class="text-center">Point(s) on Right</th>
														<th class="text-center">Pairing Reward</th>
														<th width="50px"></th>
													</tr>
												</thead>



												<tbody *ngIf="plan_settings['BINARY']">
													<tr *ngFor="let step_settings of plan_settings['BINARY']['binary_settings_pair']; let i = index; ">
														<td><input type="text" class="no-negative form-control form-control-sm text-center" name="binary_pairing_left[{{i}}]" [(ngModel)]="plan_settings['BINARY']['binary_settings_pair'][i].binary_pairing_left" ></td>
														<td><input type="text" class="no-negative form-control form-control-sm text-center" name="binary_pairing_right[{{i}}]" [(ngModel)]="plan_settings['BINARY']['binary_settings_pair'][i].binary_pairing_right" ></td>
														<td><input type="text" class="no-negative form-control form-control-sm text-center" name="binary_pairing_bonus[{{i}}]" [(ngModel)]="plan_settings['BINARY']['binary_settings_pair'][i].binary_pairing_bonus" ></td>
														<td class="text-center red  valign-middle" (click)="on_close_data('BINARY',i)" ><i class="fa fa-close"></i></td>
													</tr>
												</tbody>
												<tfoot *ngIf="plan_settings['BINARY']">
													<tr>
														<td><input type="text" class="no-negative form-control form-control-sm text-center" name="binary_pairing_left" [(ngModel)]="plan_settings['BINARY']['binary_settings_pair_end'].binary_pairing_left" ></td>
														<td><input type="text" class="no-negative form-control form-control-sm text-center" name="binary_pairing_right" [(ngModel)]="plan_settings['BINARY']['binary_settings_pair_end'].binary_pairing_right" ></td>
														<td><input type="text" class="no-negative form-control form-control-sm text-center" name="binary_pairing_bonus" [(ngModel)]="plan_settings['BINARY']['binary_settings_pair_end'].binary_pairing_bonus" ></td>
														<td class="text-center blue valign-middle" (click)="on_new_data('BINARY')" ><i class="fa fa-plus"></i></td>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="button-container clearfix text-right">
								<button type="button" class="btn btn-secondary" *ngIf="plan_status['BINARY'] == 0" (click)="update_status_plan('BINARY',1)"><i class="fa fa-check"></i> Enable Binary</button>
								<button type="button" class="btn btn-secondary" *ngIf="plan_status['BINARY'] == 1" (click)="update_status_plan('BINARY',0)"><i class="fa fa-hand-stop-o"></i> Disable Binary</button>
								<button type="button" class="btn btn-primary" (click)="update_plan('BINARY')"><i class="fa fa-check"></i> Update & Enable Binary</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>