<div class="p-5 mb-5">
	<!-- <h3 class="inf">Owner and Company Information</h3> -->
	<p class="text-normal text-center wow fadeIn">Please make sure you enter correct, details here can be viewed by your members</p>
	<div class="form-container my-5">
		<form class="wow fadeIn">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputFirstName">First Name</label>
					<input type="text" class="form-control fc-custom" id="inputFirstName" placeholder="First Name">
				</div>
				<div class="form-group col-md-6">
					<label for="inputLastName">Last Name</label>
					<input type="text" class="form-control fc-custom" id="inputLastName" placeholder="Last Name">
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail">E-mail</label>
				<input type="text" class="form-control fc-custom" id="inputEmail" placeholder="E-mail">
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-12">
					<label for="inputMobileNumber">Mobile Number</label>
					<div class="d-flex">
						<select class="form-control fc-custom w-25" id="country_code" name="country_code">
							<option *ngFor="let cc of country_codes" value="">{{cc.country}} {{ cc.number }}</option>
						</select>
						<input style="border-left: 0px;" type="text" class="form-control fc-custom w-75" id="inputMobileNumber">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="inputUsername">Username</label>
				<input type="text" class="form-control fc-custom" id="inputUsername" placeholder="Username">
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputPassword">Password</label>
					<input type="password" class="form-control fc-custom" id="inputPassword" placeholder="Password">
				</div>
				<div class="form-group col-md-6">
					<label for="inputConfirmPassword">Confirm Password</label>
					<input type="password" class="form-control fc-custom" id="inputConfirmPassword" placeholder="Confirm Password">
				</div>
			</div>
			<div class="form-group">
				<label for="inputCompanyName">Company Name</label>
				<input type="text" class="form-control fc-custom" id="inputCompanyName" placeholder="Company Name">
			</div>
			<div class="form-group">
				<label for="inputCompanyContact">Company Contact</label>
				<input type="text" class="form-control fc-custom" id="inputCompanyContact" placeholder="Company Contact">
			</div>
			<div class="form-group">
				<label for="inputCompanyAddress">Company Address</label>
				<textarea class="form-control fc-custom w-100 p-2" name="inputCompanyAddress" rows="5" cols="30"></textarea>
			</div>
			<div class="form-group">
				<label for="inputOfficeHour">Office Hours</label>
				<textarea class="form-control fc-custom w-100 p-2" name="inputOfficeHour" rows="5" cols="30"></textarea>
			</div>
			<hr>
			<div class="button-holder text-right">
				<!-- <button type="" class="btn-c btn-fblue">Next »</button> -->
				<a class="btn-c btn-fblue" href="#" [routerLink]="['/wizard/2']" role="button">Next »</a>
			</div>
		</form>
	</div>
</div>