@import "../../../app.component";

.form-control
{
	border-radius: 0px;
}

.fc-custom
{
	background-color: #ecf0f1;
}

.text-normal {
    font-family: $ff2;
    font-weight: $reg;
    font-size: 14px;
    color: #082e40;
}