<div class="form-container">
	<!-- TITLE GROUP -->
	<div class="title-group">
		<div class="clearfix">
			<div class="pull-left icon"><i class="fa fa-bank"></i></div>
			<div class="pull-left">
				<h3 class="main-title">Cash In Approval</h3>
				<div class="sub-title">You can approve cash in request from this module.</div>
			</div>
			<div class="pull-right">
				<!-- BUTTON GROUP -->
				<div class="button-group">
					<button class="btn btn-secondary" data-toggle="modal" data-target="#createSlotPopup"><i class="fa fa-file-excel-o"></i> Export</button>
					<button class="btn btn-secondary" data-toggle="modal" data-target="#viewMethodsPopup"><i class="fa fa-cog"></i> Cash-In Methods</button>
					<button class="btn btn-primary" data-toggle="modal" data-target="#processAllCashInModal"><i class="fa fa-check"></i> Process All Cash-In</button>
				</div>
			</div>
		</div>
	</div>
	<!-- FILTER AND SEARCH GROUP -->
	<div class="row py-3">
		<div class="col-lg-2 col-xs-12 pr-1">
			<small class="d-block font-weight-bold">
				Slot Code/Slot Owner
			</small>
			<input [(ngModel)]="cash_in.cash_in_owner" (change)="loadCashInList()" type="text" class="form-control form-control-sm"  placeholder="Search name or slot">	
		</div>
		<div class="col-lg-2 col-xs-12 pr-1">
			<small class="d-block font-weight-bold">
				Cash-In Method
			</small>
			<select *ngIf="method_table && method_table != 0" class="form-control form-control-sm" [(ngModel)]="cash_in.cash_in_method_id" (change)="loadCashInList()">
				<option value="all">All</option>
				<option *ngFor="let item of method_table" value="{{item.cash_in_method_id}}">{{ item.cash_in_method_name | capitalize }}</option>
			</select>
		</div>
		<div class="col-lg-2 col-xs-12 pr-1">
			<small class="d-block font-weight-bold">
				Currency
			</small>
			<select class="form-control form-control-sm" [(ngModel)]="cash_in.cash_in_currency" (change)="loadCashInList()">
				<option value="all">All</option>
				<option value="PHP">PHP</option>
				<option value="USD">USD</option>
				<option value="BTC">BTC</option>
			</select>
		</div>
		<div class="col-lg-2 col-xs-12 pr-1">
			<small class="d-block font-weight-bold">
				Status
			</small>
			<select class="form-control form-control-sm" [(ngModel)]="cash_in.cash_in_status" (change)="loadCashInList()">
				<option value="all">All</option>
				<option value="pending">Pending Approval</option>
				<option value="approved">Approved</option>
				<option value="rejected">Rejected</option>
				<option value="system_approved">System Approved</option>
			</select>
		</div>
		<div class="col-lg-2 col-xs-12 pr-1">
			<small class="d-block font-weight-bold">
				Cash In - Date From
			</small>
			<input type="date" [(ngModel)]="cash_in.cash_in_date_from"  (change)="loadCashInList()" class="form-control form-control-sm" name="">
		</div>
		<div class="col-lg-2 col-xs-12 pr-1">
			<small class="d-block font-weight-bold">
				Cash In - Date From
			</small>
			<input type="date" [(ngModel)]="cash_in.cash_in_date_to"  (change)="loadCashInList()"  (change)="loadCashInList()"class="form-control form-control-sm" name="">
		</div>
	</div>
	<!-- TABLE CONTENT -->
	<div class="table-responsive">
		<table class="table table-bordered table-hover table-sm">
			<thead>
				<tr>
					<th class="text-center">Slot Code</th>
					<th class="text-center">Member Name</th>
					<th class="text-center">Method</th>
					<th class="text-center">Currency</th>
					<th class="text-right">Amount Required</th>
					<th class="text-right">Cash In Charge</th>
					<th class="text-center">Cash In Status</th>
					<th class="text-right">Member will receive</th>
					<!-- <th class="text-right"></th> -->
				</tr>
			</thead>
			<tbody *ngIf="!cash_in_table">
				<tr>
					<td colspan="8" class="p-2 text-center">
						<img src="/assets/admin/img/spinner.gif">
					</td>
				</tr>
			</tbody>
			<tbody *ngIf="cash_in_table">
				<tr *ngIf="cash_in_table.length == 0">
					<td colspan="8" class="p-2 text-center">No results found.</td>
				</tr>
				<tr *ngFor="let data of cash_in_table | paginate: { itemsPerPage:15, currentPage: cash_in_table.cash_in_page, id: 'cash_in_page' }" (click)="openTransaction(data.cash_in_proof_id, data.cash_in_status)">
					<td class="text-center">{{ data.cash_in_slot_code | uppercase }}</td>
					<td class="text-center">{{ data.cash_in_member_name | capitalize }}</td>
					<td class="text-center">{{ data.cash_in_method_name }}</td>
					<td class="text-center">{{ data.cash_in_currency | uppercase }}</td>
					<td class="text-right">{{ data.cash_in_payable | number:'1.2-2' }}</td>
					<td class="text-right">{{ data.cash_in_charge | number:'1.2-2' }}</td>
					<td class="text-center">{{ data.cash_in_status | capitalize }}</td>
					<td class="text-right font-weight-bold">{{ data.cash_in_receivable | number:'1.2-2' }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="clearfix">
		<div class="pull-right" *ngIf="cash_in_table && cash_in_table.length != 0">
			<pagination-controls id="cash_in_page" class="my-pagination" (pageChange)="cash_in_table.cash_in_page = $event"></pagination-controls>
		</div>
	</div>
</div>
<!-- POPUP - PLACEMENT -->
<div class="modal fade" id="viewMethodsPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<!-- start 1-->
	<div class="modal-dialog modal-lg" role="document">
		<!-- start 2 -->
		<div class="modal-content" *ngIf="!cash_in_method_loading">
			<!-- start 3 -->
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-table"></i> Cash-In Methods</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- end 3 -->
			<!-- start 4 -->
			<div class="modal-body">
				<!-- start 5 -->
				<div class="row mb-3">
					<!-- start 6 -->
					<div class="col-md-3 col-xs-12">
						<small class="d-block font-weight-bold">
							Category
						</small>
						<select [(ngModel)]="method.category" (change)="loadMethodList()" class="form-control form-control-sm">
							<option value="all">All</option>
							<option *ngFor="let cate of category" value="{{cate.cash_in_method_category}}">
								{{cate.cash_in_method_category | capitalize}}
							</option>
						</select>
					</div>
					<!-- end 6 -->
					<!-- start 7 -->
					<div class="col-md-3 col-xs-12">
						<small class="d-block font-weight-bold">
							Accepted Currency
						</small>
						<select class="form-control form-control-sm" [(ngModel)]="method.currency" (change)="loadMethodList()">
							<option value="all">All</option>
							<option value="PHP">PHP</option>
							<option value="USD">USD</option>
							<option value="BTC">BTC</option>
						</select>
					</div>
					<div class="col-md-3 col-xs-12">

					</div>
					<!-- end 7 -->
					<!-- start 8 -->
					<div class="col-md-3 col-xs-12 text-right">
						<small class="d-block font-weight-bold text-light">
							.
						</small>
						<button type="submit" class="btn btn-primary btn-sm" (click)="otherEvent('add')"><i class="fa fa-plus"></i> Add Method</button>
					</div>
					<!-- end 8 -->
				</div>
				<!-- end 5 -->
				<!-- start 9 -->
				<div class="table-responsive">
					<table class="table table-bordered table-hover table-sm">
						<thead>
							<tr>
								<th class="text-center">Category</th>
								<th class="text-center">Method Name</th>
								<th class="text-center">Currency</th>
								<th class="text-center">Charge(Fixed)</th>
								<th class="text-center">Charge(%)</th>
								<th class="text-center">Thumbnail</th>
								<th class="text-center">Active</th>
								<!-- <th class="text-center">Actions</th> -->
							</tr>
						</thead>
						<tbody *ngIf="method_loading">
							<tr>
								<td colspan="8" class="text-center text-muted p-4">
									<img src="/assets/admin/img/spinner.gif">
								</td>
							</tr>
						</tbody>
						<tbody *ngIf="!method_loading">
							<tr *ngIf="method_table && method_table.length == 0">
								<td colspan="8" class="text-center text-muted">
									No results found.
								</td>
							</tr>
							<tr *ngFor="let method of method_table | paginate: { itemsPerPage:5, currentPage: method_table.page, id:'method_table_page' }" (click)="otherEvent('edit', method.cash_in_method_id )">
								<td class="text-center">{{ method.cash_in_method_category | capitalize }}</td>
								<td class="text-center">{{ method.cash_in_method_name | capitalize }}</td>
								<td class="text-center">{{ method.cash_in_method_currency | uppercase}}</td>
								<td class="text-center">{{ method.cash_in_method_charge_fixed }} {{ method.cash_in_method_currency | uppercase}}</td>
								<td class="text-center">{{ method.cash_in_method_charge_percentage }}%</td>
								<td class="text-center"><a href="{{ method.cash_in_method_thumbnail }}" target="_blank" class="nav-link"><i class="fa fa-link"></i></a></td>
								<td class="text-center">
									<span class="badge {{ method.is_archived ? 'badge-danger' : 'badge-success'}} badge-pill p-1">{{ method.is_archived ? 'No' : 'Yes' }}</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- end 9 -->
				<!-- start 11 -->
				<div class="clearfix" *ngIf="!method_loading">
					<!-- start 12 -->
					<div class="pull-right">
						<pagination-controls id="method_table_page" class="my-pagination" (pageChange)="method_table.page = $event"></pagination-controls>
					</div>
					<!-- end 12 -->
				</div>
				<!-- end 11 -->
				<!-- </div> -->

				<div class="row" *ngIf="other == 'add'">
					<div class="col-md-12 col-xs-12">
						<div class="group-title">Add New Method</div>
					</div>
					<div class="col-md-4 col-xs-12 py-2">
						<small class="d-block font-weight-bold">
							Method Name
						</small>
						<input [(ngModel)]="new_method.cash_in_method_name" type="text" class="form-control form-control-sm" placeholder="Method Name">
					</div>
					<div class="col-md-4 col-xs-12 py-2">
						<small class="d-block font-weight-bold">
							Method Category
						</small>
						<select [(ngModel)]="new_method.cash_in_method_category" class="form-control form-control-sm">
							<option *ngFor="let cate of category" value="{{cate.cash_in_method_category}}">
								{{cate.cash_in_method_category | capitalize}}
							</option>
						</select>
					</div>
					<div class="col-md-4 col-xs-12 py-2">
						<small class="d-block font-weight-bold">
							Accepted Currency
						</small>
						<select [(ngModel)]="new_method.cash_in_method_currency" class="form-control form-control-sm">
							<option value="php">PHP</option>
							<option value="usd">USD</option>
							<option value="btc">BTC</option>
						</select>
					</div>
					<div class="col-md-4 col-xs-12 py-2">
						<small class="d-block font-weight-bold">
							Method Charge(Fixed)
						</small>
						<input [(ngModel)]="new_method.cash_in_method_charge_fixed" type="text" class="form-control form-control-sm">
					</div>
					<div class="col-md-4 col-xs-12 py-2">
						<small class="d-block font-weight-bold">
							Method Charge(Percentage)
						</small>
						<input [(ngModel)]="new_method.cash_in_method_charge_percentage" type="text" class="form-control form-control-sm">
					</div>
					<div class="col-md-4 col-xs-12 py-2">
						<small class="d-block font-weight-bold">
							Method Thumbnail
						</small>
						<input [(ngModel)]="new_method.cash_in_method_thumbnail" type="file" class="form-control-file form-control-file-sm" (change)="onFileChange($event)">
					</div>
					<div class="col-md-12 col-xs-12">
						<div class="row" *ngIf="new_method.cash_in_method_category == 'remittance'">
							<div class="col-md-4 col-xs-12 py-2">
								<small class="d-block font-weight-bold">
									Receiver Full Name
								</small>
								<input [(ngModel)]="new_method.primary_info" type="text" class="form-control form-control-sm">
							</div>
							<div class="col-md-4 col-xs-12 py-2">
								<small class="d-block font-weight-bold">
									Receiver Address
								</small>
								<input [(ngModel)]="new_method.secondary_info" type="text" class="form-control form-control-sm">
							</div>
							<div class="col-md-4 col-xs-12 py-2">
								<small class="d-block font-weight-bold">
									Phone Number (Optional)
								</small>
								<input [(ngModel)]="new_method.optional_info" type="text" class="form-control form-control-sm">
							</div>
						</div>
						<div class="row" *ngIf="new_method.cash_in_method_category == 'bank'">
							<div class="col-md-4 col-xs-12 py-2">
								<small class="d-block font-weight-bold">
									Bank Account Name
								</small>
								<input [(ngModel)]="new_method.primary_info" type="text" class="form-control form-control-sm">
							</div>
							<div class="col-md-4 col-xs-12 py-2">
								<small class="d-block font-weight-bold">
									Bank Account Number
								</small>
								<input [(ngModel)]="new_method.secondary_info" type="text" class="form-control form-control-sm">
							</div>
							<div class="col-md-4 col-xs-12 py-2">
								<small class="d-block font-weight-bold">
									Bank Account Type
								</small>
								<input [(ngModel)]="new_method.optional_info" type="text" class="form-control form-control-sm">
							</div>
						</div>
					</div>
					<div class="col-md-4 col-xs-12 py-2">

					</div>
					<div class="col-md-4 col-xs-12 py-2">
						<button type="submit" disabled="{{adding ? 'disabled' : ''}}" (click)="otherEvent(null)" class="btn btn-outline-primary btn-block"><i class="fa fa-times-circle"></i> Cancel </button>
					</div>
					<div class="col-md-4 col-xs-12 py-2">
						<button type="submit" disabled="{{adding ? 'disabled' : ''}}" (click)="addMethod()" class="btn btn-primary btn-block"><i class="fa fa-save"></i> Save Method</button>
					</div>
				</div>
				<div class="row" *ngIf="other == 'edit'">
					<div class="col-md-12 col-xs-12">
						<div class="group-title">Edit Method</div>
					</div>
					<div class="col-md-4 col-xs-12 py-2">
						<small class="d-block font-weight-bold">
							Method Name
						</small>
						<input [(ngModel)]="edit_method.cash_in_method_name" type="text" class="form-control form-control-sm" placeholder="Method Name">
					</div>
					<div class="col-md-4 col-xs-12 py-2">
						<small class="d-block font-weight-bold">
							Method Category
						</small>
						<select [(ngModel)]="edit_method.cash_in_method_category" class="form-control form-control-sm">
							<option *ngFor="let cate of category" value="{{cate.cash_in_method_category}}">
								{{cate.cash_in_method_category | capitalize}}
							</option>
						</select>
					</div>
					<div class="col-md-4 col-xs-12 py-2">
						<small class="d-block font-weight-bold">
							Accepted Currency
						</small>
						<select [(ngModel)]="edit_method.cash_in_method_currency" class="form-control form-control-sm">
							<option value="php">PHP</option>
							<option value="usd">USD</option>
							<option value="btc">BTC</option>
						</select>
					</div>
					<div class="col-md-4 col-xs-12 py-2">
						<small class="d-block font-weight-bold">
							Method Charge(Fixed)
						</small>
						<input [(ngModel)]="edit_method.cash_in_method_charge_fixed" type="text" class="form-control form-control-sm">
					</div>
					<div class="col-md-4 col-xs-12 py-2">
						<small class="d-block font-weight-bold">
							Method Charge(Percentage)
						</small>
						<input [(ngModel)]="edit_method.cash_in_method_charge_percentage" type="text" class="form-control form-control-sm">
					</div>
					<div class="col-md-4 col-xs-12 py-2">
						<small class="d-block font-weight-bold">
							Method Thumbnail
						</small>
						<input type="file" class="form-control-file form-control-file-sm">
					</div>
					<div class="col-md-4 col-xs-12 py-2">
						<button type="submit" (click)="otherEvent(null)" class="btn btn-secondary btn-block"><i class="fa fa-times-circle"></i> Cancel </button>
					</div>
					<div class="col-md-4 col-xs-12 py-2">
						<button type="submit" *ngIf="edit_method.is_archived == 0" (click)="otherEvent('archive', edit_method.cash_in_method_id)" class="btn btn-secondary btn-block"><i class="fa fa-archive"></i> Archive </button>
						<button type="submit" *ngIf="edit_method.is_archived == 1" (click)="otherEvent('unarchive', edit_method.cash_in_method_id)" class="btn btn-secondary btn-block"><i class="fa fa-archive"></i> Unarchive </button>
					</div>
					<div class="col-md-4 col-xs-12 py-2">
						<button type="submit" (click)="saveMethod()" class="btn btn-primary btn-block"><i class="fa fa-save"></i> Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- PROCESS CASH IN MODAL -->
<div class="modal fade" id="processTransactionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="process_focus">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Transaction #{{ process_focus.cash_in_proof_id }} Summary ({{ process_focus.cash_in_slot_code }})</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-4 text-left">
				<h5 class="font-weight-light mb-0">{{ process_focus.cash_in_method_name | capitalize }}</h5>
				<h6 class="mb-0">Payment Method</h6>
				<hr class="mb-3 mt-0">

				<h5 class="font-weight-light mb-0">
					<a href="{{ process_focus.cash_in_proof }}" target="_blank" class="text-primary">View Proof</a>
				</h5>
				<h6 class="mb-0">Payment Proof</h6>
				<hr class="mb-3 mt-0">

				<h5 class="font-weight-light mb-0">{{ process_focus.cash_in_currency | uppercase }} Wallet</h5>
				<h6 class="mb-0">Receiving Wallet</h6>
				<hr class="mb-3 mt-0">

				<h5 class="font-weight-light mb-0">{{ process_focus.cash_in_currency | uppercase }} {{ process_focus.cash_in_receivable }}</h5>
				<h6 class="mb-0">Member will receive</h6>
				<hr class="mb-3 mt-0">

				<h5 class="font-weight-light mb-0" *ngIf="charge">{{ process_focus.cash_in_currency | uppercase }} {{ charge.service_charge | number:'1.2-2' }}</h5>
				<h6 class="mb-0">Service Charge</h6>
				<hr class="mb-3 mt-0">

				<h5 class="font-weight-light mb-0" *ngIf="charge">{{ process_focus.cash_in_currency | uppercase }} {{ process_focus.cash_in_charge - charge.service_charge  | number:'1.2-2'}}</h5>
				<h6 class="mb-0">Cash-In Fee</h6>
				<hr class="mb-3 mt-0">

				<h5 class="font-weight-light mb-0 text-danger">{{ process_focus.cash_in_currency | uppercase }} {{ process_focus.cash_in_charge | number:'1.2-2'}}</h5>
				<h6 class="text-danger mb-0">Total Charge</h6>
				<hr class="mb-3 mt-0">

				<h5 class="font-weight-light mb-0 text-primary">{{ process_focus.cash_in_currency | uppercase }} {{ process_focus.cash_in_payable | number:'1.2-2'}}</h5>
				<h6 class="text-primary mb-0">Amount Due</h6>
			</div>
			<div class="modal-footer" *ngIf="!processing && process_focus.cash_in_status == 'pending'">
				<button type="button" disabled="{{processing ? 'disabled' : ''}}" (click)="processTransaction('rejected', process_focus.cash_in_proof_id)" class="btn btn-outline-primary"><i class="fa fa-times mr-2"></i>Reject</button>
				<button type="button" disabled="{{processing ? 'disabled' : ''}}" (click)="processTransaction('approved', process_focus.cash_in_proof_id)" class="btn btn-primary"><i class="fa fa-check mr-2"></i>Approve</button>
			</div>
			<div class="modal-footer text-center p-4" *ngIf="processing">
				<h3>
					<i class="fa fa-spinner button-spinner"></i>
				</h3>
			</div>
		</div>
	</div>
</div>

<!-- MULTI PROCESS CASH IN MODAL -->
<div class="modal fade" id="processAllCashInModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="pending_table">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Process All Pending Cash-Ins</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-2 text-left">
				<div class="table-responsive">
					<table class="table table-bordered table-hover table-sm">
						<thead>
							<tr>
								<th class="text-center">Slot Code</th>
								<th class="text-center">Member Name</th>
								<th class="text-center">Method</th>
								<th class="text-center">Currency</th>
								<th class="text-right">Amount Required</th>
								<th class="text-right">Total Charge</th>
								<th class="text-center">Status</th>
								<th class="text-right">Receivable</th>
							</tr>
						</thead>
						<tbody *ngIf="pending_table">
							<tr *ngIf="pending_table.length == 0">
								<td colspan="8" class="p-2 text-center">No results found.</td>
							</tr>
							<tr *ngFor="let data of pending_table | paginate: { itemsPerPage:15, currentPage: pending_table.page, id: 'pending_table_page' }" (click)="openTransaction(data.cash_in_proof_id, data.cash_in_status)">
								<td class="text-center">{{ data.cash_in_slot_code | uppercase }}</td>
								<td class="text-center">{{ data.cash_in_member_name | capitalize }}</td>
								<td class="text-center">{{ data.cash_in_method_name }}</td>
								<td class="text-center">{{ data.cash_in_currency | uppercase }}</td>
								<td class="text-right">{{ data.cash_in_payable | number:'1.2-2' }}</td>
								<td class="text-right">{{ data.cash_in_charge | number:'1.2-2' }}</td>
								<td class="text-center">{{ data.cash_in_status | capitalize }}</td>
								<td class="text-right font-weight-bold">{{ data.cash_in_receivable | number:'1.2-2' }}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="clearfix">
					<div class="pull-right" *ngIf="pending_table">
						<pagination-controls id="pending_table_page" class="my-pagination" (pageChange)="pending_table.page = $event"></pagination-controls>
					</div>
				</div>
			</div>
			<div class="modal-footer"  *ngIf="!processing">
				<button type="button" disabled="{{processing ? 'disabled' : ''}}" (click)="processAll('rejected')" class="btn btn-outline-primary"><i class="fa fa-times mr-2"></i>Reject All</button>
				<button type="button" disabled="{{processing ? 'disabled' : ''}}" (click)="processAll('approved')" class="btn btn-primary">
						<i class="fa fa-check mr-2"></i>
						Approve All
				</button>
			</div>
			<div class="modal-footer" *ngIf="processing">
				<h3>
					<i class="fa fa-spinner button-spinner mr-2"></i> Processing
				</h3>
			</div>
		</div>
	</div>
</div>