<div class="member-subtitle">
	Which slot would you like to sign-in?
</div>

<div class="slot-list-container" *ngIf="slots">
	<div *ngFor="let slot of slots" class="slot" (click)="select_slot(slot.slot_id)">
		<div class="slot-code">{{ slot.slot_no }}</div>
		<div class="detail-container">
			<div class="label">Total Earning</div>
			<div class="value">UPT 0.00</div>
		</div>
		<div class="detail-container">
			<div class="label">PHP Wallet</div>
			<div class="value">PHP 0.00</div>
		</div>
		<div class="detail-container">
			<div class="label">Sponsor</div>
			<div class="value" *ngIf="slot.sponsor">{{ slot.sponsor.slot_no }}</div>
			<div class="value" *ngIf="!slot.sponsor">No Sponsor</div>
		</div>
		<div class="detail-container">
			<div class="label">Status</div>
			<div class="value {{ current_slot_id == slot.slot_id ? 'green' : 'red' }}">{{ current_slot_id == slot.slot_id ? "Signed In" : "Inactive" }}</div>
		</div>
	</div>
</div>