.login-container
{
    color: #383535;
    padding: 70px 0px 100px 0px;
    .card
    {
        .card-header
        {
            background-color: #fff;
        }
        .card-body
        {
            color: #555555;
            padding: 2rem;
            .form-group .form-control 
            {
                padding-left: 2.375rem;
            }
            .custom-control
            {
                display: inline-block;
                vertical-align: middle;
            }
            .btn-google 
            {
              color: white;
              background-color: #ea4335;
            }

            .btn-facebook 
            {
              color: white;
              background-color: #3b5998;
            }
            .btn-login
            {
                width: 100%;
                padding: 12px 0;
                background-color: #ffffff;
                color: #0495d6;
                font-weight: 300;
                font-size: 16px;
                margin: 20px 0px 20px 0px;
                border: 2px solid #0495d6;
                border-radius: 5px;
            }
        }
    }

}