<div class="container">
	<div class="page-header row">
		<div class="col-md-3 inset-md-9">
			<h5 class=" text-header">DIRECTORY</h5>
		</div>
	</div>
	
	<div class="page-content row">
		<div class="col-md-12 page-content-header">
			<div class="row clearfix">
				<div class="col-md-3">
					<select name="" id="" class="form-control">
						<option value="">fhgh</option>
						<option value="">hfgh</option>
						<option value="">fghfgh</option>
						<option value="">hfgh</option>
						<option value="">fgh</option>
					</select>
				</div>
				<div class="col-md-3 offset-md-6">
					<div class="input-group">
						<input class="form-control py-2 border-right-0 border" type="search" value="search" id="example-search-input">
						<span class="input-group-append">
							<div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
						</span>
					</div>
				</div>
			</div>
		</div>
		<span *ngIf = "enabled=='list'">
			<div class="page-content-body row" *ngIf="member_list" >
				<div *ngFor="let data of member_list;let i= index;" class="col-lg-4 col-md-6 col-xs-12 col-sm-6">
					<div class="card">
						<div class="box" (click)="memeber_details(i)">
							<div class="img">
								<img src="{{data.profile}}">
							</div>
							<h2>{{data.name}}<br><span>{{data.user_job}}</span></h2>
							<p>{{data.user_bio}}</p>
							<span>
								<ul>
									<li><a href="{{data.user_job}}"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
									<li><a href="{{data.user_job}}"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="{{data.user_job}}"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
								</ul>
							</span>
						</div>
					</div>
				</div>
			</div>
		</span>
		<span *ngIf = "enabled=='details'">
			<div class="page-content-body row profile-details" *ngIf="member_details" >
				<div class="row">
					<div class="col-md-4">
						<div class="profile-img">
							<img src="{{member_details.profile}}" alt="">
						</div>
					</div>
					<div class="col-md-6">
						<div class="profile-head">
							<h5>{{member_details.name}}</h5>
							<h6>{{member_details.user_job}}</h6>
							<button *ngIf="connection_status==0" type="button" class="  btn-submit"><i class="fas fa-user-plus pr-1" (click) ="connect_now(member_details.id,'connect')"></i> CONNECT</button>
							<button *ngIf="connection_status==1" type="button" class="  btn-submit"><i class="fas fa-user-plus pr-1" (click) ="connect_now(member_details.id,'unconnect')"></i> REQUEST SENT</button>
							<button *ngIf="connection_status==2" type="button" class="  btn-submit"><i class="fas fa-user-plus pr-1" (click) ="connect_now(member_details.id,'unconnect')"></i> CONNECTED</button>
							<p class="proile-rating">RANKINGS : <span>8/10</span></p>
						</div>
					</div>
					<div class="col-md-2">
						<button class="profile-edit-btn" (click)="go_to('list')">BACK</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="social-icon-s">
							<i class="fab fa-facebook-f fa-2x"></i>
							<i class="fab fa-twitter fa-3x"></i>
							<i class="fab fa-linkedin-in fa-2x"></i>
						</div>
					</div>
					<div class="col-md-8">
						<div class="tab-content profile-tab" id="myTabContent">
							<div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
								<div class="row border-line">
								</div>
								<div class="row border-line">
									<div class="col-md-4">
										<label>First Name</label>
									</div>
									<div class="col-md-6">
										<p>{{member_details.first_name}}</p>
									</div>
								</div>
								<div class="row border-line">
									<div class="col-md-4">
										<label>Last Name</label>
									</div>
									<div class="col-md-6">
										<p>{{member_details.last_name}}</p>
									</div>
								</div>
								<div class="row border-line">
									<div class="col-md-4">
										<label>Email</label>
									</div>
									<div class="col-md-6">
										<p>{{member_details.email}}</p>
									</div>
								</div>
								<div class="row border-line">
									<div class="col-md-4">
										<label>Phone</label>
									</div>
									<div class="col-md-6">
										<p>{{member_details.user_phone_1}}</p>
									</div>
								</div>
								<div class="row border-line">
									<div class="col-md-4">
										<label>Profession</label>
									</div>
									<div class="col-md-6">
										<p>{{member_details.user_job}}</p>
									</div>
								</div>
								<div class="row border-line">
									<div class="col-md-4">
										<label>Bio</label>
									</div>
									<div class="col-md-6">
										<p>{{member_details.user_bio}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</span>
	</div>
	
</div>