<div class="form-container">
	<!-- TITLE GROUP -->
	<div class="title-group">
		<div class="clearfix">
			<div class="pull-left icon"><i class="fa fa-shopping-cart"></i></div>
			<div class="pull-left">
				<h3 class="main-title">Product List</h3>
				<div class="sub-title">Manage member information and there slot</div>
			</div>
			<div class="pull-right">
				<!-- BUTTON GROUP -->
				<div class="button-group">
					<button class="btn btn-secondary" (click)="product_manage_column()"><i class="fa fa-columns"></i> Manage Columns</button>
					<button class="btn btn-primary" (click)="addProduct()"><i class="fa fa-plus"></i> Add Product</button>
				</div>
			</div>
		</div>
	</div>
	<!-- FILTER AND SEARCH GROUP -->
	<div class="filter-search-group">
		<div class="row">
			<div class="col-md-6">
				<!-- <select class="form-control form-control-sm">
					<option>All Category</option>
				</select> -->
				<select class="form-control form-control-sm" [(ngModel)]="item_list_filter.item_type" (change)="load_item_list()">
					<option value="all">All Type</option>
					<option value="product">Product</option>
					<option value="membership_kit">Membership Kit</option>
				</select>
			</div>

			<div class="col-md-2">
			</div>
			<div class="col-md-4">
				<input type="text" [(ngModel)]="item_list_filter.search_key" (change)="load_item_list()" class="form-control form-control-sm pull-right search" placeholder="Search product name" name="">
			</div>
		</div>
	</div>
	<!-- TABLE CONTENT -->
	<div class="table-responsive">
		<table class="table table-bordered table-hover table-sm">
			<thead>
				<tr data-toggle="modal" data-target="#editProduct">
					<th *ngIf="column.product_sku" class="text-center">Product SKU</th>
					<th *ngIf="column.product_description" class="text-center">Product Description</th>
					<th *ngIf="column.product_type" class="text-center">Type</th>
					<!-- <th class="text-center">Category</th> -->
					<th *ngIf="column.product_price" class="text-center">Price</th>
					<th *ngIf="column.product_gc_price" class="text-center">GC Price</th>
				</tr>
			</thead>
			<tbody *ngIf="item_list">
				<tr (click)="editProduct(data.item_id)" *ngFor="let data of item_list.data | paginate: { itemsPerPage: item_list.per_page, currentPage: item_list.current_page, totalItems: item_list.total, id : 'main_product_page' }">
					<td *ngIf="column.product_sku" class="text-center">{{ data.item_sku }}</td>
					<td *ngIf="column.product_description" class="text-center">{{ data.item_description }}</td>
					<td *ngIf="column.product_type" class="text-center" style="text-transform: capitalize;">{{ data.item_type.replace("_", " ") }}</td>
					<!-- <td class="text-center"></td> -->
					<td *ngIf="column.product_price" class="text-center">{{ data.item_price | number:'1.2-2' }}</td>
					<td *ngIf="column.product_gc_price" class="text-center">{{ data.item_gc_price | number:'1.2-2' }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="clearfix">
		<div class="pull-right">
			<pagination-controls id="main_product_page" (pageChange)="go_to_page($event)"></pagination-controls>
		</div>
	</div>
</div>

<!-- POPUP - PRODUCT EDIT POPUP -->
<div class="modal fade big-popup-with-tab" id="editProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-shopping-cart"></i> Product Information ({{item.item_sku}})</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- TABS -->
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="modify-tab" data-toggle="tab" href="#modify" role="tab" aria-controls="modify" aria-selected="true">Product Information</a>
					</li>
					<li class="nav-item {{ action == 'add' ? 'hide' : '' }}" >
						<a class="nav-link" id="points-tab" data-toggle="tab" href="#points" role="tab" aria-controls="points" aria-selected="true">Discount</a>
					</li>
					<li class="nav-item {{ action == 'add' ? 'hide' : '' }}">
						<a class="nav-link" id="inventory-tab" data-toggle="tab" href="#inventory" role="tab" aria-controls="inventory" aria-selected="true">Inventory & Codes</a>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<!-- TAB.MODIFY -->
					<div class="tab-pane fade show active" id="modify" role="tabpanel" aria-labelledby="modify-tab">
						<form (ngSubmit)="product_submit()" #productForm1="ngForm">
							<div class="form-tab">
								<!-- PRODUCT INFORMATION -->
								<div class="group-title">Product Information</div>
								<div class="form-row">
									<div class="form-group col-md-4">
										<label><b>Product SKU</b></label>
										<input [(ngModel)]="item.item_sku" [ngModelOptions]="{standalone: true}" type="text" class="form-control form-control-sm" value="BR0001">
									</div>
									<div class="form-group col-md-4">
										<label><b>Product Description</b></label>
										<input [(ngModel)]="item.item_description" [ngModelOptions]="{standalone: true}" type="text" class="form-control form-control-sm" value="Brown 1 (RED)">
									</div>
									<div class="form-group col-md-4">
										<label><b>Barcode</b></label>
										<input [(ngModel)]="item.item_barcode" [ngModelOptions]="{standalone: true}" type="text" class="form-control form-control-sm" value="K1TMLB10N">
									</div>
									<div class="form-group col-md-4">
										<label><b>Price</b></label>
										<input [(ngModel)]="item.item_price" [ngModelOptions]="{standalone: true}" type="text" class="form-control form-control-sm" value="13999">
									</div>
									<div class="form-group col-md-4">
										<label><b>Item PV</b></label>
										<input [(ngModel)]="item.item_pv" [ngModelOptions]="{standalone: true}" type="text" class="form-control form-control-sm" value="13999">
									</div>
									<div class="form-group col-md-4">
										<label><b>Type</b></label>
										<select [(ngModel)]="item.item_type" [ngModelOptions]="{standalone: true}" class="form-control form-control-sm">
											<option value="product">Product</option>
											<option value="membership_kit">Membership Kit</option>
										</select>
									</div>
								</div>

								<div class="{{ item.item_type == 'membership_kit' ? '' : 'hide' }}">
									<div class="group-title">Membership Kit Details</div>
									<div class="form-row">
										<div class="form-group col-md-4">
											<label><b>Membership</b></label>
											<select *ngIf="membership" [(ngModel)]="item.membership_id" [ngModelOptions]="{standalone: true}" class="form-control form-control-sm">
												<option *ngFor="let data of membership" value="{{ data.membership_id }}">{{ data.membership_name }}</option>
											</select>
										</div>
										<div class="form-group col-md-4">
											<label><b>Slot Quantity</b></label>
											<input [(ngModel)]="item.slot_qty" [ngModelOptions]="{standalone: true}" type="text" class="form-control form-control-sm" value="1">
										</div>
										<div class="form-group col-md-4">
											<label><b>Inclusive GC</b></label>
											<input [(ngModel)]="item.inclusive_gc" [ngModelOptions]="{standalone: true}" type="text" class="form-control form-control-sm" value="1">
										</div>
										<div class="form-group col-md-12">
											<div class="clearfix">
												<label><b>Inclusive Items</b></label>
											</div>
											<div class="table-group">
												<div class="table-responsive">
													<table class="table table-hover table-bordered table-sm">
														<thead>
															<tr>
																<th class="text-center">Item Name</th>
																<th class="text-center">Item Quantity</th>
																<th width="50px"></th>
															</tr>
														</thead>
														<tbody *ngIf="item.item_kit">
															<tr *ngFor="let data of item.item_kit; let i = index; let first = first; let last = last">
																<td>
																	<select *ngIf="product" [(ngModel)]="item.item_kit[i].item_inclusive_id" [ngModelOptions]="{standalone: true}" class="form-control form-control-sm">
																		<option *ngFor="let data of product" value="{{ data.item_id }}">{{ data.item_sku }} ({{ data.item_description }})</option>
																	</select>
																</td>
																<td>
																	<input [(ngModel)]="item.item_kit[i].item_qty" [ngModelOptions]="{standalone: true}" type="text" class="form-control form-control-sm text-center" value="1">
																</td>
																<td (click)="last ? add_item_kit(i) : delete_item_kit(i)" class="text-center {{ last ? 'blue' : 'red' }} valign-middle"><i class="fa fa-{{ last ? 'plus' : 'close' }}"></i></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="button-container clearfix text-right">
									<button class="btn btn-secondary" type="button"  data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
									<button type="button" *ngIf="action == 'edit'" (click)="product_archive(item.item_id)" class="btn btn-secondary"><i class="fa fa-trash"></i> Archive</button>
									<button class="btn btn-primary" [disabled]="submitted" type="submit"><i class="fa fa-save"></i> {{ after_save ? "Update" : (action == "add" ? "Create" : "Update") }} Product Information</button>
								</div>
							</div>
						</form>
					</div>

					<!-- TAB.MEMBERSHIP -->
					<div class="tab-pane fade" id="points" role="tabpanel" aria-labelledby="points-tab">
						<form (ngSubmit)="product_submit()" #productForm2="ngForm">
							<div class="form-tab">
								<div class="group-title">Discount Per Membership</div>
								<div class="table-group">
									<div class="table-responsive">
										<table class="table table-bordered table-hover table-sm">
											<thead>
												<tr>
													<th class="text-center">Membership Name</th>
													<th class="text-center">Discount (0-100)</th>
												</tr>
											</thead>
											<tbody *ngIf="item.item_membership_discount">
												<tr *ngFor="let data of item.item_membership_discount; let i = index">
													<td class="text-center valign-middle">{{ data.membership_name }}</td>
													<td><input [(ngModel)]="item.item_membership_discount[i].discount" [ngModelOptions]="{standalone: true}" type="number" max="100" min="0" class="form-control form-control-sm text-center"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>

								<div class="group-title ">Stockist Discount</div>
								<div class="table-group ">
									<div class="table-responsive">
										<table class="table table-bordered table-hover table-sm">
											<thead>
												<tr>
													<th class="text-center">Stockist Level</th>
													<th class="text-center">Discount (0-100)</th>
												</tr>
											</thead>
											<tbody *ngIf="stockist_list.length > 0">
												<tr *ngFor="let data of stockist_list;">
													<td class="text-center valign-middle">{{ data.stockist_level_name }}</td>
													<td><input [(ngModel)]="data.discount" [ngModelOptions]="{standalone: true}" required type="number" max="100" min="0" class="form-control form-control-sm text-center"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>

								

								<div class="button-container clearfix text-right">
									<button class="btn btn-secondary" type="button"  data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
									<button class="btn btn-primary" [disabled]="submitted" type="submit"><i class="fa fa-save"></i> {{ action == "add" ? "Create" : "Update" }} Discount</button>
								</div>
							</div>
						</form>
					</div>

					<!-- TAB.INVENTORY -->
					<div class="tab-pane fade" id="inventory" role="tabpanel" aria-labelledby="inventory-tab">
						<div class="form-tab">
							<div class="group-title">Inventory Per Branch or Stockist</div>
							<div class="table-group">
								<div class="table-responsive">
									<table class="table table-bordered table-hover table-sm" style="table-layout: fixed">
										<thead>
											<tr>
												<th class="text-center">Stockist / Branch Name</th>
												<th class="text-center">Location</th>
												<th class="text-center">Type</th>
												<th width="150px" class="text-center">Quantity<br>Sold</th>
												<th width="150px" class="text-center">Quantity<br>Used</th>
												<th width="150px" class="text-center">Quantity<br>Available</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let data of branch; let index = index;" (click)="change_item_branch(item.item_id, data.inventory_id, data.branch_name, data.branch_id, index)" [style.background-color]="rowClicked == index ? 'gray' : '' " [style.color]="rowClicked == index ? 'white' : '' ">
												<td class="text-center">{{ data.branch_name }}</td>
												<td class="text-center">{{ data.branch_location }}</td>
												<td class="text-center">{{ data.branch_type }}</td>
												<td class="text-center">{{ data.sold_codes }}</td>
												<td class="text-center">{{ data.used_codes }}</td>
												<td class="text-center">{{ data.inventory_quantity }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div *ngIf="item_code || code_loading">
								<div class="group-title">{{ item_code_submit.branch_name }}</div>
								<div class="row">
									<div class="col-md-3" style="margin-bottom: 10px;">
										<select [(ngModel)]="item_code_submit.status" [ngModelOptions]="{standalone: true}" (change)="load_item_code()" class="form-control form-control-sm">
											<option value="all">Show All Codes</option>
											<option value="Used">Used Codes Only</option>
											<option value="Unused">Unused Code Only</option>
											<option value="Sold">Sold Codes Only</option>
											<option value="Unsold">Unsold Codes Only</option>
										</select>
									</div>
									
									<div class="col-md-4"><input [(ngModel)]="item_code_submit.search" [ngModelOptions]="{standalone: true}" (change)="load_item_code()" class="form-control form-control-sm" type="text" placeholder="Search for code or name" name=""></div>
									<div class="col-md-5 text-right">
										<button style="margin-right: 5px;" class="btn btn-sm btn-secondary"><i class="fa fa-file-excel-o"></i> Export to Excel</button>
										<button (click)="generate_code()" class="btn btn-sm btn-secondary"><i class="fa fa-qrcode"></i> Generate Codes</button>
									</div>
								</div>
								<div class="table-group">
									<div class="table-responsive">
										<table class="table table-bordered table-hover table-sm" style="table-layout: fixed">
											<thead>
												<tr>
													<th class="text-center">Code</th>
													<th class="text-center">Pin</th>
													<th width="200px" class="text-center">Sold to</th>
													<th width="250px" class="text-center">Used by</th>
													<th width="50px"></th>
												</tr>
											</thead>
											<tbody *ngIf="code_loading">
												<tr>
													<td colspan="5" class="text-center"><i class="fa fa-spinner fa-pulse"></i> Loading Code</td>
												</tr>
											</tbody>
											<tbody *ngIf="!code_loading">
												<tr *ngFor="let data of item_code.data | paginate: { itemsPerPage: item_code.per_page, currentPage: item_code.current_page, totalItems: item_code.total, id : 'item_code_page' }">
													<td class="text-center">{{ data.code_activation }}</td>
													<td class="text-center">{{ data.code_pin }}</td>
													<td class="text-center">{{data.code_buyer != null ? data.code_buyer.name : "Unused"}}</td>
													<td class="text-center">{{data.code_user != null ? data.code_user.name : "Unused"}}</td>
													<td class="text-center red"><i (click)="delete_code(data.code_id)" class="fa fa-close"></i></td>
												</tr>
												<tr *ngIf="item_code.data.length == 0">
													<td colspan="5" class="text-center">No Data</td>
												</tr>
											</tbody>
										</table>
									</div>

									<div class="clearfix">
										<div class="pull-right">
											<pagination-controls id="item_code_page" (pageChange)="item_code_go_to_page($event)"></pagination-controls>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- POPUP - PRODUCT MANAGE COLUMN -->
<div class="modal fade" id="product-manage-column" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Manage Columns</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="row clearfix">
      		<div class="col-md-6">
      			<div class="form-check">
				  <input [checked]="column.product_sku" (change)="column.product_sku = !column.product_sku" class="form-check-input" type="checkbox" id="column_product_sku">
				  <label class="form-check-label" for="column_product_sku">
				    Product SKU
				  </label>
				</div>
      		</div>
      		<div class="col-md-6">
      			<div class="form-check">
				  <input [checked]="column.product_description" (change)="column.product_description = !column.product_description" class="form-check-input" type="checkbox" id="column_product_description">
				  <label class="form-check-label" for="column_product_description">
				    Product Description
				  </label>
				</div>
      		</div>
      		<div class="col-md-6">
      			<div class="form-check">
				  <input [checked]="column.product_type" (change)="column.product_type = !column.product_type" class="form-check-input" type="checkbox" id="column_product_type">
				  <label class="form-check-label" for="column_product_type">
				    Product Type
				  </label>
				</div>
      		</div>
      		<div class="col-md-6">
      			<div class="form-check">
				  <input [checked]="column.product_price" (change)="column.product_price = !column.product_price" class="form-check-input" type="checkbox" id="column_product_price">
				  <label class="form-check-label" for="column_product_price">
				    Product Price
				  </label>
				</div>
      		</div>
      		<div class="col-md-6">
      			<div class="form-check">
				  <input [checked]="column.product_gc_price" (change)="column.product_gc_price = !column.product_gc_price" class="form-check-input" type="checkbox" id="column_product_gc_price">
				  <label class="form-check-label" for="column_product_gc_price">
				    Product GC Price
				  </label>
				</div>
      		</div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="column_save()">Save changes</button>
      </div>
    </div>
  </div>
</div>