.carousel 
{
    margin-bottom: 4rem;
    .carousel-caption 
    {
        bottom: 3rem;
        z-index: 10;
    }
    .carousel-item 
    {
        height: 30rem;
        background-color: #777;
        img 
        {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
            height: 40rem;
        }
        .carousel-caption
        {
            background-color: rgba(23, 23, 23, 0.4);
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            width: 80%;
            padding: 24px;
        }
    }
}
.marketing
{
    .col-lg-4
    {
        margin-bottom: 1.5rem;
        text-align: center;
        p 
        {
            margin-right: .75rem;
            margin-left: .75rem;
        }
    }
    h2
    {
        font-weight: 400;
    }
}

.banner-button
{
    .button 
    {
        display: inline-block;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 18px;
        padding: 10px;
        width: 220px;
        cursor: pointer;
        span 
        {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
            &:after 
            {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }
        }
    }
    &:hover 
    {
        span 
        {
            padding-right: 25px;
            &:after 
            {
                opacity: 1;
                right: 0;
            }
        }
    }
    
}
