<section class="page-section s-home">
	<div class="caption-holder wow fadeIn" data-wow-delay=".4s">
		<div class="banner-text">Easily Build And Run Your MLM System</div>
	</div>
	<div class="img-holder wow fadeIn" data-wow-delay=".6s">
		<img class="img-fluid" width="600" src="/assets/front/img/img-rep-1.svg">
	</div>
	<div class="sub-caption p-3 wow fadeIn" data-wow-delay=".8s">
		<p class="content-text">
			A device Friendly MLM software System which can be accessed from mobile, Tablets, Smart Phones, Desktop and Laptops. Our secure, reliable, user friendly and Web Based or Online MLM Software provides easy tracking of members, sponsors, various kinds or reports regarding sales, revenue, analytical and pictorial presentation in hierarchical structure of MLM members.
		</p>
	</div>
	<div class="btn-holder wow fadeIn p-2" data-wow-delay="1s">
		<button class="btn-c btn-c-lg btn-forange-bb">GET STARTED</button>
	</div>
	<div class="caption-text-md wow fadeIn m-2" data-wow-delay="1.2s">Start your 30 day free trial today!</div>
</section>