@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700');

$ff1: 'Roboto', sans-serif;
$ff2: 'Poppins', sans-serif;
$ff3: 'Lato', sans-serif;

$thin: 100;
$light: 300;
$reg: 400;
$med: 500;
$semi: 600;
$bold: 700;

$lblue: #1c95bc;
$dblue: #082e40;
$orange: #f26e18;
