<div class="text-center bg-login">
    <form class="form-signin" (ngSubmit)="onSubmit()" #signInForm="ngForm">
        <h1 class="h3 mb-3 font-weight-normal">Member Login</h1>
        <div class="alert alert-danger {{ error_message != null ? '' : 'hide' }}" role="alert">
          {{ error_message }}
        </div>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input [(ngModel)]="model.email" name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input [(ngModel)]="model.password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <span class="label-register mb-2 d-block">Sign In With</span>
        <button class="btn btn-lg btn-primary btn-block btn-facebook {{ submitted ? 'disabled' : '' }}" type="button" (click)="socialSignIn('facebook')"><i class="fa fa-facebook-square mr-2"></i>Facebook</button>
        <button class="btn btn-lg btn-primary btn-block btn-google {{ submitted ? 'disabled' : '' }}" type="button" (click)="socialSignIn('google')"><i class="fa fa-google-plus-square mr-2"></i>Google</button>
        <div id="or" class="my-1"><span class="label-register">OR</span></div>
        <button class="btn btn-lg btn-primary btn-block {{ submitted ? 'disabled' : '' }}" type="submit">Sign in</button>
        <button routerLink="/" class="btn btn-lg btn-secondary btn-block {{ submitted ? 'disabled' : '' }}" type="button">&laquo; Back</button>
    </form>
</div>