body
{
	height: 100%;
}
.cashier-layout
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: gray;

	.purchase-detail
	{
		position: relative;
		height: 100%;
		background-color: #fafafa;
		width: 500px;
		float: left;


		.order-summary
		{
			min-height: 400px;
			
			.title
			{
				text-align: center;
				font-weight: 500;
				color: #1d7bad;
				padding: 5px;
			}

			background-color: #fff;
			border: 1px solid #eee;
			margin: 10px;
			border-radius: 3px;

			table
			{
				font-size: 16px;

				tbody
				{
					td
					{
						vertical-align: middle;

						&.bold
						{
							font-weight: bold;
						}
					}
					.button
					{
						display: inline-block;
						border: 1px solid #eee;
						width: 40px;
						height: 40px;
						padding: 8px;
						font-size: 16px;
						border-radius: 100%;
						box-sizing: border-box;
						background-color: #e3ebef;
						cursor: pointer;
						margin-top: -10px;

						&:hover
						{
							background-color: #bfdeef;
						}
					}
					.quantity
					{
						display: inline-block;
						margin: 10px;
						font-size: 20px;
						
					}
				}
			}
		}
	}
	.product-list
	{
		position: relative;
		height: 100%;
		width: calc(100% - 500px);
		background-color: #eee;
		float: right;
	}


}