<div class="cashier-layout">

		<div class="purchase-detail">
			<div class="order-summary">
				<div class="title">Order Summary</div>
				<table class="table">
					<thead>
						<tr>
							<th class="text-left">SKU</th>
							<th class="text-center">Qty</th>
							<th class="text-center">Each</th>
							<th class="text-right">Total</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-left bold">PRODUCT0001</td>
							<td class="text-center">
								<div class="button button-add"><i class="fa fa-minus"></i></div>
								<div class="quantity">5</div>
								<div class="button button-minus"><i class="fa fa-plus"></i></div>
							</td>
							<td class="text-center">1,500.00</td>
							<td class="text-right">7,500.00</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="product-list">
			
		</div>
</div>