<div class="member-subtitle" *ngIf="check_pending && check_pending.length == 0">
	How would you like to cash-in?
</div>
<div class="offset-md-3 col-md-6 offset-md-3" *ngIf="check_pending">
	<div class="member-box" *ngFor="let item of check_pending">
		<div class="member-subtitle smaller">
			Status: <span class="text-warning">{{ item.cash_in_status | capitalize }}</span>
		</div>
		<div class="member-box-content">
			<div class="cash-out-summary">
				<div class="breakdown clearfix dotted-bottom">
					<div class="label pull-left">Payment Method</div>
					<div class="value pull-right">{{ item.cash_in_method_name }}</div>
				</div>
				<div class="breakdown clearfix dotted-bottom">
					<div class="label pull-left">Payment Proof</div>
					<div class="value pull-right">
						<a href="{{ item.cash_in_proof }}" target="_blank" class="text-primary"><i class="fa fa-eye mr-1"></i>Click to view</a>
					</div>
				</div>
				<div class="breakdown clearfix dotted-bottom">
					<div class="label pull-left">Receiving Wallet</div>
					<div class="value pull-right">{{ item.cash_in_currency | uppercase }} Wallet</div>
				</div>
				<div class="breakdown clearfix dotted-bottom">
					<div class="label pull-left">You will receive</div>
					<div class="value pull-right">{{ item.cash_in_currency | uppercase }} {{ item.cash_in_receivable  | number:'1.2-2' }}</div>
				</div>
				<div class="breakdown clearfix dotted-bottom" *ngIf="charge">
					<div class="label pull-left">Service Charge</div>
					<div class="value pull-right">{{ item.cash_in_currency | uppercase }} {{ charge.service_charge  | number:'1.2-2' }}</div>
				</div>
				<div class="breakdown clearfix dotted-bottom" *ngIf="charge">
					<div class="label pull-left">Cash-In Fee</div>
					<div class="value pull-right">{{ item.cash_in_currency | uppercase }} {{ item.cash_in_charge - charge.service_charge  | number:'1.2-2' }}</div>
				</div>
				<div class="breakdown clearfix dotted-bottom">
					<div class="label pull-left font-weight-bold">Total Charge</div>
					<div class="value pull-right red">{{ item.cash_in_currency | uppercase }} {{ item.cash_in_charge  | number:'1.2-2' }}</div>
				</div>
				<div class="breakdown clearfix">
					<div class="label pull-left font-weight-bold">Amount Due</div>
					<div class="value pull-right primary-color">{{ item.cash_in_currency | uppercase }} {{ item.cash_in_payable  | number:'1.2-2' }}</div>
				</div>
			</div>
		</div>
	</div>

</div>
<span *ngIf="check_pending && check_pending.length == 0">
<div class="box-list-container" *ngIf="method_table">
	<div *ngFor="let method of method_table" class="box-list {{ active_method == method.cash_in_method_id ? 'active' : '' }}" (click)="chooseMethod(method.cash_in_method_id, method.cash_in_method_category)">
		<div class="active-cover"><i class="fa fa-check"></i></div>
		<div class="image mb-1"><img src="{{method.cash_in_method_thumbnail}}"></div>
		<div class="label">{{method.cash_in_method_name}}</div>
		<div class="charge">{{method.cash_in_method_currency | uppercase}} {{method.cash_in_method_charge_fixed }} <span *ngIf="method.cash_in_method_charge_percentage != 0">( +{{method.cash_in_method_charge_percentage | number:'1.2-2'}}% )</span></div>
	</div>
</div>

<div class="row" *ngIf="data_focus">
	<div class="col-md-7">
		<div class="member-box push-bottom">
			<div class="member-box-content">
				<div class="member-subtitle smaller">
					How much would you like to Cash In?
				</div>
				<div class="cash-out-amount text-center">
					<div class="cash-out-field"><input [(ngModel)]="cash_in_amount" placeholder="0" type="number" (change)="computeTotalDue(data_focus.cash_in_method_charge_fixed, data_focus.cash_in_method_charge_percentage, charge.service_charge)"> {{data_focus.cash_in_method_currency | uppercase}}</div>
				</div>
			</div>
		</div>
		<div class="member-box push-bottom">
			<div class="member-box-content">
				<div class="member-subtitle smaller">
					Cash In Guidelines
				</div>

				<!-- BANK GUIDELINES -->
				<div class="cash-in-guidelines" *ngIf="category == 'bank'">
					<div class="step">1. Complete payment at any <b>{{data_focus.cash_in_method_name}}</b> branch to the following account:</div>
					<div class="bank-information">
						<div class="list" *ngIf="data_focus.primary_info">
							<span class="label font-weight-bold">Bank Account Name</span> :
							<span class="value">{{data_focus.primary_info}}</span>
						</div>
						<div class="list" *ngIf="data_focus.secondary_info">
							<span class="label font-weight-bold">Bank Account Number</span> :
							<span class="value">{{data_focus.secondary_info}}</span>
						</div>
						<div class="list" *ngIf="data_focus.optional_info">
							<span class="label font-weight-bold">Account Type</span> :
							<span class="value">{{data_focus.optional_info}}</span>
						</div>
					</div>
					<div class="step">2. After completing your payment, take a picture of your deposit slip and click upload proof of payment.</div>
					<div class="row" *ngIf="!uploading">
						<div class="offset-md-3 col-md-6 col-xs-12 offset-md-3" *ngIf="uploaded">
							<div class="alert alert-primary p-1 text-center">
								1 Attachment 
								<a href="{{attachment_link}}" target="_blank">
									<i class="fa fa-eye text-primary ml-2"></i>
								</a>
								<a href="javascript:void" (click)="removeAttachment()">
									<i class="fa fa-times text-danger ml-1"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="row" *ngIf="uploading">
						<div class="offset-md-3 col-md-6 col-xs-12 offset-md-3">
							<div class="p-1 text-center">
								<h3 class="fa fa-spinner button-spinner"></h3>
							</div>
						</div>
					</div>
					<div class="text-center button-upload-proof">
						<div class="btn btn-secondary {{uploading ? 'disabled' : ''}}" >Cancel Order</div>
						<input type="file" style="display: none;" id="payment_proof" (change)="onFileChange($event)">
						<div class="btn btn-primary {{uploading ? 'disabled' : ''}}" (click)="uploadProof()">Upload Proof of Payment</div>
					</div>
					<div class="step">3. You need to <b>wait for 24 hours</b> in order for your proof of payment to be reviewed and your cash-in to credit on your account.</div>
				</div>

				<!-- REMITTANCE GUIDELINES -->
				<div class="cash-in-guidelines" *ngIf="category == 'remittance'">
					<div class="step">1. Complete payment at any <b>{{data_focus.cash_in_method_name}}</b> branch with the following information:</div>
					<div class="bank-information">
						<div class="list" *ngIf="data_focus.primary_info">
							<span class="label font-weight-bold">Receiver Name</span> :
							<span class="value">{{data_focus.primary_info}}</span>
						</div>
						<div class="list" *ngIf="data_focus.secondary_info">
							<span class="label font-weight-bold">Receiver Address</span> :
							<span class="value">{{data_focus.secondary_info}}</span>
						</div>
						<div class="list" *ngIf="data_focus.optional_info">
							<span class="label font-weight-bold">Other Information</span> :
							<span class="value">{{data_focus.optional_info}}</span>
						</div>
					</div>
					<div class="step">2. After completing your payment, take a picture of your send money form and click upload proof of payment.</div>
					<div class="row" *ngIf="!uploading">
						<div class="offset-md-3 col-md-6 col-xs-12 offset-md-3" *ngIf="uploaded">
							<div class="alert alert-primary p-1 text-center">
								1 Attachment 
								<a href="{{attachment_link}}" target="_blank">
									<i class="fa fa-eye text-primary ml-2"></i>
								</a>
								<a href="javascript:void" (click)="removeAttachment()">
									<i class="fa fa-times text-danger ml-1"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="row" *ngIf="uploading">
						<div class="offset-md-3 col-md-6 col-xs-12 offset-md-3">
							<div class="p-1 text-center">
								<h3 class="fa fa-spinner button-spinner"></h3>
							</div>
						</div>
					</div>
					<div class="text-center button-upload-proof">
						<div class="btn btn-secondary {{uploading ? 'disabled' : ''}}" >Cancel Order</div>
						<input type="file" style="display: none;" id="payment_proof" (change)="onFileChange($event)">
						<div class="btn btn-primary {{uploading ? 'disabled' : ''}}" (click)="uploadProof()">Upload Proof of Payment</div>
					</div>
					<div class="step">3. You need to <b>wait for 24 hours</b> in order for your proof of payment to be reviewed and your cash-in to credit on your account.</div>
				</div>

				<!-- CRYPTO GUIDELINES -->
				<div class="cash-in-guidelines" *ngIf="category == 'crypto'">
					<div class="step">1. Complete payment at any <b>{{data_focus.cash_in_method_name}}</b> branch with the following information:</div>
					<div class="bank-information">
						<div class="list" *ngIf="data_focus.primary_info">
							<span class="label font-weight-bold">Bitcoin Deposit Address</span> :
							<span class="value">{{data_focus.primary_info}}</span>
						</div>
						<div class="list" *ngIf="data_focus.secondary_info">
							<span class="label font-weight-bold">Receiver Address</span> :
							<span class="value">{{data_focus.secondary_info}}</span>
						</div>
						<div class="list" *ngIf="data_focus.optional_info">
							<span class="label font-weight-bold">Other Informations</span> :
							<span class="value">{{data_focus.optional_info}}</span>
						</div>
					</div>
					<div class="step">2. After completing your payment, you will have to wait until the transaction gets confirmed.</div>
					<div class="step">3. You need to <b>wait for 24 hours</b> in order for your transaction to be reviewed and your cash-in to credit on your account.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-5">

		<div class="member-box">
			<div class="member-subtitle smaller">
				Cash in Summary
			</div>
			<div class="member-box-content">
				<div class="cash-out-summary">
					<div class="breakdown clearfix dotted-bottom">
						<div class="label pull-left">Payment Method</div>
						<div class="value pull-right">{{ data_focus.cash_in_method_name }}</div>
					</div>
					<div class="breakdown clearfix dotted-bottom">
						<div class="label pull-left">Status</div>
						<div class="value pull-right" *ngIf="!uploading">
							<span class="{{uploaded ? 'text-success' : 'text-danger'}}">
								{{uploaded ? 'Payment proof uploaded' : 'Pending proof of payment'}}
							</span>
						</div>
						<div class="value pull-right text-dark" *ngIf="uploading">
							<i class="fa fa-spinner button-spinner"></i>
						</div>
					</div>
					<div class="breakdown clearfix dotted-bottom">
						<div class="label pull-left">Receiving Wallet</div>
						<div class="value pull-right">{{ data_focus.cash_in_method_currency | uppercase }} Wallet</div>
					</div>
					<div class="breakdown clearfix dotted-bottom">
						<div class="label pull-left">You will receive</div>
						<div class="value pull-right">{{ data_focus.cash_in_method_currency | uppercase }} {{ cash_in_amount | number:'1.2-2' }}</div>
					</div>
					<div class="breakdown clearfix dotted-bottom">
						<div class="label pull-left">Service Charge</div>
						<div class="value pull-right">{{ data_focus.cash_in_method_currency | uppercase }} {{ charge.service_charge | number:'1.2-2' }}</div>
					</div>
					<div class="breakdown clearfix dotted-bottom" *ngIf="data_focus.cash_in_method_charge_fixed">
						<div class="label pull-left">Payment Method Fee (Fixed)</div>
						<div class="value pull-right">{{ data_focus.cash_in_method_currency | uppercase }} {{ data_focus.cash_in_method_charge_fixed | number:'1.2-2' }}</div>
					</div>
					<div class="breakdown clearfix dotted-bottom" *ngIf="data_focus.cash_in_method_charge_percentage">
						<div class="label pull-left">Payment Method Fee (Percentage)</div>
						<div class="value pull-right">{{ data_focus.cash_in_method_charge_percentage | number:'1.2-2' }}%</div>
					</div>
					<div class="breakdown clearfix dotted-bottom">
						<div class="label pull-left font-weight-bold">Total Charge</div>
						<div class="value pull-right red">{{ data_focus.cash_in_method_currency | uppercase }} {{ total_charge | number:'1.2-2'}}</div>
					</div>
					<div class="breakdown clearfix">
						<div class="label pull-left font-weight-bold">Amount Due</div>
						<div class="value pull-right primary-color">{{ data_focus.cash_in_method_currency | uppercase }} {{ total_due | number:'1.2-2'}}</div>
					</div>
				</div>
			</div>
		</div>

		<div class="proceed-button"><button disabled="{{submitting ? 'disabled' : ''}}" class="btn btn-sm btn-primary" (click)="submitCashIn()">Proceed on Cash In &raquo;</button></div>

	</div>
</div>
</span>