<div class="member-subtitle">
	List of Codes for Slot Creation
</div>

<div class="filter-box">
	<div class="form-row clearfix">
		<div class="col-md-3">
			<div class="filter mb-2">
				<select class="form-control form-control-sm" [(ngModel)]="codeFilter.membership" (change)="code_filter()">
					<option value="all">All Membership</option>
					<option value="Bronze">Bronze</option>
				</select>
			</div>
		</div>
		<div class="col-md-3">
			<div class="filter mb-2">
				<select class="form-control form-control-sm" [(ngModel)]="codeFilter.status" (change)="code_filter()">
					<option value="all">All Status</option>
					<option value="Used">Used</option>
					<option value="Unused">Unused</option>
				</select>
			</div>
		</div>
		<div class="col-md-3 offset-md-3">
			<div class="filter mb-2">
				<input type="text" class="form-control form-control-sm w-100" placeholder="Search for Code or Pin" name="">
			</div>
		</div>
	</div>
</div>

<div class="form-row clearfix">
	<div class="col-md-9">
		<div class="member-box push-top">
			<div class="member-box-content">
				<div class="code-vault-container">
					<div class="table-responsive">
						<table class="table table-sm">
							<thead>
								<tr>
									<th class="text-center">Code</th>
									<th class="text-center">Pin</th>
									<th class="text-center">Membership</th>
									<th class="text-center">Status</th>
									<th class="text-center">Used By</th>
									<th class="text-center">Usage Timestamp</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngIf="codeList == 0">
									<td colspan="6" class="p-2 text-center">No results found.</td>
								</tr>
								<tr *ngFor="let codes of codeList">
									<td class="text-center">{{codes.code_activation}}</td>
									<td class="text-center">{{codes.code_pin}}</td>
									<td class="text-center">{{codes.membership_name}}</td>
									<td class="text-center">{{codes.code_used == 0? 'Unused': 'Used'}}</td>
									<td class="text-center">{{codes.code_used == 0? '-----': codes.first_name +' '+ codes.last_name}}</td>
									<td class="text-center">{{codes.code_date_used}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="member-box push-top">
			<div class="member-box-content">
				<div class="code-vault-container">
					<div class="table-responsive">
						<table class="table table-sm">
							<thead>
								<tr>
									<th class="text-center">Claim Code</th>
									<th class="text-center">Status</th>
								</tr>
							</thead>
							<tbody >
								<tr *ngIf="claimcodeList == 0">
									<td colspan="6" class="p-2 text-center">No results found.</td>
								</tr>
								<tr *ngFor="let codes of claimcodeList">
									<td class="text-center">{{codes.claim_code}}</td>
									<td class="text-center">{{codes.claimed == 0 ? "Not yet claimed" : "Claimed"}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


