<div class="form-container">
	<!-- TITLE GROUP -->
	<div class="title-group">
		<div class="clearfix">
			<div class="pull-left icon"><i class="fa fa-address-book"></i></div>
			<div class="pull-left">
				<h3 class="main-title">Member List</h3>
				<div class="sub-title">Manage member information and there slot</div>
			</div>
			<div class="pull-right">
				<!-- BUTTON GROUP -->
				<div class="button-group">
					<button class="btn btn-secondary" data-toggle="modal" data-target="#resetMemberPopup"><i class="fa fa-refresh"></i> Reset Data</button>
					<button class="btn btn-secondary" data-toggle="modal" data-target="#placeSlotPopup"><i class="fa fa-street-view"></i> Place Slot</button>
					<button class="btn btn-secondary" data-toggle="modal" data-target="#createSlotPopup"><i class="fa fa-dot-circle-o"></i> Create Slot</button>
					<button class="btn btn-primary" data-toggle="modal" data-target="#addMemberPopup"><i class="fa fa-plus"></i> Add Member</button>
				</div>
			</div>
		</div>
	</div>
	<!-- FILTER AND SEARCH GROUP -->
	<div class="filter-search-group">
		<div class="row">
			<div class="col-md-8">
				<select class="form-control form-control-sm">
					<option>All Membership</option>
					<option>Regular</option>
					<option>Silver</option>
					<option>Gold</option>
					<option>Platinum</option>
				</select>
				<select class="form-control form-control-sm">
					<option>All Type</option>
					<option>Free Slot</option>
					<option>Paid Slot</option>
					<option>CD Slot</option>
					<option>Company Slot</option>
				</select>
				<select class="form-control form-control-sm">
					<option>All Ranking</option>
					<option>Dealer</option>
					<option>Builder</option>
					<option>Leader</option>
				</select>
			</div>
			<div class="col-md-4">
				<input type="text" class="form-control form-control-sm pull-right search" placeholder="Search name or slot" name="">
			</div>
		</div>
	</div>
	<!-- TABLE CONTENT -->
	<div class="table-responsive">
		<table class="table table-bordered table-hover table-sm">
			<thead>
				<tr>
					<th class="text-center">Slot Code</th>
					<th class="text-center">Member Name</th>
					<th class="text-center">Sponsor</th>
					<th class="text-center">Placement</th>
					<th class="text-center">Position</th>
					<th class="text-center">Membership</th>
					<th class="text-center">Type</th>
					<th class="text-center">Date Created</th>
					<th class="text-center">Date Placed</th>
					<th class="text-right">Wallet</th>
					<th class="text-right">Total Earnings</th>
				</tr>
			</thead>
			<tbody *ngIf="slot_list">
				<tr (click)="slot_information_popup(slot.slot_id)" *ngFor="let slot of slot_list.data | paginate: { itemsPerPage: slot_list.per_page, currentPage: slot_list.current_page, totalItems: slot_list.total, id : 'slot_list_page' }">
					<td class="text-center">{{slot.slot_no}}</td>
					<td class="text-center">{{slot.first_name}} {{slot.last_name}}</td>
					<td class="text-center">{{slot.slot_sponsor != 0 ? slot.slot_sponsor_no : "-"}}</td>
					<td class="text-center">{{slot.slot_placement != 0 ? slot.slot_placement_no : "-"}}</td>
					<td class="text-center">{{slot.slot_placement != 0 ? slot.slot_position : "-"}}</td>
					<td class="text-center">{{slot.membership_name}}</td>
					<td class="text-center">{{slot.slot_type}}</td>
					<td class="text-center">{{slot.slot_date_created}}</td>
					<td class="text-center">{{slot.slot_date_placed ? slot.slot_date_placed_new : "-"}}</td>
					<td class="text-right">0.00</td>
					<td class="text-right">0.00</td>
				</tr>
			</tbody>
			<tfoot>
			<tr>
				<th colspan="9"></th>
				<th class="text-right">0.00</th>
				<th class="text-right blue">0.00</th>
			</tr>
			</tfoot>
		</table>
	</div>
	<div class="clearfix">
		<div class="pull-right">
			<pagination-controls id="slot_list_page" (pageChange)="go_to_page($event)"></pagination-controls>
		</div>
	</div>
</div>
<!-- POPUP - SLOT INFORMATION -->
<div class="modal fade big-popup-with-tab" id="slotInfoPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-address-book"></i> Slot Information</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div *ngIf="slot_info">
					<!-- TABS -->
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="modify-tab" data-toggle="tab" href="#modify" role="tab" aria-controls="modify" aria-selected="true">Information</a>
						</li>
						<li class="nav-item">
							<a (click)="slot_load_tab_details(slot_info.information.slot_id)" class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Details</a>
						</li>
						<li class="nav-item">
							<a (click)="slot_load_tab_earnings(slot_info.information.slot_id)" class="nav-link" id="earnings-tab" data-toggle="tab" href="#earnings" role="tab" aria-controls="earnings" aria-selected="false">Earning History</a>
						</li>
						<li class="nav-item">
							<a (click)="slot_load_tab_distributed(slot_info.information.slot_id)" class="nav-link" id="distributed-tab" data-toggle="tab" href="#distributed" role="tab" aria-controls="distributed" aria-selected="false">Distributed Income</a>
						</li>
						<li class="nav-item">
							<a (click)="slot_load_tab_wallet(slot_info.information.slot_id)" class="nav-link" id="wallet-tab" data-toggle="tab" href="#wallet" role="tab" aria-controls="wallet" aria-selected="false">Wallet History</a>
						</li>
						<li class="nav-item">
							<a (click)="slot_load_tab_payout(slot_info.information.slot_id)" class="nav-link" id="payout-tab" data-toggle="tab" href="#payout" role="tab" aria-controls="payout" aria-selected="false">Payout History</a>
						</li>
						<li class="nav-item">
							<a (click)="slot_load_tab_points(slot_info.information.slot_id)" class="nav-link" id="points-tab" data-toggle="tab" href="#points" role="tab" aria-controls="points" aria-selected="false">Points History</a>
						</li>
						<li class="nav-item">
							<a (click)="slot_load_tab_network(slot_info.information.slot_id)" class="nav-link" id="network-tab" data-toggle="tab" href="#network" role="tab" aria-controls="network" aria-selected="false">Network List</a>
						</li>
						<li class="nav-item">
							<a (click)="slot_load_tab_codevault(slot_info.information.slot_id)" class="nav-link" id="codevault-tab" data-toggle="tab" href="#codevault" role="tab" aria-controls="codevault" aria-selected="false">Codevault</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<!-- TAB.MODIFY -->
						<div class="tab-pane fade show active" id="modify" role="tabpanel" aria-labelledby="modify-tab">
							<form class="form-tab" (ngSubmit)="slot_submit_tab_info()" #slot_info_form="ngForm">
								<div class="group-title">Slot Information</div>
								
								<!-- SLOT INFORMATION -->
								<div class="form-row">
									<div class="form-group col-md-4">
										<label><b>Slot Code</b></label>
										<input [(ngModel)]="slot_info.information.slot_no" name="slot_no" type="text" class="form-control form-control-sm">
									</div>
									<div class="form-group col-md-4">
										<label><b>Slot Owner</b></label>
										<select [(ngModel)]="slot_info.information.slot_owner" name="slot_owner" class="form-control form-control-sm">
											<option *ngIf="slot_info.information.slot_owner == 1" selected value="1">Admin</option>
											<option *ngFor="let member of member_list" value="{{ member.id }}">{{ member.first_name }} {{ member.last_name }}</option>
										</select>
									</div>
									<div class="form-group col-md-4">
										<label><b>Slot Status</b></label>
										<select [(ngModel)]="slot_info.information.slot_status" name="slot_status" class="form-control form-control-sm">
											<option value="active">Active</option>
											<option value="blocked">Blocked</option>
										</select>
									</div>
									<div class="form-group col-md-4">
										<label><b>Sponsor</b></label>
										<input [(ngModel)]="slot_info.information.slot_sponsor" name="slot_sponsor" type="text" class="form-control form-control-sm">
									</div>
									<div class="form-group col-md-4">
										<label><b>Placement</b></label>
										<input [(ngModel)]="slot_info.information.slot_placement" name="slot_placement" type="text" class="form-control form-control-sm">
									</div>
									<div class="form-group col-md-4">
										<label><b>Position</b></label>
										<select [(ngModel)]="slot_info.information.slot_position" name="slot_position" class="form-control form-control-sm">
											<option value="LEFT">Left</option>
											<option value="RIGHT">Right</option>
										</select>
									</div>
								</div>
								<!-- MEMBER INFORMATION -->
								<div class="group-title">Member Information</div>
								<div class="form-row">
									<div class="form-group col-md-4">
										<label><b>E-Mail</b></label>
										<input [(ngModel)]="slot_info.information.email" name="email" type="text" class="form-control form-control-sm" value="johndoe@gmail.com">
									</div>
									<div class="form-group col-md-4">
										<label><b>First Name</b></label>
										<input [(ngModel)]="slot_info.information.first_name" name="first_name" type="text" class="form-control form-control-sm" value="John">
									</div>
									<div class="form-group col-md-4">
										<label><b>Last Name</b></label>
										<input [(ngModel)]="slot_info.information.last_name" name="last_name" type="text" class="form-control form-control-sm" value="Doe">
									</div>
									<div class="form-group col-md-4">
										<label><b>Contact Number</b></label>
										<input [(ngModel)]="slot_info.information.contact" name="contact" type="text" class="form-control form-control-sm" value="09171587078">
									</div>
									<div class="form-group col-md-4">
										<label><b>Country / Currency</b></label>
										<select [(ngModel)]="slot_info.information.country_id" name="country_id" class="form-control form-control-sm">
											<option *ngFor="let country of country_list" value="{{ country.country_id }}">{{ country.country_name }} ({{ country.currency_code }})</option>
										</select>
									</div>
									<div class="form-group col-md-4">
										<label><b>Password</b></label>
										<input [(ngModel)]="slot_info.information.show_password" name="show_password" type="text" class="form-control form-control-sm">
									</div>
								</div>
								<div class="button-container clearfix text-right">
									<button class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
									<button class="btn btn-primary" type="submit" [disabled]="submitted"><i class="fa fa-save"></i> Update Slot Information</button>
								</div>
							</form>
						</div>
						<!-- TAB.DETAILS -->
						<div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
							<div *ngIf="slot_info.details">
								<div class="group-title">Slot Details</div>
								<div class="row">
									<!-- LEFT -->
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-6 text-right"><span class="label">Slot Code</span></div>
											<div class="col-md-6 text-left"><span class="information">{{ slot_info.details.slot_no }}</span></div>
										</div>
										<div class="row">
											<div class="col-md-6 text-right"><span class="label">Slot Owner</span></div>
											<div class="col-md-6 text-left"><span class="information"><a href="javascript:">{{ slot_info.details.first_name }} {{ slot_info.details.last_name }}</a></span></div>
										</div>
										<div class="row">
											<div class="col-md-6 text-right"><span class="label">Current Wallet</span></div>
											<div class="col-md-6 text-left"><span class="information">0.00</span></div>
										</div>
										<div class="row">
											<div class="col-md-6 text-right"><span class="label">Total Earnings</span></div>
											<div class="col-md-6 text-left"><span class="information">0.00</span></div>
										</div>
										<div class="row">
											<div class="col-md-6 text-right"><span class="label">Total Payout</span></div>
											<div class="col-md-6 text-left"><span class="information">0.00</span></div>
										</div>
										<div class="row">
											<div class="col-md-6 text-right"><span class="label">Sponsor Tree</span></div>
											<div class="col-md-6 text-left"><span class="information"><a href="javascript:">0 DOWNLINES</a></span></div>
										</div>
										<div class="row">
											<div class="col-md-6 text-right"><span class="label">Binary Tree</span></div>
											<div class="col-md-6 text-left"><span class="information"><a href="javascript:">0 DOWNLINES</a></span></div>
										</div>
										<div class="row">
											<div class="col-md-6 text-right"><span class="label">Code Vault (Membership)</span></div>
											<div class="col-md-6 text-left"><span class="information"><a href="javascript:">0 Codes</a></span></div>
										</div>
										<div class="row">
											<div class="col-md-6 text-right"><span class="label">Code Vault (Product)</span></div>
											<div class="col-md-6 text-left"><span class="information"><a href="javascript:">0 Codes</a></span></div>
										</div>
									</div>
									<!-- RIGHT -->
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-6 text-right"><span class="label">Sponsor</span></div>
											<div class="col-md-6 text-left">
												<span class="information">
													<a href="javascript:" *ngIf="slot_info.details.sponsor">{{ slot_info.details.sponsor.first_name }} {{ slot_info.details.sponsor.last_name }}</a>
													<a href="javascript:" *ngIf="!slot_info.details.sponsor">No Sponsor</a>
												</span>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 text-right"><span class="label">Placement</span></div>
											<div class="col-md-6 text-left"><span class="information"><a href="javascript:">{{ slot_info.details.slot_sponsor }}</a></span></div>
										</div>
										<div class="row">
											<div class="col-md-6 text-right"><span class="label">Position</span></div>
											<div class="col-md-6 text-left"><span class="information">{{ slot_info.details.slot_position }}</span></div>
										</div>
										<div class="row">
											<div class="col-md-6 text-right"><span class="label">Membership</span></div>
											<div class="col-md-6 text-left"><span class="information">{{ slot_info.details.membership_name }}</span></div>
										</div>
										<div class="row">
											<div class="col-md-6 text-right"><span class="label">Type</span></div>
											<div class="col-md-6 text-left">
												<span *ngIf="slot_info.details.slot_owner == 1" class="information">Company Slot</span>
												<span *ngIf="slot_info.details.slot_owner != 1" class="information">Member Slot</span>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 text-right"><span class="label">Code Source</span></div>
											<div class="col-md-6 text-left"><span class="information"><a href="javascript:">00000 + 00000</a></span></div>
										</div>
										<div class="row">
											<div class="col-md-6 text-right"><span class="label">Slot Creation Timestamp</span></div>
											<div class="col-md-6 text-left"><span class="information">{{ slot_info.details.slot_date_created | date : "M/d/y" }} ({{ slot_info.details.slot_date_created | date : "h:ss a" }})</span></div>
										</div>
										<div class="row">
											<div class="col-md-6 text-right"><span class="label">Slot Placement Timestamp</span></div>
											<div class="col-md-6 text-left">
												<span class="information" *ngIf="slot_info.details.slot_date_created">{{ slot_info.details.slot_date_created | date : "M/d/y" }} ({{ slot_info.details.slot_date_created | date : "h:ss a" }})</span>
												<span class="information" *ngIf="!slot_info.details.slot_date_created">Unknown</span>
											</div>
										</div>
									</div>
								</div>
								<div class="group-title">Member Details</div>
								<div class="row">
									<!-- LEFT -->
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-6 text-right"><span class="label">First Name</span></div>
											<div class="col-md-6 text-left"><span class="information">{{ slot_info.details.first_name }}</span></div>
										</div>
										<div class="row">
											<div class="col-md-6 text-right"><span class="label">Last Name</span></div>
											<div class="col-md-6 text-left"><span class="information">{{ slot_info.details.last_name }}</span></div>
										</div>
										<div class="row">
											<div class="col-md-6 text-right"><span class="label">E-Mail</span></div>
											<div class="col-md-6 text-left"><span class="information">{{ slot_info.details.email }}</span></div>
										</div>
									</div>
									<!-- RIGHT -->
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-6 text-right"><span class="label">Slots Owned</span></div>
											<div class="col-md-6 text-left"><span class="information"><a href="javascript:">{{ slot_info.details.slot_count }} SLOT(S)</a></span></div>
										</div>
										<div class="row">
											<div class="col-md-6 text-right"><span class="label">Contact Number</span></div>
											<div class="col-md-6 text-left"><span class="information"><a href="javascript:">{{ slot_info.details.contact }}</a></span></div>
										</div>
										<div class="row">
											<div class="col-md-6 text-right"><span class="label">Country / Currency</span></div>
											<div class="col-md-6 text-left"><span class="information">{{ slot_info.details.country_name }} ({{ slot_info.details.currency_code }})</span></div>
										</div>
									</div>
								</div>
							</div>
							<div class="text-center" *ngIf="!slot_info.details">
								<img src="/assets/admin/img/spinner.gif">
							</div>
						</div>
						<!-- TAB.EARNINGS -->
						<div class="tab-pane fade" id="earnings" role="tabpanel" aria-labelledby="earnings-tab">
							<div class="filter-group">
								<div class="row">
									<div class="col-md-3">
										<select (change)="this.slot_info.earnings = null; slot_load_tab_earnings(slot_info.information.slot_id)" [(ngModel)]="slot_earnings_filter.type" name="type" class="form-control form-control-sm">
											<option value="all">All Type</option>
											<option value="free">Free Slot</option>
											<option value="paid">Paid Slot</option>
											<option value="cd">CD Slot</option>
											<option value="company">Company Slot</option>
										</select>
									</div>
									<div class="col-md-3">
										<input (change)="this.slot_info.earnings = null; slot_load_tab_earnings(slot_info.information.slot_id)" [(ngModel)]="slot_earnings_filter.from" name="from" type="date" class="form-control form-control-sm">
									</div>
									<div class="col-md-3">
										<input (change)="this.slot_info.earnings = null; slot_load_tab_earnings(slot_info.information.slot_id)" [(ngModel)]="slot_earnings_filter.to" name="to" type="date" class="form-control form-control-sm">
									</div>
									<div class="col-md-3">
										<input (change)="this.slot_info.earnings = null; slot_load_tab_earnings(slot_info.information.slot_id)" [(ngModel)]="slot_earnings_filter.search" name="search" type="text" placeholder="Search slot code" class="form-control form-control-sm">
									</div>
								</div>
							</div>
							<div *ngIf="slot_info.earnings">
								<div class="table-group">
									<div class="table-responsive">
										<table class="table table-bordered table-hover table-sm">
											<thead>
												<tr>
													<th>Date</th>
													<th>Time</th>
													<th>Earning Trigger</th>
													<th>Type</th>
													<th class="text-right">Amount</th>
												</tr>
											</thead>
											<tbody *ngFor="let earning of slot_info.earnings.data | paginate: { itemsPerPage: slot_info.earnings.per_page, currentPage: slot_info.earnings.current_page, totalItems: slot_info.earnings.total, id : 'slot_info_earning_page' }">
												<tr>
													<td>{{ earning.earning_log_date_created | date : "M/d/y" }}</td>
													<td>{{ earning.earning_log_date_created | date : "h:ss a" }}</td>
													<td><a href="javascript">{{ earning.earning_log_cause_id }}</a></td>
													<td>{{ earning.earning_log_plan_type }}</td>
													<td class="text-right">{{ earning.earning_log_amount | number : '1.2-2' }}</td>
												</tr>
											</tbody>
											<tfoot>
											<tr>
												<th class="text-right" colspan="4"><b>Total Earnings</b></th>
												<th class="text-right blue">{{ slot_info.earnings.total_earning | number : '1.2-2' }}</th>
											</tr>
											</tfoot>
										</table>
									</div>
									<div class="clearfix">
										<div class="pull-right">
											<pagination-controls id="slot_info_earning_page" (pageChange)="go_to_page_earnings($event)"></pagination-controls>
										</div>
									</div>
								</div>
							</div>
							<div class="text-center" *ngIf="!slot_info.earnings">
								<img src="/assets/admin/img/spinner.gif">
							</div>
						</div>
						<!-- TAB.DISTRIBUTED -->
						<div class="tab-pane fade" id="distributed" role="tabpanel" aria-labelledby="distributed-tab">
							<div class="filter-group">
								<div class="row">
									<div class="col-md-3">
										<select (change)="this.slot_info.distributed = null; slot_load_tab_distributed(slot_info.information.slot_id)" [(ngModel)]="slot_distributed_filter.type" name="type" class="form-control form-control-sm">
											<option value="all">All Type</option>
										</select>
									</div>
									<div class="col-md-3">
										<input (change)="this.slot_info.distributed = null; slot_load_tab_distributed(slot_info.information.slot_id)" [(ngModel)]="slot_distributed_filter.from" name="from" type="date" class="form-control form-control-sm" name="">
									</div>
									<div class="col-md-3">
										<input (change)="this.slot_info.distributed = null; slot_load_tab_distributed(slot_info.information.slot_id)" [(ngModel)]="slot_distributed_filter.to" name="to" type="date" class="form-control form-control-sm" name="">
									</div>
									<div class="col-md-3">
										<input (change)="this.slot_info.distributed = null; slot_load_tab_distributed(slot_info.information.slot_id)" [(ngModel)]="slot_distributed_filter.search" name="search" type="text" placeholder="Search slot code" class="form-control form-control-sm" name="">
									</div>
								</div>
							</div>
							<div *ngIf="slot_info.distributed">
								<div class="table-group">
									<div class="table-responsive">
										<table class="table table-bordered table-hover table-sm">
											<thead>
												<tr>
													<th>Date</th>
													<th>Time</th>
													<th>Slot Event</th>
													<th>Earning Recipient</th>
													<th>Type</th>
													<th class="text-right">Amount</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let distributed of slot_info.distributed.data | paginate: { itemsPerPage: slot_info.distributed.per_page, currentPage: slot_info.distributed.current_page, totalItems: slot_info.distributed.total, id : 'slot_info_distributed_page' }">
													<td>{{ distributed.earning_log_date_created | date : "M/d/y" }}</td>
													<td>{{ distributed.earning_log_date_created | date : "h:ss a" }}</td>
													<td></td>
													<td><a href="javascript"></a></td>
													<td></td>
													<td class="text-right">{{ distributed.earning_log_amount | number : '1.2-2' }}</td>
												</tr>
											</tbody>
											<tfoot>
											<tr>
												<th class="text-right" colspan="5"><b>Total Distributed Income</b></th>
												<th class="text-right blue">{{ slot_info.distributed.total_distributed | number : '1.2-2' }}</th>
											</tr>
											</tfoot>
										</table>
									</div>
									<div class="clearfix">
										<div class="pull-right">
											<pagination-controls id="slot_info_distributed_page" (pageChange)="go_to_page_distributed($event)"></pagination-controls>
										</div>
									</div>
								</div>
							</div>
							<div class="text-center" *ngIf="!slot_info.distributed">
								<img src="/assets/admin/img/spinner.gif">
							</div>
						</div>
						<!-- TAB.WALLET -->
						<div class="tab-pane fade" id="wallet" role="tabpanel" aria-labelledby="wallet-tab">
							<div class="filter-group">
								<div class="row">
									<div class="col-md-3">
										<input (change)="this.slot_info.wallet = null; slot_load_tab_wallet(slot_info.information.slot_id)" [(ngModel)]="slot_wallet_filter.from" type="date" class="form-control form-control-sm" name="from">
									</div>
									<div class="col-md-3">
										<input (change)="this.slot_info.wallet = null; slot_load_tab_wallet(slot_info.information.slot_id)" [(ngModel)]="slot_wallet_filter.to" type="date" class="form-control form-control-sm" name="to">
									</div>
									<div class="col-md-6 text-right filter-btn">
										<a href="{{ rest.domain + '/export/slot_wallet_history/pdf' + '?' + arrayToQueryString(this.slot_wallet_filter) }}" target="_blank" class="btn btn-secondary btn-sm"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>
										<a href="{{ rest.domain + '/export/slot_wallet_history/csv' + '?' + arrayToQueryString(this.slot_wallet_filter) }}" target="_blank" class="btn btn-secondary btn-sm"><i class="fa fa-file-excel-o"></i> Export as CSV</a>
										<button type="button" class="btn btn-primary btn-sm"><i class="fa fa-adjust"></i> Adjust Wallet</button>
									</div>
								</div>
							</div>
							<div *ngIf="slot_info.wallet">
								<div class="table-group">
									<div class="table-responsive">
										<table class="table table-bordered table-hover table-sm">
											<thead>
												<tr>
													<th>Posting Date</th>
													<th>Detail</th>
													<th>Debit / Credit</th>
													<th class="text-right">Amount</th>
													<th class="text-right">Running Balance</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let wallet of slot_info.wallet.data | paginate: { itemsPerPage: slot_info.wallet.per_page, currentPage: slot_info.wallet.current_page, totalItems: slot_info.wallet.total, id : 'slot_info_wallet_page' }">
													<td>{{ wallet.wallet_log_date_created | date : "M/d/y" }}</td>
													<td>{{ wallet.wallet_log_details }}</td>
													<td>{{ wallet.wallet_log_type }}</td>
													<td class="text-right">{{ wallet.wallet_log_amount | number : '1.2-2' }}</td>
													<td class="text-right">{{ wallet.wallet_log_running_balance | number : '1.2-2' }}</td>
												</tr>
											</tbody>
											<tfoot>
											<tr>
												<th class="text-right" colspan="4">Current Balance</th>
												<th class="text-right blue"><b>{{ slot_info.wallet.total_wallet | number : '1.2-2' }}</b></th>
											</tr>
											</tfoot>
										</table>
									</div>
								</div>
								<div class="clearfix">
									<div class="pull-right">
										<pagination-controls id="slot_info_wallet_page" (pageChange)="go_to_page_wallet($event)"></pagination-controls>
									</div>
								</div>
							</div>
							<div class="text-center" *ngIf="!slot_info.wallet">
								<img src="/assets/admin/img/spinner.gif">
							</div>
						</div>
						<!-- TAB.PAYOUT -->
						<div class="tab-pane fade" id="payout" role="tabpanel" aria-labelledby="payout-tab">
							<div class="filter-group">
								<div class="row">
									<div class="col-md-3">
										<input (change)="this.slot_info.payout = null; slot_load_tab_payout(slot_info.information.slot_id)" [(ngModel)]="slot_payout_filter.from" type="date" class="form-control form-control-sm" name="from">
									</div>
									<div class="col-md-3">
										<input (change)="this.slot_info.payout = null; slot_load_tab_payout(slot_info.information.slot_id)" [(ngModel)]="slot_payout_filter.to" type="date" class="form-control form-control-sm" name="to">
									</div>
									<div class="col-md-6 text-right filter-btn">
										<a href="{{ rest.domain + '/export/slot_payout_history/pdf' + '?' + arrayToQueryString(this.slot_payout_filter) }}" target="_blank" class="btn btn-secondary btn-sm"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>
										<a href="{{ rest.domain + '/export/slot_payout_history/csv' + '?' + arrayToQueryString(this.slot_payout_filter) }}" target="_blank" class="btn btn-secondary btn-sm"><i class="fa fa-file-excel-o"></i> Export as CSV</a>
									</div>
								</div>
							</div>
							<div *ngIf="slot_info.payout">
								<div class="table-group">
									<div class="table-responsive">
										<table class="table table-bordered table-hover table-sm">
											<thead>
												<tr>
													<th>Timestamp Requested</th>
													<th>Timestamp Processed</th>
													<th>Status</th>
													<th class="text-right">Deposit Amount</th>
													<th class="text-right">Additional Charge</th>
													<th class="text-right">Total Wallet Deduction</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let payout of slot_info.payout.data | paginate: { itemsPerPage: slot_info.payout.per_page, currentPage: slot_info.payout.current_page, totalItems: slot_info.payout.total, id : 'slot_info_payout_page' }">
													<td>{{ payout.wallet_log_date_created | date : "M/d/y" }} ({{ payout.wallet_log_date_created | date : "h:ss a" }})</td>
													<td>{{ payout.wallet_log_date_created | date : "M/d/y" }} ({{ payout.wallet_log_date_created | date : "h:ss a" }})</td>
													<td>Processed</td>
													<td class="text-right">{{ payout.wallet_log_amount | number : '1.2-2' }}</td>
													<td class="text-right">{{ payout.wallet_log_amount | number : '1.2-2' }}</td>
													<td class="text-right">{{ payout.wallet_log_amount | number : '1.2-2' }}</td>
												</tr>
											</tbody>
											<tfoot>
											<tr>
												<th class="text-right" colspan="5">Total Deposit</th>
												<td class="text-right red">{{ slot_info.payout.total_payout | number : '1.2-2' }}</td>
											</tr>
											<tr>
												<th class="text-right" colspan="5">Total Charge</th>
												<td class="text-right red">{{ slot_info.payout.total_payout | number : '1.2-2' }}</td>
											</tr>
											<tr>
												<th class="text-right" colspan="5">Total Wallet Deduction</th>
												<th class="text-right blue">{{ slot_info.payout.total_payout | number : '1.2-2' }}</th>
											</tr>
											</tfoot>
										</table>
									</div>
								</div>
								<div class="clearfix">
									<div class="pull-right">
										<pagination-controls id="slot_info_payout_page" (pageChange)="go_to_page_payout($event)"></pagination-controls>
									</div>
								</div>
							</div>
							<div class="text-center" *ngIf="!slot_info.payout">
								<img src="/assets/admin/img/spinner.gif">
							</div>
						</div>
						<!-- TAB.POINTS -->
						<div class="tab-pane fade" id="points" role="tabpanel" aria-labelledby="points-tab">
							<div class="filter-group">
								<div class="row">
									<div class="col-md-3">
										<select (change)="this.slot_info.points = null; slot_load_tab_points(slot_info.information.slot_id)" [(ngModel)]="slot_points_filter.type" name="type" class="form-control form-control-sm">
											<option value="all">All Point Type</option>
											<option value="group_pv">Group PV</option>
											<option value="personal_pv">Personal PV</option>
										</select>
									</div>
									<div class="col-md-3">
										<input (change)="this.slot_info.points = null; slot_load_tab_points(slot_info.information.slot_id)" [(ngModel)]="slot_points_filter.from" name="from" type="date" class="form-control form-control-sm">
									</div>
									<div class="col-md-3">
										<input (change)="this.slot_info.points = null; slot_load_tab_points(slot_info.information.slot_id)" [(ngModel)]="slot_points_filter.to" name="to" type="date" class="form-control form-control-sm">
									</div>
								</div>
							</div>
							<div *ngIf="slot_info.points">
								<div class="table-group">
									<div class="table-responsive">
										<table class="table table-bordered table-hover table-sm">
											<thead>
												<tr>
													<th>Posting Timestamp</th>
													<th>Trigger / Detail</th>
													<th>Point Type</th>
													<th>Slot Trigger</th>
													<th>Receipt</th>
													<th>Debit / Credit</th>
													<th class="text-right">Amount</th>
													<th class="text-right">Running Balance</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let points of slot_info.points.data | paginate: { itemsPerPage: slot_info.points.per_page, currentPage: slot_info.points.current_page, totalItems: slot_info.points.total, id : 'slot_info_points_page' }">
													<td>{{ points.points_log_date_created | date : "M/d/y" }} ({{ points.points_log_date_created | date : "h:ss a" }})</td>
													<td>Product Purchase</td>
													<td>{{ points.points_log_type }}</td>
													<td>
														<a *ngIf="points.slot_trigger" href="javascript:">{{ points.slot_trigger.slot_no }}</a>
													</td>
													<td><a href="javascript:">000000034</a></td>
													<td>Credit</td>
													<td class="text-right">{{ points.points_log_amount | number : '1.2-2' }}</td>
													<td class="text-right">0.34</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="clearfix">
									<div class="pull-right">
										<pagination-controls id="slot_info_points_page" (pageChange)="go_to_page_points($event)"></pagination-controls>
									</div>
								</div>
							</div>
							<div class="text-center" *ngIf="!slot_info.points">
								<img src="/assets/admin/img/spinner.gif">
							</div>
						</div>
						<!-- TAB.NETWORK -->
						<div class="tab-pane fade" id="network" role="tabpanel" aria-labelledby="network-tab">
							<div class="filter-group">
								<div class="row">
									<div class="col-md-3">
										<select (change)="this.slot_info.network = null; slot_load_tab_network(slot_info.information.slot_id)" [(ngModel)]="slot_network_filter.level" name="level" class="form-control form-control-sm">
											<option value="all">All Levels</option>
										</select>
									</div>
									<div class="col-md-4">
										<input (change)="this.slot_info.network = null; slot_load_tab_network(slot_info.information.slot_id)" [(ngModel)]="slot_network_filter.search" name="search" type="text" placeholder="Search slot code or customer name" class="form-control form-control-sm">
									</div>
									<div class="col-md-5 text-right filter-btn">
										<a href="{{ rest.domain + '/export/slot_network_list/pdf' + '?' + arrayToQueryString(this.slot_payout_filter) }}" target="_blank" class="btn btn-secondary btn-sm"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>
										<a href="{{ rest.domain + '/export/slot_network_list/csv' + '?' + arrayToQueryString(this.slot_payout_filter) }}" target="_blank" class="btn btn-secondary btn-sm"><i class="fa fa-file-excel-o"></i> Export as CSV</a>
									</div>
								</div>
							</div>
							<div *ngIf="slot_info.network">
								<div class="table-group">
									<div class="table-responsive">
										<table class="table table-bordered table-hover table-sm">
											<thead>
												<tr>
													<th>Level</th>
													<th>Slot Code</th>
													<th>Slot Owner</th>
													<th>Timestamp Created</th>
													<th>Timestamp Placed</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let network of slot_info.network.data | paginate: { itemsPerPage: slot_info.network.per_page, currentPage: slot_info.network.current_page, totalItems: slot_info.network.total, id : 'slot_info_network_page' }">
													<td>1st</td>
													<td><a href="javascript:">{{ network.slot_no }}</a></td>
													<td><a href="javascript:">{{ network.first_name }} {{ network.last_name }}</a></td>
													<td>{{ network.slot_date_created | date : "M/d/y" }} ({{ network.slot_date_created | date : "h:ss a" }})</td>
													<td *ngIf="network.slot_date_placed">{{ network.slot_date_placed | date : "M/d/y" }} ({{ network.slot_date_placed | date : "h:ss a" }})</td>
													<td *ngIf="!network.slot_date_placed">Not placed yet</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="clearfix">
									<div class="pull-right">
										<pagination-controls id="slot_info_network_page" (pageChange)="go_to_page_network($event)"></pagination-controls>
									</div>
								</div>
							</div>
							<div class="text-center" *ngIf="!slot_info.network">
								<img src="/assets/admin/img/spinner.gif">
							</div>
						</div>
						<!-- TAB.CODEVAUULT -->
						<div class="tab-pane fade" id="codevault" role="tabpanel" aria-labelledby="codevault-tab">
							<div class="filter-group">
								<div class="row">
									<div class="col-md-3">
										<select (change)="this.slot_info.codevault = null; slot_load_tab_codevault(slot_info.information.slot_id)" [(ngModel)]="slot_codevault_filter.status" name="status" class="form-control form-control-sm">
											<option>All Status</option>
										</select>
									</div>
									<div class="col-md-4">
										<input (change)="this.slot_info.codevault = null; slot_load_tab_codevault(slot_info.information.slot_id)" [(ngModel)]="slot_codevault_filter.search" name="search" type="text" placeholder="Search code or pin" class="form-control form-control-sm">
									</div>
									<div class="col-md-5 text-right filter-btn">
										<button class="btn btn-secondary btn-sm"><i class="fa fa-file-pdf-o"></i> Export as PDF</button>
										<button class="btn btn-secondary btn-sm"><i class="fa fa-file-excel-o"></i> Export as CSV</button>
									</div>
								</div>
							</div>
							<div *ngIf="slot_info.codevault">
								<div class="table-group">
									<div class="table-responsive">
										<table class="table table-bordered table-hover table-sm">
											<thead>
												<tr>
													<th>Code</th>
													<th>Pin</th>
													<th>Membership</th>
													<th>Type</th>
													<th>Status</th>
													<th>Timestamp Used</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let codevault of slot_info.codevault.data | paginate: { itemsPerPage: slot_info.codevault.per_page, currentPage: slot_info.codevault.current_page, totalItems: slot_info.codevault.total, id : 'slot_info_codevault_page' }">
													<td>{{ codevault.code_activation }}</td>
													<td>{{ codevault.code_pin }}</td>
													<td>{{ codevault.membership_name }}</td>
													<td>{{ codevault.slot_type }}</td>
													<td>Used by <a href="javascript:">Guillermo Tabligan</a> to create slot <a href="javascript:">M00001</a></td>
													<td>10/24/2018 (10:30 AM)</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="clearfix">
									<div class="pull-right">
										<pagination-controls id="slot_info_codevault_page" (pageChange)="go_to_page_codevault($event)"></pagination-controls>
									</div>
								</div>
							</div>
							<div class="text-center" *ngIf="!slot_info.codevault">
								<img src="/assets/admin/img/spinner.gif">
							</div>
						</div>
					</div>
				</div>
				<div class="text-center" *ngIf="!slot_info">
					<div class="lds-css ng-scope">
					<div class="lds-spinner" style="100%;height:100%; margin:auto;"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
					<style type="text/css">@keyframes lds-spinner {
					  0% {
					    opacity: 1;
					  }
					  100% {
					    opacity: 0;
					  }
					}
					@-webkit-keyframes lds-spinner {
					  0% {
					    opacity: 1;
					  }
					  100% {
					    opacity: 0;
					  }
					}
					.lds-spinner {
					  position: relative;
					}
					.lds-spinner div {
					  left: 94px;
					  top: 48px;
					  position: absolute;
					  -webkit-animation: lds-spinner linear 1s infinite;
					  animation: lds-spinner linear 1s infinite;
					  background: #28292f;
					  width: 12px;
					  height: 24px;
					  border-radius: 40%;
					  -webkit-transform-origin: 6px 52px;
					  transform-origin: 6px 52px;
					}
					.lds-spinner div:nth-child(1) {
					  -webkit-transform: rotate(0deg);
					  transform: rotate(0deg);
					  -webkit-animation-delay: -0.916666666666667s;
					  animation-delay: -0.916666666666667s;
					}
					.lds-spinner div:nth-child(2) {
					  -webkit-transform: rotate(30deg);
					  transform: rotate(30deg);
					  -webkit-animation-delay: -0.833333333333333s;
					  animation-delay: -0.833333333333333s;
					}
					.lds-spinner div:nth-child(3) {
					  -webkit-transform: rotate(60deg);
					  transform: rotate(60deg);
					  -webkit-animation-delay: -0.75s;
					  animation-delay: -0.75s;
					}
					.lds-spinner div:nth-child(4) {
					  -webkit-transform: rotate(90deg);
					  transform: rotate(90deg);
					  -webkit-animation-delay: -0.666666666666667s;
					  animation-delay: -0.666666666666667s;
					}
					.lds-spinner div:nth-child(5) {
					  -webkit-transform: rotate(120deg);
					  transform: rotate(120deg);
					  -webkit-animation-delay: -0.583333333333333s;
					  animation-delay: -0.583333333333333s;
					}
					.lds-spinner div:nth-child(6) {
					  -webkit-transform: rotate(150deg);
					  transform: rotate(150deg);
					  -webkit-animation-delay: -0.5s;
					  animation-delay: -0.5s;
					}
					.lds-spinner div:nth-child(7) {
					  -webkit-transform: rotate(180deg);
					  transform: rotate(180deg);
					  -webkit-animation-delay: -0.416666666666667s;
					  animation-delay: -0.416666666666667s;
					}
					.lds-spinner div:nth-child(8) {
					  -webkit-transform: rotate(210deg);
					  transform: rotate(210deg);
					  -webkit-animation-delay: -0.333333333333333s;
					  animation-delay: -0.333333333333333s;
					}
					.lds-spinner div:nth-child(9) {
					  -webkit-transform: rotate(240deg);
					  transform: rotate(240deg);
					  -webkit-animation-delay: -0.25s;
					  animation-delay: -0.25s;
					}
					.lds-spinner div:nth-child(10) {
					  -webkit-transform: rotate(270deg);
					  transform: rotate(270deg);
					  -webkit-animation-delay: -0.166666666666667s;
					  animation-delay: -0.166666666666667s;
					}
					.lds-spinner div:nth-child(11) {
					  -webkit-transform: rotate(300deg);
					  transform: rotate(300deg);
					  -webkit-animation-delay: -0.083333333333333s;
					  animation-delay: -0.083333333333333s;
					}
					.lds-spinner div:nth-child(12) {
					  -webkit-transform: rotate(330deg);
					  transform: rotate(330deg);
					  -webkit-animation-delay: 0s;
					  animation-delay: 0s;
					}
					.lds-spinner {
					  width: 200px !important;
					  height: 200px !important;
					  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
					  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
					}
					</style></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- POPUP - ADD MEMBER -->
<div class="modal fade" id="addMemberPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<form (ngSubmit)="onSubmitAddMember()" #memberForm="ngForm" class="add_member_form">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-plus"></i> Add New Member</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					
					<div class="form-group">
						<label>Email address</label>
						<input type="email" name="email" [(ngModel)]="add_member.email" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Enter email">
					</div>
					<div class="form-group">
						<label>First Name</label>
						<input type="text" name="firstName" [(ngModel)]="add_member.first_name" class="form-control form-control-sm" placeholder="First Name">
					</div>
					<div class="form-group">
						<label>Last Name</label>
						<input type="text" name="lastName" [(ngModel)]="add_member.last_name" class="form-control form-control-sm" placeholder="Last Name">
					</div>
					<div class="form-group">
						<label>Contact Number</label>
						<input type="text" name="contact" [(ngModel)]="add_member.contact" class="form-control form-control-sm" placeholder="Contact Number">
					</div>
					<div class="form-group">
						<label>Country / Currency</label>
						<select class="form-control form-control-sm" name="country_id" [(ngModel)]="add_member.country_id">
							<option *ngFor="let country of country_list" [ngValue]="country.country_id">{{country.country_name}}</option>
						</select>
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="text" name="password" [(ngModel)]="add_member.password" class="form-control form-control-sm" placeholder="Password">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn add_member_form_close btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save New Member</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- POPUP - CREATE SLOT -->
<div class="modal fade" id="createSlotPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<form (ngSubmit)="onSubmitCreateSlot()" #addSlotForm="ngForm" class="add_slot_form">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-dot-circle-o"></i> Create Slot</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>Code</label>
						<input [(ngModel)]="add_slot.code" type="text" name="code" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Enter Code">
					</div>
					<div class="form-group">
						<label>Pin</label>
						<input [(ngModel)]="add_slot.pin" type="text" name="pin" class="form-control form-control-sm" placeholder="Enter Pin">
					</div>
					<div class="form-group">
						<label>Slot Owner</label>
						<select name="slot_owner" class="form-control form-control-sm" [(ngModel)]="add_slot.slot_owner">
							<option *ngFor="let mlist of member_list" [ngValue]="mlist.id">{{mlist.name}}</option>
						</select>
					</div>
					<div class="form-group">
						<label>Sponsor</label>
						<input [(ngModel)]="add_slot.slot_sponsor" name="slot_sponsor" type="text" class="form-control form-control-sm" placeholder="Sponsor (Slot Code)">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary add_slot_form_close" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
					<button type="button" class="btn btn-secondary" (click)="get_random_code()"><i class="fa fa-qrcode"></i> Get Code</button>
					<button type="submit" class="btn btn-primary" ><i class="fa fa-save"></i> Create Slot</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- POPUP - PLACEMENT -->
<div class="modal fade" id="placeSlotPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<form (ngSubmit)="onSubmitPlaceSlot()" #placeForm="ngForm" class="place_slot_form">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-street-view"></i> Place Slot</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>Slot Code</label>
						<select class="form-control form-control-sm" name="place_slot_code" [(ngModel)]="place_slot.slot_code">
							<ng-container *ngIf="unplaced_slot_list">
								<option *ngFor="let list of unplaced_slot_list" value="{{list.slot_no}}">{{list.slot_no}} ({{list.first_name}} {{list.last_name}})</option>
							</ng-container>
						</select>
					</div>
					<div class="form-group">
						<label>Placement</label>
						<input type="text" class="form-control form-control-sm" placeholder="Placement" name="place_slot_placement" [(ngModel)]="place_slot.slot_placement">
					</div>
					<div class="form-group">
						<label>Position</label>
						<select class="form-control form-control-sm" name="place_slot_position" [(ngModel)]="place_slot.slot_position">
							<option value="LEFT">Left</option>
							<option value="RIGHT">Right</option>
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary place_slot_form_close" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
					<button type="button" (click)="auto_position()" class="btn btn-secondary"><i class="fa fa-rocket"></i> Auto Position</button>
					<button type="submit" class="btn btn-primary"><i class="fa fa-street-view"></i> Place Slot</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- POPUP - PLACEMENT -->
<div class="modal fade" id="resetMemberPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-refresh"></i> Reset Data</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>Enter Security Key for Reset</label>
						<input type="email" class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Enter Security Key">
						<small id="emailHelp" class="form-text text-muted">Only administrator who have the security can use this option</small>
					</div>
					<div class="form-group">
						<label>Choose data you would like to reset</label>

						<div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input" type="checkbox" checked>
								Member List
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input" type="checkbox" checked>
								Slot List
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input" type="checkbox">
								Computation Plan Settings
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
							<input class="form-check-input" type="checkbox">
								Generated Codes / Inventory
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input" type="checkbox">
								Product List
							</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
					<button type="button" class="btn btn-primary"><i class="fa fa-refresh"></i> Reset Slot Information</button>
				</div>
			</form>
		</div>
	</div>
</div>