<div class="form-container">
	<!-- TITLE GROUP -->
	<div class="title-group">
		<div class="clearfix">
			<div class="pull-left icon"><i class="fa fa-money"></i></div>
			<div class="pull-left">
				<h3 class="main-title">Payout Processing</h3>
				<div class="sub-title">Manage Payout of Members</div>
			</div>
			<div class="pull-right">
				<!-- BUTTON GROUP -->
				<div class="button-group">
					<button class="btn btn-secondary" data-toggle="modal" data-target="#payoutConfigPopup"><i class="fa fa-gear"></i> Payout Config</button>
					<button class="btn btn-secondary" data-toggle="modal" data-target="#chargesPopup"><i class="fa fa-dollar"></i> Charges and Tax</button>
					<button class="btn btn-secondary" ><i class="fa fa-calendar"></i> Payout Schedule</button>
					<button class="btn btn-primary" data-toggle="modal" data-target="#processPayoutPopup"><i class="fa fa-credit-card"></i> Process Payout</button>
				</div>
			</div>
		</div>
	</div>
	<!-- FILTER AND SEARCH GROUP -->
	<div class="filter-search-group">
		<div class="row">
			<div class="col-md-8">
				<select class="form-control form-control-sm">
					<option>This Year</option>
					<option>This Quarter</option>
				</select>
			</div>
			
			<div class="col-md-4">
				<input type="text" class="form-control form-control-sm pull-right search" placeholder="Search name or slot code..." name="">
			</div>
		</div>
	</div>
	<!-- TABLE CONTENT -->
	<div class="table-responsive">
		<table class="table table-bordered table-hover table-sm">
			<thead>
				<tr>
					<th class="text-center">Date Start</th>
					<th class="text-center">Date End</th>
					<th class="text-center">Status</th>
					<th class="text-right">Payout Amount</th>
					<th class="text-right">Payout Charge</th>
					<th class="text-right">Payout Total</th>
				</tr>
			</thead>
			<tbody>
				<tr data-toggle="modal" data-target="#payoutPopupForm">
					<td class="text-center">October 24, 2018 - 12:00 AM</td>
					<td class="text-center">October 30, 2018 - 12:00 AM</td>
					<td class="text-center red">Processing</td>
					<td class="text-right">150,000.00</td>
					<td class="text-right">20,000.00</td>
					<td class="text-right">179,000.00</td>
				</tr>
				<tr data-toggle="modal" data-target="#payoutPopupForm">
					<td class="text-center">October 01, 2018 - 12:00 AM</td>
					<td class="text-center">October 24, 2018 - 12:00 AM</td>
					<td class="text-center green">Processed</td>
					<td class="text-right">145,500.00</td>
					<td class="text-right">21,000.00</td>
					<td class="text-right">166,000.00</td>
				</tr>

			</tbody>
			<tfoot>
				<tr style="font-weight: bold;">
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-right">295,000.00</td>
					<td class="text-right">41,000.00</td>
					<td class="text-right blue">345,000.00</td>
				</tr>
			</tfoot>
		</table>
	</div>
	<div class="clearfix">
		<div class="pull-right">
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					<li class="page-item"><a class="page-link" href="#">Previous</a></li>
					<li class="page-item active"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item"><a class="page-link" href="#">Next</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>
<!-- POPUP - PROCESS PAYOUT -->
<div class="modal fade" id="processPayoutPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<form (ngSubmit)="onSubmitAddMember()" #memberForm="ngForm">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-credit-card"></i> Process Payout</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="inputEmail4">What would you like to process?</label>
							<select class="form-control form-control-sm">
								<option>All of Member's Wallet</option>
								<option>Only Payout Request</option>
							</select>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="inputCity">Minimum Payout</label>
							<input type="text" class="form-control form-control-sm" value="1000">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="inputCity">Start Date</label>
							<input type="date" disabled class="form-control form-control-sm" value="2018-10-12">
						</div>
						<div class="form-group col-md-6">
							<label for="inputCity">End Date</label>
							<input type="date" disabled class="form-control form-control-sm" value="2018-10-30">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
					<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Process Payout</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- POPUP - PAYOUT FORM -->
<div class="modal fade big-popup-with-tab" id="payoutPopupForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-money"></i> Payout Form</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<div>
					<!-- TAB.DISTRIBUTED -->
					<div class="tab-pane fade show active" id="distributed" role="tabpanel" aria-labelledby="distributed-tab">
						<div class="group-title">Payout List</div>
						<div class="filter-group">
							<div class="row">
								<div class="col-md-3">
									<select class="form-control form-control-sm">
										<option>All Method</option>
									</select>
								</div>
								<div class="col-md-3">
									<select class="form-control form-control-sm">
										<option>All Bank</option>
									</select>
								</div>
								<div class="col-md-6 text-right filter-btn">
									<button class="btn btn-secondary btn-sm"><i class="fa fa-file-excel-o"></i> Export Payout Details</button>
									<button class="btn btn-primary btn-sm"><i class="fa fa-check"></i> Process Payout</button>
								</div>
							</div>
						</div>
						<div class="table-group">
							<div class="table-responsive">
								<table class="table table-bordered table-hover table-sm" style="table-layout: fixed">
									<thead>
										<tr>
											<th class="text-center" width="200px">Member Name</th>
											<th class="text-center">Slot Code</th>
											<th class="text-center">Gross<br>Payout</th>
											<th class="text-center" width="120">Charge</th>
											<th class="text-center" width="120">Tax (10%)</th>
											<th class="text-center" width="300">Message</th>
											<th class="text-right">Net Payout Amount</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="text-center valign-middle">Guillermo Tabligan</td>
											<td class="text-center valign-middle">S00001</td>
											<td class="text-center"><input type="text" class="form-control form-control-sm text-center" value="12500"></td>
											<td class="text-center valign-middle">800</td>
											<td class="text-center valign-middle">200</td>
											<td class="text-center"><input type="text" class="form-control form-control-sm text-center" value="Payout Successful"></td>
											<td class="text-right valign-middle">11,580.00</td>
										</tr>
										<tr>
											<td class="text-center valign-middle">Raymond Fajardo</td>
											<td class="text-center valign-middle">S00002</td>
											<td class="text-center"><input type="text" class="form-control form-control-sm text-center" value="12500"></td>
											<td class="text-center valign-middle">800</td>
											<td class="text-center valign-middle">200</td>
											<td class="text-center"><input type="text" class="form-control form-control-sm text-center" value="Payout Successful"></td>
											<td class="text-right valign-middle">11,580.00</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<th colspan="6"></th>
											<th class="text-right blue">11,580.00</th>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>

					</div>
				</div>
		</div>
		</div>
	</div>
</div>

<div class="modal fade" id="chargesPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<form (ngSubmit)="onSubmitCharges()" #memberForm="ngForm">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-dollar"></i> Payout Charges</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="inputCity">Payout Charge</label>
							<input type="text" class="form-control form-control-sm" value="0" [(ngModel)]="charges.payout_charges" [ngModelOptions]="{standalone: true}">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="inputCity">Payout Tax(1-100)%</label>
							<input type="text" class="form-control form-control-sm" value="0" [(ngModel)]="charges.payout_tax" [ngModelOptions]="{standalone: true}">
						</div>
						<div class="form-group col-md-6">
							<label for="inputCity">Included GC</label>
							<input type="text" class="form-control form-control-sm" value="0" [(ngModel)]="charges.giftcard" [ngModelOptions]="{standalone: true}">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
					<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Process Payout</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="payoutConfigPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<form (ngSubmit)="onSubmitPayoutConfig()" #memberForm="ngForm">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-gear"></i> Payout Config</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div>
						<label for="inputCity" style="font-weight: bold;">Method List</label>
					</div>
					<div class="form-group">
						<div class="row clearfix">
							<div class="col-md-4">
								<input type="checkbox" name="bank" value="bank" [checked]="payoutMethod.bank" (change)="payoutMethod.bank = !payoutMethod.bank; enable_bank()"><label for="inputCity"> Bank</label>
							</div>
							<div class="col-md-4">
								<input type="checkbox" name="remittance" value="remittance" [checked]="payoutMethod.remittance" (change)="payoutMethod.remittance = !payoutMethod.remittance; enable_remittance()"><label for="inputCity"> Remittance</label>
							</div>
							<div class="col-md-4">
								<input type="checkbox" name="cheque" value="cheque" [checked]="payoutMethod.cheque" (change)="payoutMethod.cheque = !payoutMethod.cheque"><label for="inputCity"> Cheque</label>
							</div>
							<div class="col-md-4">
								<input type="checkbox" name="coinsph" value="coinsph" [checked]="payoutMethod.coinsph" (change)="payoutMethod.coinsph = !payoutMethod.coinsph"><label for="inputCity"> Coins.ph</label>
							</div>
						</div>
					</div>

					<div class="form-group" style="display: none" id="show_bank">
						<div>
							<label for="inputCity" style="font-weight: bold;">Bank List</label>
						</div>
						<div class="form-group">
							<div class="row clearfix">
								<div class="col-md-4">
									<input type="checkbox" name="bank_type" value="BDO" [checked]="payoutMethodBank.BDO" (change)="payoutMethodBank.BDO = !payoutMethodBank.BDO"><label for="inputCity"> BDO</label>
								</div>
								<div class="col-md-4">
									<input type="checkbox" name="bank_type" value="Metrobank" [checked]="payoutMethodBank.Metrobank" (change)="payoutMethodBank.Metrobank = !payoutMethodBank.Metrobank"><label for="inputCity"> Metrobank</label>
								</div>
								<div class="col-md-4">
									<input type="checkbox" name="bank_type" value="BPI" [checked]="payoutMethodBank.BPI" (change)="payoutMethodBank.BPI = !payoutMethodBank.BPI"><label for="inputCity"> BPI</label>
								</div>
								<div class="col-md-4">
									<input type="checkbox" name="bank_type" value="PNB" [checked]="payoutMethodBank.PNB" (change)="payoutMethodBank.PNB = !payoutMethodBank.PNB"><label for="inputCity"> PNB</label>
								</div>
								<div class="col-md-4">
									<input type="checkbox" name="bank_type" value="Landbank" [checked]="payoutMethodBank.Landbank" (change)="payoutMethodBank.Landbank = !payoutMethodBank.Landbank"><label for="inputCity"> Landbank</label>
								</div>
								<div class="col-md-4">
									<input type="checkbox" name="bank_type" value="SecurityBank" [checked]="payoutMethodBank.SecurityBank" (change)="payoutMethodBank.SecurityBank = !payoutMethodBank.SecurityBank"><label for="inputCity"> Security Bank</label>
								</div>
								<div class="col-md-4">
									<input type="checkbox" name="bank_type" value="UnionBank" [checked]="payoutMethodBank.UnionBank" (change)="payoutMethodBank.UnionBank = !payoutMethodBank.UnionBank"><label for="inputCity"> UnionBank</label>
								</div>
								<div class="col-md-4">
									<input type="checkbox" name="bank_type" value="Chinabank" [checked]="payoutMethodBank.Chinabank" (change)="payoutMethodBank.Chinabank = !payoutMethodBank.Chinabank"><label for="inputCity"> Chinabank</label>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group" style="display: none" id="show_remittance">
						<div>
							<label for="inputCity" style="font-weight: bold;">Remittance Center List</label>
						</div>
						<div class="form-group">
							<div class="row clearfix">
								<div class="col-md-4">
									<input type="checkbox" name="remittance_center_type" value="MLhuillier" [checked]="payoutMethodRemit.MLhuillier" (change)="payoutMethodRemit.MLhuillier = !payoutMethodRemit.MLhuillier"><label for="inputCity"> M Lhuillier</label>
								</div>
								<div class="col-md-4">
									<input type="checkbox" name="remittance_center_type" value="Cebuana" [checked]="payoutMethodRemit.Cebuana" (change)="payoutMethodRemit.Cebuana = !payoutMethodRemit.Cebuana"><label for="inputCity"> Cebuana Lhuillier</label>
								</div>
								<div class="col-md-4">
									<input type="checkbox" name="remittance_center_type" value="Palawan" [checked]="payoutMethodRemit.Palawan" (change)="payoutMethodRemit.Palawan = !payoutMethodRemit.Palawan"><label for="inputCity"> Palawan Express</label>
								</div>
								<div class="col-md-4">
									<input type="checkbox" name="remittance_center_type" value="RDPawnshop" [checked]="payoutMethodRemit.RDPawnshop" (change)="payoutMethodRemit.RDPawnshop = !payoutMethodRemit.RDPawnshop"><label for="inputCity"> RD Pawnshop</label>
								</div>
								<div class="col-md-4">
									<input type="checkbox" name="remittance_center_type" value="Villarica" [checked]="payoutMethodRemit.Villarica" (change)="payoutMethodRemit.Villarica = !payoutMethodRemit.Villarica"><label for="inputCity"> Villarica Pawnshop</label>
								</div>
								<div class="col-md-4">
									<input type="checkbox" name="remittance_center_type" value="WesternUnion" [checked]="payoutMethodRemit.WesternUnion" (change)="payoutMethodRemit.WesternUnion = !payoutMethodRemit.WesternUnion"><label for="inputCity"> Western Union</label>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="modal-body row col-md-12" style="padding: 0px 15px 15px 15px; margin: 0px">
					<label style="font-weight: bold;">What would you like to process?</label>
					<select class="form-control" name="process_type" [(ngModel)]="payoutConfig.process_type">
						<option value="wallet">Member's Wallet</option>
						<option value="request">Member's Request</option>
					</select>
				</div>

				<div class="modal-body row col-md-12" style="padding: 0px 15px 15px 15px; margin: 0px">
					<label style="font-weight: bold;">Minimum Encashment</label>
					<input type="number" name="minimum_encashment" class="form-control" [(ngModel)]="payoutConfig.minimum_encashment">
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save & Update</button>
				</div>
			</form>
		</div>
	</div>
</div>