@import "../../../app.component";

* {
    font-family: $ff2;
}

.top {
    .img-container {}

    .text-header {
        font-family: $ff1;
        font-weight: $thin;
        font-size: 45px;
        color: #fff;
    }
}

.navbar {
    background-color: rgba(255, 255, 255, 0.2);

    .navbar-brand {
        margin-right: 40px;
    }

    .navbar-toggler {}

    .navbar-toggler-icon {}

    .navbar-nav {
        .nav-item {
            .nav-link {
                font-size: 14px;
                font-weight: 500;
                color: #fff;
                letter-spacing: 1px;
            }
        }
    }
}

.left-panel {
    background-color: #ecf0f1;

    // max-height: 650px;
    // min-height: 650px;

    .opacity-50p {
        opacity: 0.5;
    }

    ul {
        li {
            a {
                text-decoration: none;
                color: #1c1c1c;

                .right {
                    font-family: $ff2;
                    font-size: 14px;
                    font-weight: $reg;
                }
            }

            padding: 8px 0 8px 0;
            list-style-type: none;
        }
    }
}

.right-panel {
    background-color: #fff;

    // max-height: 650px;
    // min-height: 650px;
}