<div class="container">
	<div class="top d-flex flex-column justify-content-center p-4">
		<div class="img-container">
			<img class="mx-auto d-block wow rollIn" data-wow-delay=".3s" width="120" src="/assets/front/img/wizard-logo.svg">
		</div>
		<div class="text-header text-center wow fadeIn" data-wow-delay=".4s">SETUP WIZARD</div>
	</div>
</div>
<div class="container">
	<div class="row no-gutters">
		<div class="col-md-3">
			<div data-mh="items-a" class="left-panel py-4">
				<ul>
					<li>
						<a href="/wizard/1">
							<div class="d-flex">
								<div class="left">
									<img class="" src="/assets/front/img/step-current.png">
									<!-- use this image when done -->
									<!-- <img class="" src="/assets/front/img/step-done.png"> -->
								</div>
								<div class="right pl-1">
									Owner and Company Information
								</div>
							</div>
						</a>
					</li>
					<li class="opacity-50p">
						<a href="/wizard/2">
							<div class="d-flex">
								<div class="left">
									<img class="" src="/assets/front/img/step-bullet.png">
								</div>
								<div class="right pl-1">
									Country and Base Currency
								</div>
							</div>
						</a>
					</li>
					<li class="opacity-50p">
						<a href="javascript:">
							<div class="d-flex">
								<div class="left">
									<img class="" src="/assets/front/img/step-bullet.png">
								</div>
								<div class="right pl-1">
									Slot Creation
								</div>
							</div>
						</a>
					</li>
					<li class="opacity-50p">
						<a href="javascript:">
							<div class="d-flex">
								<div class="left">
									<img class="" src="/assets/front/img/step-bullet.png">
								</div>
								<div class="right pl-1">
									Setup Membership
								</div>
							</div>
						</a>
					</li>
					<li class="opacity-50p">
						<a href="javascript:">
							<div class="d-flex">
								<div class="left">
									<img class="" src="/assets/front/img/step-bullet.png">
								</div>
								<div class="right pl-1">
									Marketing Plan
								</div>
							</div>
						</a>
					</li>
					<li class="opacity-50p">
						<a href="javascript:">
							<div class="d-flex">
								<div class="left">
									<img class="" src="/assets/front/img/step-bullet.png">
								</div>
								<div class="right pl-1">
									Settings for Stair Step
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-9">
			<div data-mh="items-a" class="right-panel">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>