$primarycolor: #2682bf;
$shoppingcolor: #f57224;


.margin-top-10 
{
    margin-top: 10px;
}

.primary-color 
{
    color: $primarycolor;
}

.btn 
{
    i 
    {
        margin-right: 3px;
    }

    &.btn-primary 
    {
        background-color: $primarycolor;
        border: 2px solid $primarycolor;
        opacity: 0.9;

        &:hover 
        {
            background-color: $primarycolor;
            border: 2px solid $primarycolor;
            opacity: 1;
        }

        &:active 
        {
            background-color: $primarycolor !important;
            border: 2px solid $primarycolor !important;
            opacity: 0.4;
        }

        &:disabled 
        {
            background-color: $primarycolor !important;
            border: 2px solid $primarycolor !important;
            opacity: 0.5;
        }
    }

    &.btn-secondary 
    {
        background-color: #fff;
        color: $primarycolor;
        border: 2px solid $primarycolor;

        &:hover 
        {
            background-color: #fff;
            color: $primarycolor;
            border: 2px solid $primarycolor;
        }
    }

    
}

.shopping-color 
{
    color: $shoppingcolor;
}

.member-layout 
{
    font-family: 'Roboto', sans-serif;
    color: #555;
    font-size: 14px;
    padding-top: 60px;

    .header 
    {
        background-color: #39a7f5; // height: 50px;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 999;

        .header-wrapper 
        {
            // max-width: 1100px;
            width: 100%;
            display: grid;
            align-items: center;
            grid-template-columns: 0.5fr 1.5fr 1fr auto;
            grid-template-areas: "company-info search-box notification name";

            .company-info 
            {
                grid-area: company-info;
                color: #fff;

                // padding: 7px;

                .company-logo 
                {
                    display: inline-block;
                    font-size: 25px;
                    margin-right: 5px;
                }

                .company-name 
                {
                    display: inline-block;
                    font-size: 25px;
                    font-weight: 500;
                }

                @media screen and (max-width: 800px) {
                    .company-logo, .company-name {
                        display: none;
                    }
                }
            }

            .search-box 
            {
                grid-area: search-box;
                margin: 10px 0; // width: 500px;
                overflow: hidden;
                position: relative;

                // .search-input 
                // {
                //     // width: calc(100% - 30px);
                //     width: 100%;
                //     display: inline-block;

                //     input 
                //     {
                //         width: 100%;
                //         border: none;
                //         padding: 5px 10px;
                //         outline: none;
                //         border-radius: 3px;
                //     }
                //     ul
                //     {
                //         li
                //         {
                //             margin-right: 20px;
                //         }
                //     }
                // }

                // .search-icon 
                // {
                //     position: absolute;
                //     right: 0px;
                //     top: 5px;
                //     width: 30px;
                //     display: inline-block;
                //     text-align: center;
                //     background: #fff;
                // }
            }

            .mobile-list 
            {
                grid-area: notification;
                font-size: 19px;
                position: absolute;
                color: #271f1f;
                right: 29px;
                
                @media screen and (max-width: 800px) {
                    .list-inline {
                        display: block !important;
                    }
                }
                
            }

            .name-container 
            {
                grid-area: name;
                display: inline-block;
                color: #fff;
                padding: 14px 0;
                cursor: pointer;
                font-size: 14px;
                position: relative;

                .user-icon 
                {
                    display: inline-block;
                    font-size: 16px;
                    margin-right: 5px;
                    -webkit-transition: all 200ms ease-in-out;
                    transition: all 200ms ease-in-out;
                }

                .name 
                {
                    display: inline-block;
                    margin-right: 7px;
                    font-weight: 400;
                    -webkit-transition: all 200ms ease-in-out;
                    transition: all 200ms ease-in-out;
                }

                .dropdown-arrow 
                {
                    display: inline-block;
                    color: #000;
                    opacity: 0.3;
                    font-size: 16px;
                    -webkit-transition: all 200ms ease-in-out;
                    transition: all 200ms ease-in-out;
                }

                .dropdown 
                {
                    display: none;
                    position: absolute;
                    padding-top: 5px;
                    font-size: 14px;
                    top: 0;
                    right: 0;
                    padding-top: 45px;
                    -webkit-transition: all 100ms ease-in-out;
                    transition: all 100ms ease-in-out;
                    opacity: 0;

                    &.hidden 
                    {
                        display: none !important;
                    }

                    .dropdown-container 
                    {
                        background-color: #fff;
                        color: #333;
                        border: 1px solid #ddd;
                        border-radius: 5px;
                        width: 180px;
                        overflow: hidden;
                        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);

                        .menu 
                        {
                            padding: 8px 15px;

                            &:hover 
                            {
                                background-color: $primarycolor;
                                color: #fff;
                            }

                            &.top-divide 
                            {
                                border-top: 1px solid #eee;
                            }
                        }
                    }
                }

                &:hover 
                {
                    .dropdown 
                    {
                        opacity: 1;
                        display: block;
                    }

                    .user-icon 
                    {
                        opacity: 1;
                    }

                    .name 
                    {
                        opacity: 1;
                    }

                    .dropdown-arrow 
                    {
                        opacity: 1;
                        color: #fff;
                    }
                }
            }

            @media screen and (max-width: 800px) 
            {
                grid-template-columns: auto auto auto auto;
                grid-template-areas: "company-info search-box search-box notification";

                .name-container {
                    display: none;
                    justify-self: end;
                }

                .mobile-list 
                {
                    justify-self: end;
                }
            }
        }
    }
    .page-content
    {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        padding-top: 20px;
        nav
        {
            border-right: 1px solid #f1eded;
            ul
            {
                .nav-item-link
                {
                    display: block;
                    padding: 11px 34px;
                    font-size: 20px;
                    .fa
                    {
                        margin-right:5px;
                    }
                }
            }
        }
        
    }

    .footer 
    {

        position: fixed;
        margin: auto;
        
        width: 100%;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;

        background-color: #fff;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 10px 20px;
        color: #aaa;
        // box-sizing: normal-box;

        .copyright 
        {
            margin-top: 3px;
        }

        .footer-nav 
        {
            text-align: center;

            .nav 
            {
                margin-top: 3px;
                display: inline-block;
                color: #aaa;
                text-decoration: none;

                &:hover 
                {
                    color: #333;
                }
            }

            .divider 
            {
                margin: 0 8px;
            }
        }

        .social-media-links 
        {
            text-align: right;

            .nav 
            {
                color: #aaa;
                display: inline-block;
                font-size: 20px;
                margin-top: -2px;
                margin-left: 15px;

                &:hover 
                {
                    color: #333;
                }
            }
        }
    }
}

