.front-layout
{

    $displayFont: 'Raleway', sans-serif;
    $contentFont: 'Lato', sans-serif;

    $btnColor : #0899e8;
    /* GLOBALS */
    .form-control-icon 
    {
        position: absolute;
        z-index: 2;
        display: block;
        width: 31px;
        line-height: 37px;
        color: #555555;
        font-size: 23px;
        margin-left: 5px;
    }
    .btn-single
    {
        display: inline-block;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 14px;
        padding: 10px;
        width: 100%;
        transition: all 0.5s;
        cursor: pointer;
        text-decoration: none;
    }
    .btn-front
    {
        text-decoration: none;
        color: $btnColor !important;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        vertical-align: middle;
        display: inline-block;
        border: 2px solid $btnColor;
        background: #ffffff;
    }
    .btn-customize
    {
        text-decoration: none !important;
        padding-top: .5rem;
        padding-bottom: .5rem;
        border-radius: 4px;
        vertical-align: middle;
        display: inline-block;
        border: 2px solid #ffffff;
        background: $btnColor;
        color:#fff;
    }
    .btn-primary-custom
    {
        text-decoration: none !important;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        vertical-align: middle;
        display: inline-block;
        border: 2px solid $btnColor;
        background: #ffffff;
        color: $btnColor;
    }
    

    @media screen and (max-width: 800px) 
    {
        .scrolled
        {
            display:none;
        }
        .navbar-brand
        {
            margin-left:10px;
        }
        .navbar-toggler
        {
            margin-right: 10px;
            border: 2px solid #fff;
            span
            {
                font-size: 28px;
                text-align: center;
                color: #fff;
            }
        }
    }
    color: #222;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    overflow-x: hidden !important;
    .scrolled
    {
        background: #fff;
    
        left: 0;
        padding: 0;
        position: fixed;
        top: -100px;
        transform: translateY(100px);
        width: 100%;
        box-shadow: 0 0 20px -10px #000;
        a
        {
            font-size: 13px;
            font-weight: 500;
            letter-spacing: 1px;
            transition: all .4s;
            padding-right: .5rem;
            padding-left: .5rem;
        }
        .nav-link
        {
            color: #222  !important;
        }
        .btn-customize
        {
            text-decoration: none;
            color: $btnColor  !important;
            padding-top: .5rem;
            padding-bottom: .5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            border-radius: 4px;
            vertical-align: middle;
            display: inline-block;
            border: 2px solid $btnColor;
            background: #ffffff;
        }
    }
    nav
    {
        padding:0px;
        background: #0899e8;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 9;
        font-family:$displayFont;
        .alumni-log
        {
            max-width: 70px;
        }
        a
        {
            color: #fff;
        }
        .navbar-nav
        {
            li
            {
                padding: 20px 15px 20px 15px;
                a
                {
                    color: #fff;
                    font-size: 13px;
                    opacity: 1.0;
                    font-weight: 300;
                    padding-right: .5rem;
                    padding-left: .5rem;
                }
                &:hover.link
                {
                    opacity: 0.8;
                    background: #e6e9e2;

                    a
                    {
                        opacity: 1 !important; 
                        color:$btnColor !important;
                    }
                } 
                &.active
                {
                    opacity: 0.8;
                    background: #e6e9e2;

                    a
                    {
                        opacity: 1 !important; 
                        color:$btnColor !important;
                    }
                } 
            }
        }
    }

    main.main-front
    {
        min-height:580px;
        margin-top: 70px;
        padding-bottom:none;
        background:#f4f4f4;
        font-family:$contentFont;
        .page-container
        {
            cursor:pointer;
            padding: 40px; 
            min-height: 580px;
            .page-title
            {
                margin-bottom:50px;
                line-height: 1;
                font-weight: 600; 
                text-align: center;
            }
            .section-title 
            { 
                margin-bottom: 60px; 
            }
        }
    }

    footer
    {
        position: absolute;
        width: 100%;
        background-color: #0876b1;
        color: #eee;
        padding: 50px 0 0;
        font-family:$displayFont;
        .social-link
        {
            color: #f7f8fb  !important;
        }
        p
        {
            color: #f7f8fb  !important;
        }
        .social-buttons
        {
            color: #f7f8fb  !important;
            font-size:30px;
        }
    }

}