<div class="p-5">
	<p class="text-normal text-center">Is "binary genealogy" essential to your compensation plan?</p>
	<p class="text-normal text-center"><a class="text-center" href="#" data-toggle="tooltip" title="DITO ILALALAGAY KUNG ANO YUNG GENEALOGY!">What is binary genealogy?<i class="fa fa-question-circle" aria-hidden="true"></i></a></p>
	<div class="form-container my-5">
		<form class="wow fadeIn">
			<div class="form-group">
				<label for="inputBinaryG">Binary Genealogy</label>
				<select class="form-control fc-custom">
					<option value="Type 1">Disabled</option>
					<option value="Type 2">Enabled</option>
				</select>
			</div>
			<div class="form-group">
				<label for="inputAutoPosition">Auto-Position</label>
				<select class="form-control fc-custom">
					<option value="Type 1">Not Allowed</option>
					<option value="Type 2">Allowed</option>
				</select>
			</div>
			<div class="form-group">
				<label for="inputAutoPositionLogic">Auto-Position Logic</label>
				<select class="form-control fc-custom">
					<option>Left to Right</option>
					<option>Auto balance</option>
					<option>Random</option>
				</select>
			</div>
			<div class="form-group">
				<label for="inputAllowMember">Allow member to disable auto position on there account?</label>
				<select class="form-control fc-custom">
					<option value="Type 1">Disabled</option>
					<option value="Type 2">Enabled</option>
				</select>
			</div>
			<div class="form-group">
				<label for="inputNeMemberDefault">New Member Default</label>
				<select class="form-control fc-custom">
					<option value="Type 1">Enabled Auto Position</option>
					<option value="Type 2">Disabled Auto Position</option>
				</select>
			</div>
			<div class="form-group">
				<label for="inputSlotCreationFormat">Slot Creation Format</label>
				<select class="form-control fc-custom">
					<option value="Type 1">Name Abbrevation + Auto Number</option>
					<option value="Type 2">Number</option>
				</select>
			</div>
		</form>
	</div>
	<hr>
	<div class="button-holder text-right">
		<!-- <button type="" class="btn-c btn-fblue">Next »</button> -->
		<!-- <button type="" class="btn-c btn-fblue">Back »</button> -->
		<a class="btn-c btn-fblue" href="#" [routerLink]="['/wizard/2']" role="button">« Back</a>
		<a class="btn-c btn-fblue  ml-1" href="#" [routerLink]="['/wizard/4']" role="button">Next »</a>
	</div>
</div>