<section class="page-section s-feature">
	<div class="section-header text-center">MLM System Features</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="feature-holder px-3 mt-3">
					<div class="holder-title text-center py-4">BASIC FEATURE</div>
					<div class="basic-feature-holder d-flex align-items-center">
						<div class="icon-holder">
							<img class="img-fluid" width="100" src="/assets/front/img/genealogy-tree.svg">
						</div>
						<div class="icon-desc ml-3 my-5">
							<div class="desc-title">Genealogy Tree</div>
							<div class="desc">A user-friendly approach to representing the down-line members under you. It describes of team structure in the form of a tree.</div>
						</div>
					</div>
					<div class="basic-feature-holder d-flex align-items-center">
						<div class="icon-holder">
							<img class="img-fluid" width="100" src="/assets/front/img/ewallet.svg">
						</div>
						<div class="icon-desc ml-3 my-4">
							<div class="desc-title">eWallet</div>
							<div class="desc">The virtual money where the members are capable of making transactions. All the incomes and  expenses are stored in the form the virtual money.</div>
						</div>
					</div>
					<div class="basic-feature-holder d-flex align-items-center">
						<div class="icon-holder">
							<img class="img-fluid" width="100" src="/assets/front/img/dashboard-income.svg">
						</div>
						<div class="icon-desc ml-3 my-5">
							<div class="desc-title">Dashboard Income</div>
							<div class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</div>
						</div>
					</div>
					<div class="basic-feature-holder d-flex align-items-center">
						<div class="icon-holder">
							<img class="img-fluid" width="100" src="/assets/front/img/profile-mngt.svg">
						</div>
						<div class="icon-desc ml-3 my-5">
							<div class="desc-title">Profile Management Settings</div>
							<div class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</div>
						</div>
					</div>
					<div class="basic-feature-holder d-flex align-items-center">
						<div class="icon-holder">
							<img class="img-fluid" width="100" src="/assets/front/img/income-reports.svg">
						</div>
						<div class="icon-desc ml-3 my-5">
							<div class="desc-title">Income Reports</div>
							<div class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</div>
						</div>
					</div>
					<div class="basic-feature-holder d-flex align-items-center">
						<div class="icon-holder">
							<img class="img-fluid" width="100" src="/assets/front/img/points-reports.svg">
						</div>
						<div class="icon-desc ml-3 my-5">
							<div class="desc-title">Points Reports</div>
							<div class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="feature-holder px-3 mt-3 with-bg">
					<div class="holder-title text-center py-4">ADD-ON FEATURE</div>
					<div class="basic-feature-holder d-flex align-items-center">
						<div class="icon-holder">
							<img class="img-fluid" width="100" src="/assets/front/img/ims.svg">
						</div>
						<div class="icon-desc ml-3 my-5">
							<div class="desc-title">IMS / Internal Messaging System</div>
							<div class="desc">Ability to message other members and admin or admin to message members. Work just like an email system.</div>
						</div>
					</div>
					<div class="basic-feature-holder d-flex align-items-center">
						<div class="icon-holder">
							<img class="img-fluid" width="100" src="/assets/front/img/sms.svg">
						</div>
						<div class="icon-desc ml-3 my-5">
							<div class="desc-title">SMS Feature</div>
							<div class="desc">System to be able to send automated SMS to the user’s mobile on various actions & activities to update the user on his gains & transactions.</div>
						</div>
					</div>
					<div class="basic-feature-holder d-flex align-items-center">
						<div class="icon-holder">
							<img class="img-fluid" width="100" src="/assets/front/img/emailing.svg">
						</div>
						<div class="icon-desc ml-3 my-5">
							<div class="desc-title">Emailing Feature</div>
							<div class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</div>
						</div>
					</div>
					<div class="basic-feature-holder d-flex align-items-center">
						<div class="icon-holder">
							<img class="img-fluid" width="100" src="/assets/front/img/recruitment.svg">
						</div>
						<div class="icon-desc ml-3 my-5">
							<div class="desc-title">Recruitment Replicated Link</div>
							<div class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</div>
						</div>
					</div>
					<div class="basic-feature-holder d-flex align-items-center">
						<div class="icon-holder">
							<img class="img-fluid" width="100" src="/assets/front/img/product-rep.svg">
						</div>
						<div class="icon-desc ml-3 my-5">
							<div class="desc-title">Product Replicated Link</div>
							<div class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>