<div class="p-5">
	<p class="text-normal text-center">Customize how you are going to release your payout.</p>
	<div class="form-container my-5">
		<form class="wow fadeIn">
			<div class="d-flex flex-column">
				<div class="form-group">
					<div class="checkbox checbox-switch switch-info">
						<label >
							<input type="checkbox" checked="">
							<span></span>
							<label class="fnt-l">Enchash all wallet of member every cutoff.</label>
						</label>
					</div>
				</div>
				<div class="form-group">
					<div class="checkbox checbox-switch switch-info">
						<label>
							<input type="checkbox" checked="">
							<span></span>
							<label class="fnt-l">Minimum encashment is</label>
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6">
					<h5>Enchashment Charges</h5>
				</div>
				<div class="form-group col-md-6 text-right">
					<a for="inputLastName" href=""><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Custom Charge</a>
				</div>
			</div>
			<div class="d-flex">
				<table class="table table-sm table-striped border table-hover">
					<thead class="table-secondary text-center">
						<tr>
							<th>_</th>
							<th>Charge Name</th>
							<th>Status</th>
							<th>Charge Type</th>
							<th>Charge Value</th>
							<th>_</th>
							<th>_</th>
						</tr>
					</thead>
					<tbody class="text-center">
						<tr>
							<td><i class="fa fa-bars" aria-hidden="true"></i></td>
							<td>Witholding Tax</td>
							<td>Enabled</td>
							<td>Percentage</td>
							<td>10%</td>
							<td><i class="fa fa-pencil" aria-hidden="true"></i></td>
							<td></td>
							
						</tr>
						<tr>
							<td><i class="fa fa-bars" aria-hidden="true"></i></td>
							<td>Service Fee</td>
							<td>Enabled</td>
							<td>Fixed</td>
							<td>120.00</td>
							<td><i class="fa fa-pencil" aria-hidden="true"></i></td>
							<td></td>
						</tr>
						<tr>
							<td><i class="fa fa-bars" aria-hidden="true"></i></td>
							<td>Service Fee</td>
							<td>Enabled</td>
							<td>Fixed</td>
							<td>120.00</td>
							<td><i class="fa fa-pencil" aria-hidden="true"></i></td>
							<td><i class="fa fa-trash" aria-hidden="true"></i></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="form-group col-md-6">
					<h5>Enchashment Charges</h5>
				</div>
			</div>
			<div class="d-flex">
				<table class="table table-bordered table-striped table-sm">
					<thead class="table-secondary text-center">
						<tr>
							<th>Method Name</th>
							<th>Status</th>
							<th>Additional Charge</th>
							<th>_</th>
						</tr>
					</thead>
					<tbody class="text-center">
						<tr>
							<td>Bank Deposit</td>
							<td>Disabled</td>
							<td>0.00</td>
							<td><i class="fa fa-pencil" aria-hidden="true"></i></td>
						</tr>
						<tr>
							<td>Remittance</td>
							<td>Disabled</td>
							<td>0.00</td>
							<td><i class="fa fa-pencil" aria-hidden="true"></i></td>
						</tr>
						<tr>
							<td>Cheque</td>
							<td>Disabled</td>
							<td>0.00</td>
							<td><i class="fa fa-pencil" aria-hidden="true"></i></td>
							<tr>
								<td>Coins PH</td>
								<td>Disabled</td>
								<td>0.00</td>
								<td><i class="fa fa-pencil" aria-hidden="true"></i></td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
		</div>
		<hr>
		<div class="button-holder text-right">
			<!-- <button type="" class="btn-c btn-fblue">Finish »</button> -->
			<a class="btn-c btn-fblue"href="#" [routerLink]="['/wizard/5']" role="button">« Back</a>
			<a class="btn-c btn-fblue  ml-1" href="#" [routerLink]="['/wizard/6']" role="button">Finish</a>
		</div>
	</div>