$primarycolor: #2682bf;
$shoppingcolor: #f57224;
$display-text: "Roboto", sans-serif;

$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

@mixin transition($transition) {
    -webkit-transition: all $transition ease-in-out;
    -moz-transition: all $transition ease-in-out;
    -o-transition: all $transition ease-in-out;
    transition: all $transition ease-in-out;
}

body {
    background-color: #f3f3f3;
}

.blur-me {
    @include transition(0.2s);
}

.pushmenu {
    background-color: $primarycolor;
    text-align: left;
    width: 300px;
    height: 100%;
    top: 0;
    z-index: 1000;
    position: fixed;
    overflow-y: auto;

    @media screen and (max-width: 320px) {
        width: 250px;
    }

    span {
        font-family: $display-text;
        font-size: 16px;
        font-weight: $semi-bold;
        color: #fff;
        padding-left: 22px;
    }

    .profile-img-container {
        padding: 20px;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        .profile-img {
            overflow: hidden;
            text-align: center;
            margin: auto;
            width: 30%;

            img {
                width: 100%;
                border: 1px solid rgba(#fff, 0.2);
                border-radius: 100%;
            }
        }

        .text-holder {
            padding-left: 10px;
            margin-top: 9px;

            @media screen and (max-width: 349px) {
                margin-top: 2px;
            }

            .text-overflow {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .name-text {
                color: #fff;
                font-weight: $regular;
                font-size: 16px;
            }

            .subtext {
                color: rgba(255, 255, 255, 0.5);
                font-weight: $light;
                font-size: 14px;
            }
        }
    }
}

.pushmenu-left {
    left: -300px;
}

.pushmenu-left.pushmenu-open {
    left: 0;
}

.pushmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.links {
    list-style-type: none;
    width: 93%;
    font-family: $display-text;

    // text-transform: uppercase;
    padding-left: 20px;
    padding-top: 10px;

    li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding: 10px 0px;

        .fa {
            color: #f1f1f1;
            width: 25px;
            text-align: center;
        }

        a {
            position: relative;
            display: block;
            color: #f1f1f1;
            font-size: 16px;
            text-decoration: none;
        }

        @media screen and (max-width: 768px) {
            a {
                font-size: 14px;
            }
        }
    }

    ul {
        display: none;
        color: #fff;

        a {
            text-decoration: none;
            color: #f1f1f1;
            font-size: 14px;
        }

        @media screen and (max-width: 320px) {
            a {
                font-size: 13px;
            }
        }
    }

    .user-logout {
        border-bottom: none;
        color: #fff;
    }
}

.links li:active {
    background-color: rgba(255, 255, 255, 0.2);
}

#overlay {
    @include transition(0.2s);
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    cursor: pointer;
}

/*Transition*/

.pushmenu,
.pushmenu-push {
    @include transition(0.2s);
}

#nav_list {
    display: none;

    @media screen and (max-width: 991px) {
        cursor: pointer;
        display: inline-block;
        margin-right: auto;

        .fa {
            color: #fff;
            font-size: 21px;
            vertical-align: middle;
        }
    }
}

nav-list.active {
    background-position: -331px top;
}
