<div class="member-layout">
	<div id="overlay" (click)="sideNavOff()"></div>
	<div class="side-nav">
		<nav class="pushmenu pushmenu-left">
			<a href="javascript:">
				<div class="profile-img-container">
					<div class="row-no-padding clearfix">
						<div class="col-xs-12">
							<div class="profile-img">
								<img src="../../../assets/front/img/boy.svg" width="16">
							</div>
							<div class="text-holder">
								<div class="name-text text-overflow" *ngIf="user">{{ user.name }}</div>
								<!-- <div class="subtext text-overflow"></div> -->
							</div>
						</div>
					</div>
				</div>
			</a>
			<ul class="links">
				
				<li>
					<a (click)="sideNavOff()" routerLink="/member/cash-in" routerLinkActive="active">
					<i class="fa fa-bank"></i> Cash In</a>
				</li>
				<li>
					<a (click)="sideNavOff()" routerLink="/member/cash-out" routerLinkActive="active">
					<i class="fa fa-money"></i> Cash Out</a>
				</li>
				<li>
					<a (click)="sideNavOff()" routerLink="/member/codevault" routerLinkActive="active">
					<i class="fa fa-key"></i> Code Vault</a>
				</li>
				<li>
					<a (click)="sideNavOff()" routerLink="/member/earning" routerLinkActive="active">
					<i class="fa fa-credit-card"></i> Earnings</a>
				</li>
				<li>
					<a (click)="sideNavOff()" routerLink="/member/genealogy" routerLinkActive="active">
					<i class="fa fa-cubes"></i> My Network</a>
				</li>
				<li>
					<a (click)="sideNavOff()" routerLink="/member/shopping" routerLinkActive="active">
					<i class="fa fa-shopping-bag"></i> Shopping</a>
				</li>
			</ul>
			<ul class="links pt-3">
				<li>
					<a (click)="sideNavOff()" routerLink="/member/settings">Account Settings</a>
				</li>
				<li>
					<a (click)="onLogout()">Logout</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="header py-2">
		<div class="container">
			<div class="header-wrapper">
				<div class="company-info">
					<div id="nav_list" (click)="sideNavOn()">
						<i class="fa fa-bars hamburger"></i>
					</div>
					<div class="company-logo">
						<i class="fa fa-plus"></i>
					</div>
					<div class="company-name">James</div>
				</div>
				<div class="search-box">
					
				</div>
				<div class="mobile-list">
					<ul class="list-inline d-none">
						
						<li class="list-inline-item">
							<i class="fa fa-bell" aria-hidden="true"></i>
						</li>
						<li class="list-inline-item">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</li>
						
					</ul>
				</div>
				<div class="name-container">
					<div class="name" *ngIf="user">{{ user.name }}</div>
					<div class="dropdown-arrow">
						<i class="fa fa-caret-down"></i>
					</div>
					<div class="dropdown">
						<div class="dropdown-container">
							<div (click)="hideDropdown()" routerLink="/member/settings" class="menu">Account Settings</div>
							<div (click)="onLogout()" class="menu top-divide">Logout</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="page-content">
			<nav class="col-md-3 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-item-link active" [routerLink]="['/member/dashboard']" href="javascript:void(0)"><i class="fa fa-bank"></i>DASHBOARD</a>
						</li>
						<li class="nav-item">
							<a class="nav-item-link" [routerLink]="['/home']" href="javascript:void(0)"><i class="fa fa-bank"></i>NEWS FEED</a>
						</li>
						<li class="nav-item">
							<a class="nav-item-link" [routerLink]="['/home']" href="javascript:void(0)"><i class="fa fa-bank"></i>ANNOUNCEMENT</a>
						</li>
						<li class="nav-item">
							<a class="nav-item-link" [routerLink]="['/home']" href="javascript:void(0)"><i class="fa fa-bank"></i>ALUMNI EVENTS</a>
						</li>
						<li class="nav-item">
							<a class="nav-item-link" [routerLink]="['/home']" href="javascript:void(0)"><i class="fa fa-bank"></i>ALUMNI NEARBY</a>
						</li>
						<li class="nav-item">
							<a class="nav-item-link" [routerLink]="['/member/directory']" href="javascript:void(0)"><i class="fa fa-bank"></i>DIRECTORY</a>
						</li>
						<li class="nav-item">
							<a class="nav-item-link" [routerLink]="['/member/chat']" href="javascript:void(0)"><i class="fa fa-bank"></i>GROUP CHAT</a>
						</li>
						
					</ul>
					<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
					<span>MAINTENANCE</span>
					<a class="d-flex align-items-center text-muted" [routerLink]="['/home']" href="javascript:void(0)"><i class="fa fa-bank"></i>
					</a>
					</h6>
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-item-link" [routerLink]="['/home']" href="javascript:void(0)"><i class="fa fa-bank"></i>USER</a>
						</li>
						<li class="nav-item">
							<a class="nav-item-link" [routerLink]="['/home']" href="javascript:void(0)"><i class="fa fa-bank"></i>ANNOUNCEMENT</a>
						</li>
						<li class="nav-item">
							<a class="nav-item-link" [routerLink]="['/home']" href="javascript:void(0)"><i class="fa fa-bank"></i>EVENTS</a>
						</li>
						<li class="nav-item">
							<a class="nav-item-link" [routerLink]="['/home']" href="javascript:void(0)"><i class="fa fa-bank"></i>JOBS</a>
						</li>
						



					</ul>
				</div>
			</nav>
			<main role="main" class="col-md-9 ml-sm-auto  pt-3 px-4">
				<router-outlet></router-outlet>
				<div class="chat-panel">
					<div class="col-sm-12">
						<div id="chat-content" class="chat-content" style="">
							<div class="chat-header">
								<div class="chat-title">
									<span class="glyphicon glyphicon-heart-empty pulse"></span>  Chat Message
								</div>
								<div class="chat-option">
									
									<a (click)="chat_box()"><i class="fa fa-minus"></i></a>
									
								</div>
								<br clear="all">
							</div>
							<div class="chat-body">
								<div class="chat-body-content">
									<div class="message" *ngIf="messages">
										<ul >
											
											<li *ngFor="let data of messages;" class="{{data.sender_id == user.id ? 'me' : 'him' }}">{{data.sender_id}}{{user.id}}{{data.message}}</li>
											
										</ul>
									</div>
									
									<p style="padding-top: 50px;color:#3333;text-align: center;">NO MESSAGE</p>
									
								</div>
								<div class="chat-input">
									<form class="form-message" (ngSubmit)="onSubmitMessage()" #signInForm="ngForm">
										<div class="input-group mb-3">
											<textarea name="message" id="message" [(ngModel)]="send_message.message" class="form-control"  cols="30" rows="10"></textarea>
									    
									    <div class="input-group-append">
									    	<button type="submit" class="btn btn-default"><i class="fa fa-paper-plane"></i>SEND</button>
									    </div>
									  </div>
									</form>
								</div>
							</div>




						</div>
							
					</div>
				</div>
			</main>
		</div>
	</div>
	<div class="footer">
		<div class="clearfix">
			<div class="row">
				<div class="col-md-3 text-left"><div class="copyright">&copy; 2018 james Omosora</div></div>
				<div class="col-md-6 text-center">
					<div class="footer-nav">
						<a class="nav" href="">About</a> <span class="divider">&#8226;</span>
						<a class="nav" href="">Carrers</a> <span class="divider">&#8226;</span>
						<a class="nav" href="">Tems</a> <span class="divider">&#8226;</span>
						<a class="nav" href="">Privacy</a> <span class="divider">&#8226;</span>
						<a class="nav" href="">Press</a>
					</div>
				</div>
				<div class="col-md-3 text-right">
					<div class="social-media-links">
						<a class="nav" href=""><i class="fa fa-facebook-official"></i></a>
						<a class="nav" href=""><i class="fa fa-twitter-square"></i></a>
						<a class="nav" href=""><i class="fa fa-google-plus-official"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>