<section class="page-section s-complan">
	<div class="section-header text-center">Our MLM Compensation Plan</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="complan-holder mt-4 py-5 px-4 d-flex flex-column align-items-center justify-content-center">
					<div class="icon-holder">
						<img class="img-fluid" width="100" src="/assets/front/img/binary.svg">
					</div>
					<div class="comp-title py-2">Binary Computation</div>
					<div class="comp-desc text-center py-2 px-4">This computaion plans uses an algorithm that compares left side and right side of genealogy.</div>
					<button class="btn-c btn-fgreen-bb mt-3" type="">VIEW MORE</button>
				</div>
			</div>
			<div class="col-md-6">
				<div class="complan-holder mt-4 py-5 px-4 d-flex flex-column align-items-center justify-content-center">
					<div class="icon-holder">
						<img class="img-fluid" width="100" src="/assets/front/img/unilevel.svg">
					</div>
					<div class="comp-title py-2">Unilevel Marketing</div>
					<div class="comp-desc text-center py-2 px-4">This uses a ranking system which will allows the user to customize requirement in order to attain certain rank.</div>
					<button class="btn-c btn-fgreen-bb mt-3" type="">VIEW MORE</button>
				</div>
			</div>
		</div>
	</div>
</section>