<div class="p-5">
	<p class="text-normal text-center">Please make sure you enter correct</p>
	<div class="form-container my-5">
		<form class="wow fadeIn">
			<div class="form-group">
				<label for="inputCompanyName">Currency</label>
				<select class="form-control fc-custom">
					<option>
						PHILIPPINES
					</option>
				</select>
			</div>
			<div class="form-group">
				<label for="inputCompanyName">Base Currency</label>
				<select class="form-control fc-custom">
					<option>
						PHP (Philippine PESO)
					</option>
				</select>
			</div>
			<div class="form-group">
				<label for="inputCompanyName">Multiple Currency</label>
				<select class="form-control fc-custom"  (change)="toggleShow()">
					<option>
						Disable
					</option>
					<option>
						Enable
					</option>
				</select>
			</div>	
			<div class="toggle-panel" *ngIf="show">
				<table class="table table-sm table-striped border">
					<thead class="text-center">
						<tr>
							<th>Enabled</th>
							<th>Country</th>
							<th>Currency</th>
							<th>Conversion Multiplier</th>
						</tr>
					</thead>
					<tbody class="text-center">
						<tr>
							<th><input type="checkbox" aria-label="Checkbox for following text input"></th>
							<td>Philippines</td>
							<td>PHP</td>
							<td><div class="alert alert-light" role="alert">1</div></td>
						</tr>
						<tr>
							<th><input type="checkbox" aria-label="Checkbox for following text input"></th>
							<td>United States</td>
							<td>USD</td>
							<td><div class="alert alert-light" role="alert">50</div></td>
						</tr>
						<tr>
							<th><input type="checkbox" aria-label="Checkbox for following text input"></th>
							<td>Japan</td>
							<td>JPY</td>
							<td><div class="alert alert-light w-30 " role="alert">0.3</div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>
	<hr>
	<div class="button-holder text-right">
		<!-- <button type="" class="btn-c btn-fblue">Next »</button> -->
		<a class="btn-c btn-fblue" href="#" [routerLink]="['/wizard/1']" role="button">« Back</a>
		<a class="btn-c btn-fblue  ml-1" href="#" [routerLink]="['/wizard/3']" role="button">Next »</a>
	</div>
</div>