<div class="form-container">
	<!-- TITLE GROUP -->
	<div class="title-group">
		<div class="clearfix">
			<div class="pull-left icon"><i class="fa fa-map-marker"></i></div>
			<div class="pull-left">
				<h3 class="main-title">Stockist and Branches</h3>
				<div class="sub-title">Manage stockist, branches, cashier and inventory</div>
			</div>
			<div class="pull-right">
				<!-- BUTTON GROUP -->
				<div class="button-group">
					<button class="btn btn-secondary" data-toggle="modal" data-target="#manageStockistlevels"><i class="fa fa-columns"></i> Manage Stockist Levels</button>
					<button class="btn btn-secondary" data-toggle="modal" data-target="#manageLocationPopup"><i class="fa fa-columns"></i> Manage Locations</button>
					<button class="btn btn-primary" data-toggle="modal" data-target="#addBranchPopup"><i class="fa fa-plus"></i> Add Branch / Stockist</button>
				</div>
			</div>
		</div>
	</div>
	<!-- FILTER AND SEARCH GROUP -->
	<div class="filter-search-group">
		<div class="row">
			<div class="col-md-8">
				<select class="form-control form-control-sm" [(ngModel)]="branch_filter.branch_type" (change)="load_branch_list()">
					<option value="all">All Type</option>
					<option value="Branch">Branch</option>
					<option value="Stockist">Stockist</option>
				</select>
				<select  class="form-control form-control-sm" [(ngModel)]="branch_filter.branch_location" (change)="load_branch_list()">
					<option value="all">All Locations</option>
					<option *ngFor="let location of locationList" value="{{location.location}}">{{location.location}}</option>
				</select>
			</div>

			<div class="col-md-4">
				<input type="text" [(ngModel)]="branch_filter.search_key" (change)="load_branch_list()" class="form-control form-control-sm pull-right search" placeholder="Search branch name..." name="">
			</div>
		</div>
	</div>
	<!-- TABLE CONTENT -->
	<div class="table-responsive">
		<table class="table table-bordered table-hover table-sm" style="table-layout: fixed">
			<thead>
				<tr>
					<th class="text-center">Stockist /<br> Branch Name</th>
					<th class="text-center">Location</th>
					<th class="text-center">Type</th>
					<th class="text-center">Branch / Stockist<br> Cashier Count</th>
					<th class="text-center">Available<br>Membership Code</th>
					<th class="text-center">Available<br>Product Code</th>
					<th class="text-center">Sold<br>Membership Code</th>
					<th class="text-center">Sold<br>Product Code</th>
					<th class="text-right">Total<br>Sale</th>
				</tr>
			</thead>
			<tbody *ngIf="branchList">
				<tr *ngFor="let branch of branchList" (click)="edit_branch(branch.branch_id)">
					<td class="text-center">{{branch.branch_name}}</td>
					<td class="text-center">{{branch.branch_location}}</td>
					<td class="text-center">{{branch.branch_type}}{{branch.branch_type == "Stockist" ? "(" + branch.stockist_level_name + ")" : ''}}</td>
					<td class="text-center">{{branch.cashier_count}}</td>
					<td class="text-center">{{branch.membership_codes_count}}</td>
					<td class="text-center">{{branch.product_codes_count}}</td>
					<td class="text-center">{{branch.sold_membership_quantity}}</td>
					<td class="text-center">{{branch.sold_product_quantity}}</td>
					<td class="text-right">0</td>
				</tr>
			</tbody>
			<tfoot>
				<th colspan="8"></th>
				<th class="text-right blue">540,000.00</th>
			</tfoot>
		</table>
	</div>
</div>

<!-- POPUP - BRANCH ADD POPUP -->
<div class="modal fade" id="addBranchPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-plus"></i> Add New Branch / Stockist</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Enter Branch Name</label>
					<input type="text" required class="form-control form-control-sm" aria-describedby="emailHelp" placeholder="Branch Name"[(ngModel)]="branch.branch_name">
				</div>
				<div class="form-group">
					<label>Location</label>
					<select class="form-control form-control-sm" required [(ngModel)]="branch.branch_location">
						<option *ngFor="let location of locationList" value="{{location.location}}">{{location.location}}</option>
					</select>
				</div>
				<div class="form-group">
					<label>Type</label>
					<select class="form-control form-control-sm" (change)="check_stockist()"  required [(ngModel)]="branch.branch_type">
						<option value="Branch">Branch</option>
						<option value="Stockist">Stockist</option>
					</select>
				</div>
				<div class="form-group" id="stockist_level" style="display:none">
					<label>Stockist Level</label>
					<select  class="form-control form-control-sm" required [(ngModel)]="branch.stockist_level">
						<option *ngFor="let level of stockistList" value="{{level.stockist_level_id}}">{{level.stockist_level_name}}</option>
					</select>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
				<button type="button" class="btn btn-primary" (click)="branch_submit()"><i class="fa fa-save"></i> Save New Branch</button>
			</div>
		</div>
	</div>
</div>

<!-- POPUP - BRANCH EDIT POPUP -->
<div class="modal fade big-popup-with-tab" id="editBranchPopup"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header" *ngIf="data">
				<h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-map-marker"></i> Manage Branch ({{data.branch_name}})</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- TABS -->
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="modify-tab" data-toggle="tab" href="#modify" role="tab" aria-controls="modify" aria-selected="true">Information</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="points-tab" data-toggle="tab" href="#points" role="tab" aria-controls="points" aria-selected="true">Cashier and Managers</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="inventory-tab" data-toggle="tab" href="#inventory" role="tab" aria-controls="inventory" aria-selected="true">Inventory and Codes</a>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<!-- TAB.MODIFY -->
					<div class="tab-pane fade show active" id="modify" role="tabpanel" aria-labelledby="modify-tab">
						<!-- <form class="form-tab"> -->
							<div class="group-title">Information of Branch / Stockist</div>
							<!-- PRODUCT INFORMATION -->
							<div class="form-row">
								<div class="form-group col-md-12">
									<label><b>Branch Name</b></label>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="data.branch_name">
								</div>
								<div class="form-group col-md-12">
									<label><b>Branch Location</b></label>
									<select class="form-control form-control-sm" [(ngModel)]="data.branch_location">
										<option *ngFor="let location of locationList" value="{{location.location}}">{{location.location}}</option>
									</select>
								</div>
								<div class="form-group col-md-12">
									<label><b>Branch Type</b></label>
									<select class="form-control form-control-sm" [(ngModel)]="data.branch_type">
										<option>Branch</option>
										<option>Stockist</option>
									</select>
								</div>
							</div>
							<div class="button-container clearfix text-right">
								<button class="btn btn-secondary"  data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
								<button class="btn btn-secondary" (click)="archive(data.branch_id)" data-dismiss="modal"><i class="fa fa-trash"></i> Archive</button>
								<button class="btn btn-primary" (click)="update_branch()"><i class="fa fa-save"></i> Update Branch Information</button>
							</div>
						<!-- </form> -->
					</div>

					<!-- TAB.MEMBERSHIP -->
					<div class="tab-pane fade" id="points" role="tabpanel" aria-labelledby="points-tab">
						<div class="group-title">List of Cashier / Manager for {{data.branch_name}}</div>
						<div class="row">
							<div class="col-md-3" style="margin-bottom: 10px;">
								<select class="form-control form-control-sm" [(ngModel)]="cashier_filter.status" (change)="get_cashier(data.branch_id)">
									<option value="all">All Status</option>
									<option value="Active">Active Only</option>
									<option value="Pending">Pending Only</option>
									<option value="Blocked">Blocked Only</option>
								</select>
							</div>
							<div class="col-md-3" style="margin-bottom: 10px;">
								<select class="form-control form-control-sm"  [(ngModel)]="cashier_filter.position" (change)="get_cashier(data.branch_id)">
									<option value="all">All Positions</option>
									<option value="Manager">Manager</option>
									<option value="Cashier">Cashier</option>
								</select>
							</div>
							
							<div class="col-md-1"></div>
							<div class="col-md-5 text-right">
								<button class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#addCashierPopup"><i class="fa fa-plus"></i> Add Cashier/Manager</button>
							</div>

						</div>
						<div class="table-group">
							<div class="table-responsive">
								<table class="table table-bordered table-hover table-sm">
									<thead>
										<tr>
											<th class="text-center">Name</th>
											<th class="text-center">E-Mail</th>
											<th class="text-center">Position</th>
											<th class="text-center">Status</th>
										</tr>
									</thead>
									<tbody *ngIf="cashierList; else none_content">
										<tr  data-toggle="modal" data-target="#editCashierPopup" *ngFor="let cashier of cashierList" (click)="edit_cashier(cashier.cashier_id)">
											<td class="text-center">{{cashier.name}}</td>
											<td class="text-center">{{cashier.email}}</td>
											<td class="text-center">{{cashier.cashier_position}}</td>
											<td class="text-center {{cashier.cashier_status == 'Active' ? 'green' : 'red'}}">{{cashier.cashier_status}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<!-- TAB.INVENTORY -->
					<div class="tab-pane fade" id="inventory" role="tabpanel" aria-labelledby="inventory-tab">
							<div class="group-title">{{data.branch_name}} Inventory</div>
							<div class="table-group">
								<div class="table-responsive">
									<table class="table table-bordered table-hover table-sm" style="table-layout: fixed">
										<thead>
											<tr>
												<th class="text-center">Product SKU</th>
												<th class="text-center">Product Description</th>
												<th class="text-center">Selling Price</th>
												<th width="150px" class="text-center">Quantity<br>Sold</th>
												<th width="150px" class="text-center">Quantity<br>Used</th>
												<th width="150px" class="text-center">Quantity<br>Available</th>
												
											</tr>
										</thead>
										<tbody *ngIf="productList">
											<tr *ngFor="let product of productList;let index = index" (click)="select_item(product.item_id,product.item_sku,index)" [style.background-color]="rowClicked == index ? 'gray' : '' " [style.color]="rowClicked == index ? 'white' : '' ">
												<td class="text-center align-middle">{{product.item_sku}}</td>
												<td class="text-center align-middle">{{product.item_description}}</td>
												<td class="text-center align-middle">{{product.item_price}}</td>
												<td class="text-center align-middle">{{product.sold_codes}}</td>
												<td class="text-center align-middle">{{product.used_codes}}</td>
												<td class="text-center align-middle">{{product.inventory_quantity}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							
						<div id="code_list">
							<div class="group-title">Code List for {{codeSelect.item_sku}}</div>
							<div class="row">
								<div class="col-md-3" style="margin-bottom: 10px;" >
									<select class="form-control form-control-sm" [(ngModel)]="code_filter.status" (change)="select_item(codeSelect.item_id)">
										<option value="all">Show All Codes</option>
										<option value="Used">Used Codes Only</option>
										<option value="Unused">Unused Code Only</option>
										<option value="Sold">Sold Codes Only</option>
										<option value="Unsold">Unsold Codes Only</option>
									</select>
								</div>
								
								<div class="col-md-4"><input  class="form-control form-control-sm" type="text" placeholder="Search for code" name="" [(ngModel)]="code_filter.search" (change)="select_item(codeSelect.item_id)"></div>
								<div class="col-md-5 text-right">
									<button style="margin-right: 5px;"  class="btn btn-sm btn-secondary"><i class="fa fa-file-excel-o"></i> Export to Excel</button>
									<button (click)="generate_codes()" class="btn btn-sm btn-secondary"><i class="fa fa-qrcode"></i> Generate Codes</button>
								</div>

							</div>
							<div class="table-group">
								<div class="table-responsive">
									<table class="table table-bordered table-hover table-sm" style="table-layout: fixed">
										<thead>
											<tr>
												<th class="text-center">Code</th>
												<th class="text-center">Pin</th>
												<th width="200px" class="text-center">Sold to</th>
												<th width="250px" class="text-center">Used on Slot</th>
												<th width="50px"></th>
											</tr>
										</thead>
										<tbody *ngIf="codes_loading">
											<tr>
												<td colspan="5" class="text-center"><i class="fa fa-spinner fa-pulse"></i> Loading Codes</td>
											</tr>
										</tbody>
										<tbody *ngIf="codeList.length > 0 && codes_loading == false">
											<tr *ngFor="let codes of codeList | paginate: { itemsPerPage: 5, currentPage: p}">
												<td class="text-center">{{codes.code_activation}}</td>
												<td class="text-center">{{codes.code_pin}}</td>
												<td class="text-center">{{codes.code_buyer != null ? codes.code_buyer.name : "Not Sold"}}</td>
												<td class="text-center">{{codes.code_user != null ? codes.code_user.name : "Unused"}}</td>
												<td class="text-center red" (click)="archive_code(codes.code_id)"><i class="fa fa-close"></i></td>
											</tr>
										</tbody>
										<tbody *ngIf="codeList.length == 0 && codes_loading == false">
											<tr>
												<td colspan="5" class="text-center">No Data</td>
											</tr>
										</tbody>
									</table>
								</div>

								<div class="clearfix">
									<div class="pull-right">
										<nav aria-label="Page navigation example">
											<pagination-controls (pageChange)="p = $event"></pagination-controls>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- cashier modal -->

<!-- POPUP - BRANCH ADD POPUP -->
<div class="modal fade" id="addCashierPopup" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow:hidden">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-plus"></i> Cashier Info</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="form-group col-md-6">
						<label>Full Name Here</label>
						<input placeholder="Enter name of cashier" type="text" class="form-control form-control-sm" aria-describedby="emailHelp" [(ngModel)]="cashier.full_name" value="{{cashier.full_name}}">
					</div>
					<div class="form-group col-md-6">
						<label>Email</label>
						<input placeholder="Enter email of cashier" type="email" class="form-control form-control-sm" aria-describedby="emailHelp" [(ngModel)]="cashier.email" value="{{cashier.email}}">
					</div>
					<div class="form-group col-md-6">
						<label>Password</label>
						<input placeholder="Password" type="password" class="form-control form-control-sm" aria-describedby="emailHelp" [(ngModel)]="cashier.password">
					</div>
					<div class="form-group col-md-6">
						<label>Confirm Password</label>
						<input placeholder="Confirm Password" type="password" class="form-control form-control-sm" aria-describedby="emailHelp" [(ngModel)]="cashier.password_confirm">
					</div>
					<div> 
						<div class="passwordConfirmationAlert" id="check_password" red></div>
					</div>
					<div class="form-group col-md-12">
						<label>Address</label>
						<input placeholder="Enter address of cashier" type="text" class="form-control form-control-sm" aria-describedby="emailHelp" [(ngModel)]="cashier.address" value="{{cashier.address}}">
					</div>
					<div class="form-group col-md-4">
						<label>Contact Number</label>
						<input placeholder="Enter contact number of cashier" type="text" class="form-control form-control-sm" aria-describedby="emailHelp" [(ngModel)]="cashier.contact_number" value="{{cashier.contact_number}}">
					</div>
					<div class="form-group col-md-4">
						<label>Position</label>
						<select placeholder="Select Position" class="form-control form-control-sm" [(ngModel)]="cashier.position" value="{{cashier.cashier_position}}">
							<option selected value="Manager">Manager</option>
							<option value="Cashier">Cashier</option>
						</select>
					</div>
					<div class="form-group col-md-4">
						<label>Status</label>
						<select placeholder="Select Status" class="form-control form-control-sm" [(ngModel)]="cashier.status" value="{{cashier.cashier_status}}">
							<option selected value="Active">Active</option>
							<option value="Pending">Pending</option>
							<option value="Blocked">Blocked</option>
						</select>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="cashier_add()"><i class="fa fa-save"></i>Save & Update</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="editCashierPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-plus"></i> Edit Cashier Info</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Cashier's Name</label>
					<input type="text" required class="form-control form-control-sm" aria-describedby="emailHelp" [(ngModel)]="cashierInfo.name">
				</div>
				<div class="form-group">
					<label>Email</label>
					<input type="text" required class="form-control form-control-sm" aria-describedby="emailHelp" [(ngModel)]="cashierInfo.email">
				</div>
				<div class="form-group">
					<label>Position</label>
					<select class="form-control form-control-sm" required [(ngModel)]="cashierInfo.cashier_position">
						<option value="Cashier">Cashier</option>
						<option value="Manager">Manager</option>
					</select>
				</div>
				<div class="form-group">
					<label>Status</label>
					<select class="form-control form-control-sm" required [(ngModel)]="cashierInfo.cashier_status">
						<option value="Active">Active</option>
						<option value="Pending">Pending</option>
						<option value="Blocked">Blocked</option>

					</select>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="edit_cashier_submit(cashierInfo.cashier_id)"><i class="fa fa-save"></i> Save & Update</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="manageLocationPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-plus"></i>Manage Location</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<table class="table table-bordered table-hover table-sm">
				<thead>
					<tr>
						<th class="text-center align-middle">Location </th>
						<th style="padding: 25px"></th>
					</tr>
				</thead>
				<tbody *ngIf="locationList" id="hideLocation">
					<tr *ngFor="let level of locationList; let i = index;let first = first; let last = last" >
						<td class="text-center align-middle">
							<input type="text" name="stockist_level_name" class="form-control" [(ngModel)]="locationList[i].location" >
						</td>
						<td (click)="last ? add_location(i) : delete_location(i,locationList[i].location)" class="text-center {{ last ? 'blue' : 'red' }} valign-middle"><i class="fa fa-{{ last ? 'plus' : 'close' }}"></i></td>
					</tr>
				</tbody>
			</table>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
				<button type="button" class="btn btn-primary" (click)="add_location_submit()"><i class="fa fa-save"></i> Save & Update</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="manageStockistlevels" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-plus"></i>Manage Stockist Levels</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<table class="table table-bordered table-hover table-sm">
				<thead>
					<tr>
						<th class="text-center align-middle">Stockist Level</th>
						<th style="padding: 25px"></th>
					</tr>
				</thead>
				<tbody *ngIf="stockistList">
					<tr *ngFor="let level of stockistList; let i = index;let first = first; let last = last">
						<td class="text-center align-middle">
							<input type="text" name="stockist_level_name" class="form-control" [(ngModel)]="stockistList[i].stockist_level_name" >
						</td>
						<td (click)="last ? add_level(i) : delete_level(i,stockistList[i].stockist_level_name)" class="text-center {{ last ? 'blue' : 'red' }} valign-middle"><i class="fa fa-{{ last ? 'plus' : 'close' }}"></i></td>
					</tr>
				</tbody>
			</table>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
				<button type="button" class="btn btn-primary" (click)="add_stockist_level()"><i class="fa fa-save"></i> Save & Update</button>
			</div>
		</div>
	</div>
</div>