<div class="container profile-details">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="">
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="profile-head">
                    <h5>
                    Kshiti Ghelani
                    </h5>
                    <h6>
                    Web Developer and Designer
                    </h6>
                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="true">About Me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="update-tab" data-toggle="tab" href="#update" role="tab" aria-controls="update" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="security-tab" data-toggle="tab" href="#security" role="tab" aria-controls="security" aria-selected="false">Security</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>WORK LINK</p>
                    <a href="">Website Link</a><br>
                    <a href="">Bootsnipp Profile</a><br>
                    <a href="">Bootply Profile</a>
                    <p>SKILLS</p>
                    <a href="">Web Designer</a><br>
                    <a href="">Web Developer</a><br>
                    <a href="">WordPress</a><br>
                    <a href="">WooCommerce</a><br>
                    <a href="">PHP, .Net</a><br>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade active show" id="about" role="tabpanel" aria-labelledby="about-tab">
                        <div class="row" style="border-bottom: 2px solid #5555;">
                            <div class="col-md-6">
                                <label>User Id</label>
                            </div>
                            <div class="col-md-6">
                                <p>Kshiti123</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>Kshiti Ghelani</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>kshitighelani@gmail.com</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>123 456 7890</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Profession</label>
                            </div>
                            <div class="col-md-6">
                                <p>Web Developer and Designer</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="update" role="tabpanel" aria-labelledby="update-tab">
                        <div class="row clearfix user-update-details ">
                            <!-- <form class="form" action="" method="post" id="registrationForm"> -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="label">NAME</div>
                                    <input type="text" class="form-control" name="first_name"  placeholder="first name" title="enter your first name if any.">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="col-xs-6">
                                    <div class="label">NAME</div>
                                    <input type="text" class="form-control" name="first_name"  placeholder="first name" title="enter your first name if any.">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="col-xs-6">
                                    <div class="label">NAME</div>
                                    <input type="text" class="form-control" name="first_name"  placeholder="first name" title="enter your first name if any.">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="col-xs-6">
                                    <div class="label">NAME</div>
                                    <input type="text" class="form-control" name="first_name"  placeholder="first name" title="enter your first name if any.">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="col-xs-6">
                                    <div class="label">NAME</div>
                                    <input type="text" class="form-control" name="first_name"  placeholder="first name" title="enter your first name if any.">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="col-xs-6">
                                    <div class="label">NAME</div>
                                    <input type="text" class="form-control" name="first_name"  placeholder="first name" title="enter your first name if any.">
                                </div>
                            </div>
                            <div class="form-group col-md-4 offset-md-8 mx-auto action-btn">
                                <button class="btn-submit" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">
                        <div class="row clearfix user-update-details ">
                            <!-- <form class="form" action="" method="post" id="registrationForm"> -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="label">NAME</div>
                                    <input type="text" class="form-control" name="first_name"  placeholder="first name" title="enter your first name if any.">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="col-xs-6">
                                    <div class="label">NAME</div>
                                    <input type="text" class="form-control" name="first_name"  placeholder="first name" title="enter your first name if any.">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="col-xs-6">
                                    <div class="label">NAME</div>
                                    <input type="text" class="form-control" name="first_name"  placeholder="first name" title="enter your first name if any.">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="col-xs-6">
                                    <div class="label">NAME</div>
                                    <input type="text" class="form-control" name="first_name"  placeholder="first name" title="enter your first name if any.">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="col-xs-6">
                                    <div class="label">NAME</div>
                                    <input type="text" class="form-control" name="first_name"  placeholder="first name" title="enter your first name if any.">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="col-xs-6">
                                    <div class="label">NAME</div>
                                    <input type="text" class="form-control" name="first_name"  placeholder="first name" title="enter your first name if any.">
                                </div>
                            </div>
                            <div class="form-group col-md-4 offset-md-8 mx-auto action-btn">
                                <button class="btn-submit" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </form>
</div>