<div class="p-5">
	<p class="text-normal text-center">Customize computation for members</p>
	<div class="form-container my-5">
		<form class="wow fadeIn">
			<div class="row">
				<div class="col-md-9">
					<h5 class="fnt-l">Unilevel  Genealogy Complan</h5>
				</div>
				<div class="col-md-3">
				</div>
			</div>
			<div class="d-flex">
				<table class="table table-sm table-striped border">
					<thead>
						<tr class="inf">
							<th>Computation Plan Name</th>
							<th>Earning Label</th>
							<th>Trigger</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr class="inf">
							<td >Direct Referal</td>
							<td>Indirect Referal Bonus</td>
							<td>Registration</td>
							<td><a href="">disabled</a></td>
						</tr>
						<tr class="inf">
							<td>Indirect Referal</td>
							<td>Indirect Bonus</td>
							<td>Registration</td>
							<td><a href="">disabled</a></td>
						</tr>
						<tr class="inf">
							<td>Unilevel</td>
							<td>Unilevel Bonus</td>
							<td>Product Purchase</td>
							<td><a href="">disabled</a></td>
						</tr>
						<tr class="inf">
							<td>Stair Step</td>
							<td>Stair Step Bonus</td>
							<td>Product Purchase</td>
							<td><a href="">disabled</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<br>
			<div class="row">
				<div class="col-md-9">
					<h5 class="fnt-l">Binary  Genealogy Complan</h5>
				</div>
				<div class="col-md-3">
				</div>
			</div>
			<div class="d-flex">
				<table class="table table-sm table-striped border">
					<thead>
						<tr class="inf">
							<th>Computation Plan Name</th>
							<th>Earning Label</th>
							<th>Trigger</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr class="inf">
							<td>Binary Pairing</td>
							<td>Pairing Bonus</td>
							<td>Registration</td>
							<td><a href="">disabled</a></td>
						</tr>
						<tr class="inf">
							<td>2x2 Matrix</td>
							<td>Matrix Bonus</td>
							<td>Registration</td>
							<td><a href="">disabled</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>
	<hr>
	<div class="button-holder text-right">
		<!-- <button type="" class="btn-c btn-fblue">Next »</button> -->
		<!-- <button type="" class="btn-c btn-fblue">Back »</button> -->
		<a class="btn-c btn-fblue" href="#" [routerLink]="['/wizard/4']" role="button">« Back</a>
		<a class="btn-c btn-fblue  ml-1" href="#" [routerLink]="['/wizard/6']" role="button">Next »</a>
	</div>
</div>